Trimech/force-app/main/default/flows/Asset_Summary_Display.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Hardware_Assignment</name>
        <label>Copy 1 of Hardware Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hardcol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>hardwareSummaryLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Software_Assignment</name>
        <label>Copy 1 of Software Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>softcol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>softwareSummaryLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Asset_Summary</collectionReference>
        <connector>
            <targetReference>Asset_Loop</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Asset_Type__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>dSort</name>
        <label>dSort</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Hardware_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hardware</defaultConnectorLabel>
        <rules>
            <name>Software</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Loop.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Software_Assignment</targetReference>
            </connector>
            <label>Software</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>hardwareSummaryLine</name>
        <dataType>String</dataType>
        <expression>TEXT({!Asset_Loop.Asset_Type__c}) &amp; &quot; (&quot; &amp; TEXT({!Asset_Loop.Asset_Technology__c}) &amp; &quot;) : &quot; &amp; TEXT({!Asset_Loop.Asset_Count__c})</expression>
    </formulas>
    <formulas>
        <name>ShowHardware</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!hardcol},&quot;[&quot;,&quot;&quot;),&quot;]&quot;,&quot;&quot;),&quot;,&quot;,&quot;&lt;br/&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>showSoftware</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!softcol},&quot;[&quot;,&quot;&quot;),&quot;]&quot;,&quot;&quot;),&quot;,&quot;,&quot;&lt;br/&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>softwareSummaryLine</name>
        <dataType>String</dataType>
        <expression>TEXT({!Asset_Loop.Asset_Class__c}) &amp; &quot; : &quot; &amp; TEXT({!Asset_Loop.Asset_Count__c})</expression>
    </formulas>
    <interviewLabel>Asset_Summary_Display {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset_Summary_Display</label>
    <loops>
        <name>Asset_Loop</name>
        <label>Asset Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Asset_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dSort</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sc1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset_Summary</name>
        <label>Get Asset Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Sc1</name>
        <label>Asset Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TriMech_Asset_Summary</name>
            <fieldText>TriMech Asset Summary</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TriMech_Asset_Summary_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Software_txt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Software&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!showSoftware}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>softcol</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TriMech_Asset_Summary_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hardware_txt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Hardware&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!ShowHardware}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>hardcol</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>hardcol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hardwareSummaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>softcol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>softwareSummaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
