Trimech/force-app/main/default/flows/Bulkified_DLRS_Scheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Invocable_Method_to_Schedule_DLRS</name>
        <label>Call Invocable Method to Schedule DLRS</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <actionName>InvocableScheduleDLRS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>delayInterval</name>
            <value>
                <elementReference>Minutes_Between_Each_Job_Start</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dlrsList</name>
            <value>
                <elementReference>DLRS_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduledDateTime</name>
            <value>
                <elementReference>Job_Start_Date_Time</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Id_to_List_of_Ids</name>
        <label>Add Id to List of Ids</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>DLRS_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Selected_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Records</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Bulkified DLRS Scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulkified DLRS Scheduler</label>
    <loops>
        <name>Loop_through_Selected_Records</name>
        <label>Loop through Selected Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>SelectedRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_List_of_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_Invocable_Method_to_Schedule_DLRS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Rollups</name>
        <label>Get Account Rollups</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selection_Screen</targetReference>
        </connector>
        <filters>
            <field>dlrs__ParentObject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>dlrs__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>dlrs__LookupRollupSummary2__mdt</object>
    </recordLookups>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompleteMessage</name>
            <fieldText>&lt;p&gt;Thank you! Your DLRS Jobs have successfully be scheduled for {!Job_Start_Date_Time}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_Screen</name>
        <label>Selection Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Selected_Records</targetReference>
        </connector>
        <fields>
            <name>Job_Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Job Start Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Minutes_Between_Each_Job_Start</name>
            <dataType>Number</dataType>
            <fieldText>Minutes Between Each Job Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>dlrsTable</name>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account_Rollups</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Account_Rollups</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Label&quot;,&quot;guid&quot;:&quot;column-19d7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-5d58&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedRecords</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Account_Rollups</startElementReference>
    <status>Active</status>
    <variables>
        <name>DLRS_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>dlrs__LookupRollupSummary2__mdt</objectType>
    </variables>
</Flow>
