Trimech/force-app/main/default/flows/Case_Survey_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Survey_Email_On_Case_Close</name>
        <label>Send Survey Email On Case Close</label>
        <locationX>275</locationX>
        <locationY>1824</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Survey_Send_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OWDEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Hardware_Queue</name>
        <label>Set Hardware Queue</label>
        <locationX>143</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>printersupport@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Software_Queue</name>
        <label>Set Software Queue</label>
        <locationX>407</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Id_Not_Null</name>
        <label>Check Account Id Not Null</label>
        <locationX>275</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Set_OWD_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_subject_Account</targetReference>
            </connector>
            <label>Account Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Id_Not_Null</name>
        <label>Check Contact Id Not Null</label>
        <locationX>275</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Id_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_subject_Contact</targetReference>
            </connector>
            <label>Contact Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_OWD_Email_Address</name>
        <label>Set : OWD Email Address</label>
        <locationX>275</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Set_Software_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hardware_Queue</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Sending_Criteria</name>
        <label>Survey Sending Criteria</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Do_Not_Send_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Do_Not_Send_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Record</targetReference>
            </connector>
            <label>Send Survey</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Survey Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Survey Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_survey_Invitaion</name>
        <label>Create survey Invitaion</label>
        <locationX>275</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Create_Survey_subject</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>Get_Experience_SIte_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowParticipantAccessTheirResponse</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>Get_Survey_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_subject</name>
        <label>Create Survey subject</label>
        <locationX>275</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Check_Contact_Id_Not_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_survey_Invitaion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveySubject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_subject_Account</name>
        <label>Create Survey subject Account</label>
        <locationX>143</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Set_OWD_Email_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_survey_Invitaion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveySubject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_subject_Contact</name>
        <label>Create Survey subject Contact</label>
        <locationX>143</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Check_Account_Id_Not_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_survey_Invitaion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveySubject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>275</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Survey_Email_On_Case_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Close_Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Experience_SIte_Id</name>
        <label>Get Experience SIte Id</label>
        <locationX>275</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_survey_Invitaion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trimech Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Network</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Record</name>
        <label>Get Survey Record</label>
        <locationX>275</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Experience_SIte_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>trimech_support_survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Survey_Send_True</name>
        <label>Set Survey Send True</label>
        <locationX>275</locationX>
        <locationY>1932</locationY>
        <inputAssignments>
            <field>Survey_Send__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey_Send__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_Send_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Bounced_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Email_Opt_Out__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MasterRecordId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Client Self-Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Handed Off to Another Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ClosedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Case_Closed</name>
            <connector>
                <targetReference>Survey_Sending_Criteria</targetReference>
            </connector>
            <label>Case Closed</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ClosedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>OWDEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>support@trimech.com</stringValue>
        </value>
    </variables>
</Flow>
