Trimech/force-app/main/default/flows/Case_Comment_After_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Comment_Added_Email_to_Owner</name>
        <label>Send Comment Added Email to Owner</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Case_Status</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Parent.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@trimech.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>customNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>caseCommentAddedEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToSubject</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Applications_Queue</name>
        <label>Applications Queue</label>
        <locationX>600</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Applications_Enterprise_Support</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Case_Comment</name>
        <label>Create Case Comment</label>
        <locationX>468</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>NewCaseComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseComment.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseComment.CommentBodyRichtext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseCommentBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseComment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hardware_Queue</name>
        <label>Hardware Queue</label>
        <locationX>336</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware_Team_Support</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hardware_OWD</name>
        <label>Set Hardware OWD</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>printersupport@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Comment_Added_Email_to_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_Case_Record</name>
        <label>Set Related Case Record</label>
        <locationX>72</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_in_New_Case</name>
        <label>Set Values in New Case</label>
        <locationX>468</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>newCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Case_NetSuite_Id_IO__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Zendesk_Ticket_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.NetSuite_Case_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Survey_Send__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Child_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check : Case Status/User</label>
        <locationX>468</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Status</name>
            <conditionLogic>(1 AND 2 AND 3 AND (4 OR 7)) OR (5 AND 6 AND (4 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TriMech Customer Portal Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCommentReceievedWithDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TriMech Customer Portal Manager Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Related_Case_Record</targetReference>
            </connector>
            <label>Update Status</label>
        </rules>
        <rules>
            <name>Closed_Case_Comment_Received_after_24hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_Owner</targetReference>
            </connector>
            <label>Closed Case Comment Received after 24hrs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Product_Type</name>
        <label>Check For Product Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Comment_Added_Email_to_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hardware_OWD</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comment_User_is_not_owner</name>
        <label>Comment User is not owner</label>
        <locationX>468</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Parent.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Product_Type</targetReference>
            </connector>
            <label>Not Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Queue_Owner</name>
        <label>Set Queue Owner</label>
        <locationX>468</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Applications_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application/Enterprise</defaultConnectorLabel>
        <rules>
            <name>Hardware1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hardware_Queue</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isCommentReceievedWithDay</name>
        <dataType>Boolean</dataType>
        <expression>ABS(DATETIMEVALUE({!$Record.CreatedDate}) - DATETIMEVALUE({!CaseRecord.ClosedDate})) &lt; 1</expression>
    </formulas>
    <interviewLabel>Case Comment : After Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Comment : After Insert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Child_Case</name>
        <label>Create New Child Case</label>
        <locationX>468</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Create_Case_Comment</targetReference>
        </connector>
        <inputReference>newCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCaseComment</name>
        <label>CreateCaseComment</label>
        <locationX>468</locationX>
        <locationY>1811</locationY>
        <inputReference>NewCaseComment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue_Record</name>
        <label>Get Queue Record</label>
        <locationX>468</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_in_New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>72</locationX>
        <locationY>1187</locationY>
        <inputReference>CaseRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comment_User_is_not_owner</targetReference>
        </connector>
        <object>CaseComment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>caseCommentAddedEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Hi {!$Record.Parent.Owner:User.Full_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;A new Case Comment has been added to Case {!$Record.Parent.CaseNumber}: &lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!$Record.CommentBody}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;The TriMech Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CaseCommentBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Client comment reopened an old case, please check case &lt;a href=&quot;https://trimech12345.lightning.force.com/{!CaseRecord.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!CaseRecord.CaseNumber}&lt;/a&gt;.&amp;nbsp;Please review all communication history to identify the comment that triggered this case.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>customNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Case Comment Added on Case #{!$Record.Parent.CaseNumber}:
{!$Record.CommentBody}</text>
    </textTemplates>
    <textTemplates>
        <name>customNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Comment On Case #{!$Record.Parent.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewCaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>NotificationRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OWDEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>support@trimech.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
