Trimech/force-app/main/default/flows/Case_After_Insert_And_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_ENTERPRISE_SIMULATION_ElectroMagnetic</name>
        <label>Send Email Action ENTERPRISE | SIMULATION ElectroMagnetic</label>
        <locationX>468</locationX>
        <locationY>2832</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Product_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Get_User_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OWDEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>newCaseEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>newCaseEmailQueue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Action_ENTERPRISE_SIMULATION_ElectroMagnetic_Update</name>
        <label>Send Email Action ENTERPRISE | SIMULATION ElectroMagnetic Update</label>
        <locationX>1414</locationX>
        <locationY>1524</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Escalation_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Transform_User_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OWDEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>newCaseEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>newCaseEmailQueue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_On_New_Case</name>
        <label>Send Email On New Case</label>
        <locationX>4384</locationX>
        <locationY>1800</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CaseAutoresponderEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>CaseCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OWDEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>newCaseEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>newCaseEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToSubject</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Reminder_Email</name>
        <label>Send Reminder Email</label>
        <locationX>2624</locationX>
        <locationY>984</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OWDEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Copy_2_of_Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToSubject</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_3_of_Set_Application_OWD_Email</name>
        <label>Set : Application OWD Email</label>
        <locationX>3042</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Reminder_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_Hardware_OWD_Email</name>
        <label>Set : Hardware OWD Email</label>
        <locationX>2778</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>printersupport@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Reminder_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Application_OWD_Email</name>
        <label>Set : Application OWD Email</label>
        <locationX>2338</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Reminder_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Hardware_OWD_Email</name>
        <label>Set : Hardware OWD Email</label>
        <locationX>2074</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>printersupport@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Reminder_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Set_Application_OWD_Email</name>
        <label>Set : Application OWD Email</label>
        <locationX>314</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Case_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Set_Hardware_OWD_Email</name>
        <label>Set : Hardware OWD Email</label>
        <locationX>50</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>printersupport@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Case_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Application_OWD_Email</name>
        <label>Set : Application OWD Email</label>
        <locationX>1018</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Case_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_CC_Emails</name>
        <label>Set Case CC Emails</label>
        <locationX>4252</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>CaseCCEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source:EmailMessage.CcAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_On_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_as_Contact_Email</name>
        <label>Set Email as Contact Email</label>
        <locationX>4384</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>CaseAutoresponderEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Holiday_MSG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_as_Supplied_Email</name>
        <label>Set Email as Supplied Email</label>
        <locationX>4120</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>CaseAutoresponderEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Holiday_MSG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hardware_OWD_Email</name>
        <label>Set : Hardware OWD Email</label>
        <locationX>754</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>printersupport@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Case_Email_Template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Attach_files_In_Received_Through_WEB_Form</name>
        <label>Attach files In Received Through WEB Form</label>
        <locationX>600</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Email_To_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Guest_User_FileUpload__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Guest_User_FileUpload__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContentVersionId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContentVersionId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Version</targetReference>
            </connector>
            <label>File Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Content_Version_Present</name>
        <label>Check : Content Version Present</label>
        <locationX>446</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Email_To_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Content_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Version</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CDL</targetReference>
            </connector>
            <label>Content Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_case_source_Id</name>
        <label>Check for case source Id</label>
        <locationX>4384</locationX>
        <locationY>1500</locationY>
        <defaultConnector>
            <targetReference>Send_Email_On_New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_Email_To_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.CcAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_CC_Emails</targetReference>
            </connector>
            <label>Source Email To Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Email_Origin</name>
        <label>Check For Email Origin</label>
        <locationX>4384</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Check_For_Email_To_Send</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_voice_mail_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Voicemail_Exception_Emails</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Email_To_Send</name>
        <label>Check For Email To Send</label>
        <locationX>4384</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Get_Holiday_MSG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suppleid_Email_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_as_Supplied_Email</targetReference>
            </connector>
            <label>Suppleid Email Present</label>
        </rules>
        <rules>
            <name>Check_For_Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_as_Contact_Email</targetReference>
            </connector>
            <label>Check For Contact Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Entitlement_Present</name>
        <label>Check for Entitlements</label>
        <locationX>1073</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>isNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entitlement_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Related_Entitlements_Process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntitlementId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Entitlment_Process_Id</targetReference>
            </connector>
            <label>Entitlement Present</label>
        </rules>
        <rules>
            <name>Entitlemnt_Process_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntitlementProcessId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Entitlements_Application_Standard</targetReference>
            </connector>
            <label>Entitlemnt Process Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Modified_2_Days_Before</name>
        <label>Check : Last Modified 2 Days Before</label>
        <locationX>2965</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Change_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check2DaysBefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Email_Template</targetReference>
            </connector>
            <label>Status Change Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Modified_4_Days_Before</name>
        <label>Check : Last Modified 4 Days Before</label>
        <locationX>3702</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed_4_Days_Before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check4DaysBefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Status Changed 4 Days Before</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Mapping</name>
        <label>Check : Product Mapping</label>
        <locationX>402</locationX>
        <locationY>3240</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Mapping_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Maapings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCase</targetReference>
            </connector>
            <label>Product Mapping Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Null</name>
        <label>Check Product Null</label>
        <locationX>600</locationX>
        <locationY>3024</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Maapings</targetReference>
            </connector>
            <label>Product Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Email_Queue</name>
        <label>Email Queue</label>
        <locationX>2338</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Send_Reminder_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Hardware_Queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware_Team_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Set_Hardware_OWD_Email</targetReference>
            </connector>
            <label>Hardware Queue</label>
        </rules>
        <rules>
            <name>Copy_2_of_Application_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applications_Enterprise_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Set_Application_OWD_Email</targetReference>
            </connector>
            <label>Application Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Email_To_Case</name>
        <label>Email To Case</label>
        <locationX>2624</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Set_OWD_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Is_Email_To_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Email_Queue</targetReference>
            </connector>
            <label>Is Email To Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Set_OWD_Email_Address</name>
        <label>Set : OWD Email Address</label>
        <locationX>2910</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Set_Application_OWD_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_Hardware_OWD_Email</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Inside_Voicemail_Exception</name>
        <label>Email Inside Voicemail Exception</label>
        <locationX>4230</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Check_For_Email_To_Send</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Voicemail_Exception_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voicemail_Exception_Emails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Email Exception Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Queue</name>
        <label>Email Queue</label>
        <locationX>314</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>Get_New_Case_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HardwareQueue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware_Team_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Set_Hardware_OWD_Email</targetReference>
            </connector>
            <label>Hardware Queue</label>
        </rules>
        <rules>
            <name>Application_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applications_Enterprise_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Set_Application_OWD_Email</targetReference>
            </connector>
            <label>Application Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_To_Case</name>
        <label>Email To Case</label>
        <locationX>600</locationX>
        <locationY>1800</locationY>
        <defaultConnector>
            <targetReference>Set_OWD_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Email_To_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Queue</targetReference>
            </connector>
            <label>Is Email To Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNew</name>
        <label>isNew</label>
        <locationX>1073</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Send_Email_On_Update_ENTERPRISE_SIMULATION_ElectroMagnetic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attach_files_In_Received_Through_WEB_Form</targetReference>
            </connector>
            <label>New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_ENTERPRISE_SIMULATION_ElectroMagnetic</name>
        <label>Send Email - ENTERPRISE | SIMULATION ElectroMagnetic</label>
        <locationX>600</locationX>
        <locationY>2508</locationY>
        <defaultConnector>
            <targetReference>Check_Product_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_For_Simuliation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIMULIA CST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Records</targetReference>
            </connector>
            <label>Send Email For Simuliation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_On_Case_Creation</name>
        <label>Send Email On Case Creation</label>
        <locationX>4604</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_WebForm_Phone_Email</name>
            <conditionLogic>(1 OR 2 OR 3 OR 5) AND (4 OR (5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_New_Case_Automation_Switch_Setting_Record.Case_Enabled_New_Case_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Email_Origin</targetReference>
            </connector>
            <label>Case : Web Form/Phone/Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_On_Update_ENTERPRISE_SIMULATION_ElectroMagnetic</name>
        <label>Send Email On Update - ENTERPRISE | SIMULATION ElectroMagnetic</label>
        <locationX>1546</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Set_Escalation_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_For_Simuliation_On_Update</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIMULIA CST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Records_Update</targetReference>
            </connector>
            <label>Send Email For Simuliation On Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Entitlements_Process</name>
        <label>Set Entitlements Process</label>
        <locationX>1073</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Related_Entitlements_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APPLICATIONS_ESS_STAM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.STAMClient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ESS_Client__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_APPLICATIONS_ESS_STAM_Process</targetReference>
            </connector>
            <label>APPLICATIONS: ESS/STAM</label>
        </rules>
        <rules>
            <name>APPLICATIONS_Standard_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applications_Standard</targetReference>
            </connector>
            <label>APPLICATIONS: Standard Service</label>
        </rules>
        <rules>
            <name>ENTERPRISE_Standard_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ENTERPRISE_Standard_Service_Process</targetReference>
            </connector>
            <label>ENTERPRISE: Standard Service</label>
        </rules>
        <rules>
            <name>ENTERPRISE_Advantage_L2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ENTERPRISE_Advantage_L2</targetReference>
            </connector>
            <label>ENTERPRISE: Advantage+/L2</label>
        </rules>
        <rules>
            <name>HARDWARE_Emerald_Diamond_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emerald Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HARDWARE_Emerald_Diamond_Care_Process</targetReference>
            </connector>
            <label>HARDWARE: Emerald &amp; Diamond Care</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Escalation_Checkbox</name>
        <label>Set : Escalation Checkbox</label>
        <locationX>1546</locationX>
        <locationY>1716</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalation_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Escalated_Checkbox_False</targetReference>
            </connector>
            <label>Escalation False</label>
        </rules>
        <rules>
            <name>Escalation_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Escalated_Checkbox_True</targetReference>
            </connector>
            <label>Escalation True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_OWD_Email_Address</name>
        <label>Set : OWD Email Address</label>
        <locationX>886</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>Set_Application_OWD_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application</defaultConnectorLabel>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hardware_OWD_Email</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BusinessUnitVar</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!Get_Product_Maapings.Product_Line_User_Group__r.Type__c}) = &quot;Hardware&quot;, 
    &quot;Hardware&quot;,
    IF(
        TEXT({!Get_Product_Maapings.Product_Line_User_Group__r.Type__c}) = &quot;Enterprise&quot;,
        &quot;Enterprise&quot;,
        &quot;Applications&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>Check2DaysBefore</name>
        <dataType>Boolean</dataType>
        <expression>ABS(DATETIMEVALUE({!$Record.LastModifiedDate}) - NOW()) &lt;= 2 &amp;&amp; ABS(DATETIMEVALUE({!$Record.LastModifiedDate}) - NOW()) &gt;= 1.999</expression>
    </formulas>
    <formulas>
        <name>Check4DaysBefore</name>
        <dataType>Boolean</dataType>
        <expression>ABS(DATETIMEVALUE({!$Record.LastModifiedDate}) - NOW()) &lt;= 4 &amp;&amp; ABS(DATETIMEVALUE({!$Record.LastModifiedDate}) - NOW()) &gt;= 3.999</expression>
    </formulas>
    <formulas>
        <name>CommaInsertion</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!StringEmailIds}),&apos;&apos;,&apos;,&apos;)</expression>
    </formulas>
    <formulas>
        <name>f_HolidayMessageBlock</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        ISBLANK({!Get_Holiday_MSG.Holiday_Message__c}),
        NOT({!Get_Holiday_MSG.Is_Active__c})
    ),
    &quot;&quot;,
    SUBSTITUTE(
        SUBSTITUTE(
            SUBSTITUTE(
                SUBSTITUTE(
                    SUBSTITUTE(
                        {!Get_Holiday_MSG.Holiday_Message__c},
                        &quot;\r\n\r\n&quot;, &quot;&lt;br/&gt;&lt;br/&gt;&quot;
                    ),
                    &quot;\n\n&quot;, &quot;&lt;br/&gt;&lt;br/&gt;&quot;
                ),
                &quot;\r\n&quot;, &quot;&lt;br/&gt;&quot;
            ),
            &quot;\n&quot;, &quot;&lt;br/&gt;&quot;
        ),
        &quot;\r&quot;, &quot;&lt;br/&gt;&quot;
    ) 
)</expression>
    </formulas>
    <formulas>
        <name>fGreeting</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!$Record.Contact.FirstName}),
  &quot;Hello,&quot;,
  &quot;Hello &quot; &amp; {!$Record.Contact.FirstName} &amp; &quot;,&quot;
)</expression>
    </formulas>
    <formulas>
        <name>isNewCase</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>setTheClosestBusinessDate</name>
        <dataType>Date</dataType>
        <expression>CASE(
    MOD(TODAY() + 1 - DATE(1900, 1, 7), 7),
    0, TODAY() + 3, 
    6, TODAY() + 2, 
    TODAY() + 1    
)</expression>
    </formulas>
    <formulas>
        <name>X2DayDiffClosedDate</name>
        <dataType>Boolean</dataType>
        <expression>NOW() &gt;= ({!$Record.ClosedDate}+2)</expression>
    </formulas>
    <interviewLabel>Case Record Update And Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : After Insert And Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CDL</name>
        <label>Create CDL</label>
        <locationX>314</locationX>
        <locationY>1524</locationY>
        <connector>
            <targetReference>Email_To_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_Content_Version.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Entitlements_Application_Standard</name>
        <label>Create Entitlements Application Standard</label>
        <locationX>1073</locationX>
        <locationY>792</locationY>
        <assignRecordIdToReference>EntitlementId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Set_Entitlment_Process_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EntitlmentProcessName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <elementReference>EntitlementProcessId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>3570</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>setTheClosestBusinessDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Call the client at the start of the next business day</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_2_of_Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>2624</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Email_To_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Reminder_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Related_Entitlements_Process</name>
        <label>Get Account Related Entitlements Process</label>
        <locationX>1073</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Entitlement_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SlaProcessId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntitlementProcessId</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>EntitlementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_APPLICATIONS_ESS_STAM_Process</name>
        <label>Get : APPLICATIONS: ESS/STAM Process</label>
        <locationX>413</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Related_Entitlements_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APPLICATIONS: ESS/STAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputAssignments>
            <assignToReference>EntitlementProcessId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EntitlmentProcessName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Applications_Standard</name>
        <label>Get Applications: Standard</label>
        <locationX>677</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Related_Entitlements_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APPLICATIONS: Standard Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputAssignments>
            <assignToReference>EntitlementProcessId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EntitlmentProcessName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Version</name>
        <label>Get Content Version</label>
        <locationX>446</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Content_Version_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContentVersionId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ENTERPRISE_Advantage_L2</name>
        <label>Get ENTERPRISE: Advantage+/L2</label>
        <locationX>1205</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Related_Entitlements_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENTERPRISE: Advantage+/L2</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputAssignments>
            <assignToReference>EntitlementProcessId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EntitlmentProcessName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ENTERPRISE_Standard_Service_Process</name>
        <label>Get ENTERPRISE: Standard Service Process</label>
        <locationX>941</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Related_Entitlements_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENTERPRISE: Standard Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputAssignments>
            <assignToReference>EntitlementProcessId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EntitlmentProcessName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_HARDWARE_Emerald_Diamond_Care_Process</name>
        <label>Get  HARDWARE: Emerald &amp; Diamond Care Process</label>
        <locationX>1469</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Related_Entitlements_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HARDWARE: Emerald &amp; Diamond Care</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputAssignments>
            <assignToReference>EntitlementProcessId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EntitlmentProcessName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Holiday_MSG</name>
        <label>Get Holiday MSG</label>
        <locationX>4384</locationX>
        <locationY>1392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_case_source_Id</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Holiday_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case_Automation_Switch_Setting</name>
        <label>Get New Case Automation Switch Setting</label>
        <locationX>600</locationX>
        <locationY>2400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_ENTERPRISE_SIMULATION_ElectroMagnetic</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>New_Case_Email_Automation_Switch__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case_Automation_Switch_Setting_Record</name>
        <label>Get New Case Automation Switch Setting Record</label>
        <locationX>4604</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_On_Case_Creation</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>New_Case_Email_Automation_Switch__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case_Email_Template</name>
        <label>Get New Case Email Template</label>
        <locationX>600</locationX>
        <locationY>2292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Case_Automation_Switch_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Case_Creation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Maapings</name>
        <label>Get Product Maapings</label>
        <locationX>402</locationX>
        <locationY>3132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Product_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Issue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Records</name>
        <label>Get User Records</label>
        <locationX>468</locationX>
        <locationY>2616</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Emails</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 ) AND 4 AND 5</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TFeis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TVinc</stringValue>
            </value>
        </filters>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLi</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Records_Update</name>
        <label>Get User Records</label>
        <locationX>1414</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_User_Emails</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TFeis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TVinc</stringValue>
            </value>
        </filters>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLi</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voicemail_Exception_Emails</name>
        <label>Get Voicemail Exception Emails</label>
        <locationX>4230</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Inside_Voicemail_Exception</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exception_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Voicemail_Exception_Emails__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Set_Entitlment_Process_Id</name>
        <label>Set Created Entitlment Process Id</label>
        <locationX>1073</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>isNew</targetReference>
        </connector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Entitlment_Process_Id</name>
        <label>Set Entitlment Process Id</label>
        <locationX>809</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>isNew</targetReference>
        </connector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Escalated_Checkbox_False</name>
        <label>Set Escalated Checkbox False</label>
        <locationX>1282</locationX>
        <locationY>1824</locationY>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Escalated_Checkbox_True</name>
        <label>Set Escalated Checkbox True</label>
        <locationX>1546</locationX>
        <locationY>1824</locationY>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>Update Case</label>
        <locationX>270</locationX>
        <locationY>3348</locationY>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>BusinessUnitVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2712</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Entitlements_Process</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Send_Case_Open_Email</name>
            <connector>
                <targetReference>Check_Last_Modified_2_Days_Before</targetReference>
            </connector>
            <label>Send Case Open Email</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Create_Case_Task</name>
            <connector>
                <targetReference>Check_Last_Modified_4_Days_Before</targetReference>
            </connector>
            <label>Create Case Task</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Case_Auto_Respond_Email</name>
            <connector>
                <targetReference>Get_New_Case_Automation_Switch_Setting_Record</targetReference>
            </connector>
            <label>Case Auto Respond Email</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AssignmentEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Priority} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;ticket &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;by &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Contact.FirstName} {!$Record.Contact.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; from &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account.Name}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; has been received. It is unassigned.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Review it by following the link below: https://trimech12345.lightning.force.com/&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Id}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AssignmentEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Case Created - Case {!$Record.Priority} #{!$Record.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>GroupEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A {!$Record.Priority} ticket has been assigned to your Group &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;.&amp;nbsp;&amp;nbsp;Please make sure to review and support within the priority requirements.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;To review the status of the ticket and add updates, follow the link below: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;https://trimech12345--trimechuat.sandbox.lightning.force.com/{!$Record.Id}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>GroupEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Priority} Support Request Ticket {!$Record.CaseNumber} - {!$Record.Account.Name} {!$Record.Subject} by {!$Record.Contact.FirstName} {!$Record.Contact.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>newCaseEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!fGreeting}&lt;/p&gt;&lt;p&gt;Thank you for reaching out. A new case has been created with the Case Number: &lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Record.CaseNumber}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our team will be in contact with you shortly to assist with your request.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!f_HolidayMessageBlock}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;The TriMech Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newCaseEmailQueue</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hi Team,&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please review the case that is currently assigned to the queue and is present in the following list view:&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;List: ENTERPRISE | SIMULATION ElectroMagnetic,&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Case Number: &lt;/span&gt;&lt;a href=&quot;https://trimech12345--uat.sandbox.lightning.force.com/{!$Record.Id}&quot; target=&quot;_blank&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;,&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thank you,&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The TriMech Team&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newCaseEmailQueueSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;test&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newCaseEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Case Created - Case # {!$Record.CaseNumber}</text>
    </textTemplates>
    <transforms>
        <name>Get_User_Emails</name>
        <label>Get User Emails</label>
        <locationX>468</locationX>
        <locationY>2724</locationY>
        <connector>
            <targetReference>Send_Email_Action_ENTERPRISE_SIMULATION_ElectroMagnetic</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_User_Records[$EachItem].Email</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_User_Emails</name>
        <label>Transform User Emails</label>
        <locationX>1414</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>Send_Email_Action_ENTERPRISE_SIMULATION_ElectroMagnetic_Update</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_User_Records_Update[$EachItem].Email</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ByPasss</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseAutoresponderEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCCEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitlementProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitlmentProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OWDEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>support@trimech.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>sendSurvey</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StoreEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StringEmailIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
