Trimech/force-app/main/default/flows/Case_RT_AS_Omni_Channel_Delete_PSR_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>PSR_Record_Found</name>
        <label>PSR Record Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSR_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_Service_Routing_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PSR_Record</targetReference>
            </connector>
            <label>PSR Found</label>
        </rules>
    </decisions>
    <description>This flow is used to stop omni-channel from intervening when the case owner is manually updated to a specific user, and the team wants the case to stop going through omni-channel routing.</description>
    <environments>Default</environments>
    <interviewLabel>Case [RT][AS] - (Omni - Channel) Delete PSR Record when {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case [RT][AS] - (Omni - Channel) Delete PSR Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>This will stop omni-channel from intervening if the case owner is manually updated to a specific user.</description>
        <name>Delete_PSR_Record</name>
        <label>Delete PSR Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Pending_Service_Routing_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Pending_Service_Routing_Record</name>
        <label>Get Pending Service Routing Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PSR_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PendingServiceRouting</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pending_Service_Routing_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>005</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
