Trimech/force-app/main/default/flows/Case_Automation_Switch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Email_To_List</name>
        <label>Add Email To List</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VoicemialExceptionEmail.Exception_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddExceptionEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VoicemialExceptionEmail.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomSettingName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Voicemail_Exception_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_Of_Custom_Setting</name>
        <label>Set Value Of Custom Setting</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Automation_Switch_Record.Case_Enabled_New_Case_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_New_Case_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Custom_Setting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Autoamtion_False</name>
        <label>Check Autoamtion False</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_New_Case_Email.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Inside_Exception_Email</targetReference>
            </connector>
            <label>Is False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CustomSettingName</name>
        <dataType>String</dataType>
        <expression>&apos;Flow Inserted &apos; + Text(NOW())</expression>
    </formulas>
    <interviewLabel>Case Automation Switch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Automation Switch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Voicemail_Exception_Record</name>
        <label>Create Voicemail Exception Record</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>VoicemialExceptionEmail</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Automation_Switch_Record</name>
        <label>Get Automation Switch Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enable_Disbale_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>New_Case_Email_Automation_Switch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Custom_Setting</name>
        <label>Update Custom Setting</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Check_Autoamtion_False</targetReference>
        </connector>
        <inputReference>Get_Automation_Switch_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The setting has been updated, please click Finish to restart and change the setting back, if necessary.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enable_Disbale_Screen</name>
        <label>Enable / Disbale Screen</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Value_Of_Custom_Setting</targetReference>
        </connector>
        <fields>
            <name>ToggleMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This Toggle is Showing the Current Setting for sending the new case emails. To change the setting, click the toggle then click next &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_New_Case_Email</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send New Case Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Send Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Don&apos;t Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Automation_Switch_Record.Case_Enabled_New_Case_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Email_Inside_Exception_Email</name>
        <label>Set Email Inside Exception Email</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Email_To_List</targetReference>
        </connector>
        <fields>
            <name>exceptionEmailAdd</name>
            <fieldText>&lt;p&gt;Please type the email from the case to add to the exception email list below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddExceptionEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>example@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Switch_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VoicemialExceptionEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voicemail_Exception_Emails__c</objectType>
    </variables>
</Flow>
