Trimech/force-app/main/default/flows/Clone_Proposal_and_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Commit_Create_Line_Item</name>
        <label>Commit Create Line Item</label>
        <locationX>818</locationX>
        <locationY>502</locationY>
        <actionName>c:commitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_New_Proposal</name>
        <label>Redirect to New Proposal</label>
        <locationX>599</locationX>
        <locationY>700</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varNewProposalId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>choice_Draft</name>
        <choiceText>Draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_In_Review</name>
        <choiceText>In Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Review</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>choice_status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formula_EOM</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR( {!$Flow.CurrentDate} ),1,31),MONTH( {!$Flow.CurrentDate} ) -1 )</expression>
    </formulas>
    <formulas>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <expression>IF( 
ISNULL ( {!varNewOpportunityId} ), 
{!Get_Proposal_Record.OpportunityId}, 
{!varNewOpportunityId}
)</expression>
    </formulas>
    <interviewLabel>Clone Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Proposal and Line Items</label>
    <loops>
        <name>Loop_Through_Line_Items</name>
        <label>Loop Through Line Items</label>
        <locationX>606</locationX>
        <locationY>324</locationY>
        <collectionReference>Get_Proposal_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Line_Item_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Proposal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Line_Item_Record</name>
        <label>Create Line Item Record</label>
        <locationX>818</locationX>
        <locationY>324</locationY>
        <connector>
            <targetReference>Commit_Create_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <elementReference>Loop_Through_Line_Items.Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Item_Description__c</field>
            <value>
                <elementReference>Loop_Through_Line_Items.Line_Item_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Line_Item__c</field>
            <value>
                <elementReference>Loop_Through_Line_Items.Opportunity_Line_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Loop_Through_Line_Items.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Loop_Through_Line_Items.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Purchase_Price__c</field>
            <value>
                <elementReference>Loop_Through_Line_Items.Product_Purchase_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Loop_Through_Line_Items.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>varNewProposalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Loop_Through_Line_Items.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Proposal_Record</name>
        <label>Create Proposal Record</label>
        <locationX>317</locationX>
        <locationY>330</locationY>
        <assignRecordIdToReference>varNewProposalId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Proposal_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Proposal_Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Proposal_Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>Get_Proposal_Record.BillingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Proposal_Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Proposal_Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Proposal_Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Proposal_Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Proposal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Proposal_Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Proposal_Record.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Proposal_Record.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingName</field>
            <value>
                <elementReference>Get_Proposal_Record.ShippingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Proposal_Record.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Proposal_Record.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Proposal_Record.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms__c</field>
            <value>
                <elementReference>Get_Proposal_Record.Terms__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Proposal_Line_Items</name>
        <label>Get Proposal Line Items</label>
        <locationX>466</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposal_Record</name>
        <label>Get Proposal Record</label>
        <locationX>235</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proposal_Input_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Proposal</name>
        <label>Update Proposal</label>
        <locationX>599</locationX>
        <locationY>533</locationY>
        <connector>
            <targetReference>Redirect_to_New_Proposal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewProposalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVA_SFCLOUD__Calculate_Tax__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Proposal_Input_Screen</name>
        <label>Proposal Input Screen</label>
        <locationX>70</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Proposal_Record</targetReference>
        </connector>
        <fields>
            <name>Proposal_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Proposal_Record.Name</elementReference>
            </defaultValue>
            <fieldText>Proposal Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiration_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formula_EOM</elementReference>
            </defaultValue>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>choice_Draft</choiceReferences>
            <choiceReferences>choice_In_Review</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_Draft</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Proposal_Record</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNewProposalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
