Trimech/force-app/main/default/flows/Email_Message_After_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_new_email_received</name>
        <label>Send new email received</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Case_Status</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Case_Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OWDEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailReceivedSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToSubject</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Hardware_OWD_Email</name>
        <label>Hardware OWD Email</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>printersupport@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_new_email_received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Application_Queue</name>
        <label>Set Application Queue</label>
        <locationX>930</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Applications_Enterprise_Support</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hardware_Queue</name>
        <label>Set Hardware Queue</label>
        <locationX>666</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware_Team_Support</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Email_Address_and_Remove_Existing_Contact</name>
        <label>Set New Email Address and Remove Existing Contact</label>
        <locationX>666</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>newCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Child_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Target_Case_Id</name>
        <label>Set Target Case Id</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bodyText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case status moved to In Progress</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Values_For_Email</name>
        <label>Set Values For Email</label>
        <locationX>798</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>CreateEmailMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEmailMessage.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEmailMessage.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bodyText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A new child case has been created {!newCase.CaseNumber}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_in_New_Case</name>
        <label>Set Values in New Case</label>
        <locationX>798</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>newCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Case_NetSuite_Id_IO__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Zendesk_Ticket_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.NetSuite_Case_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Survey_Send__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_the_Email_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Closed_Date</name>
        <label>Check : Case Closed Date</label>
        <locationX>798</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCaseClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsEmailWIthinADay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_In_Progress</targetReference>
            </connector>
            <label>Is Case Closed</label>
        </rules>
        <rules>
            <name>Create_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsEmailWIthinADay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Queue</targetReference>
            </connector>
            <label>Create New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check : Case Status</label>
        <locationX>468</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Closed_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Status_to_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status</targetReference>
            </connector>
            <label>Set Status to In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_the_Email_Address</name>
        <label>Check for the Email Address</label>
        <locationX>798</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Create_New_Child_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_From_Same_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FromAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case_Record.SuppliedEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Email_Address_and_Remove_Existing_Contact</targetReference>
            </connector>
            <label>Not From Same Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Case_Owner_User</name>
        <label>Check : Is Case Owner User</label>
        <locationX>468</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OWD_Email</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_To_Case</name>
        <label>Check : Related To Case</label>
        <locationX>963</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedToCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_OWD_Email</name>
        <label>Set OWD Email</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Send_new_email_received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application</defaultConnectorLabel>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newCase.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hardware_OWD_Email</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Owner_Queue</name>
        <label>Set Owner Queue</label>
        <locationX>798</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Set_Application_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application Queue</defaultConnectorLabel>
        <rules>
            <name>Hardware_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hardware_Queue</targetReference>
            </connector>
            <label>Hardware queue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsEmailWIthinADay</name>
        <dataType>Boolean</dataType>
        <expression>ABS(DATETIMEVALUE({!$Record.MessageDate}) - DATETIMEVALUE({!Get_Case_Record.ClosedDate})) &lt; 1</expression>
    </formulas>
    <formulas>
        <name>RelatedToCase</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!$Record.RelatedToId}, &quot;^500.*&quot;)</expression>
    </formulas>
    <interviewLabel>Email Message : After Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message : After Insert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message_Record</name>
        <label>Create Email Message Record</label>
        <locationX>798</locationX>
        <locationY>2435</locationY>
        <inputReference>CreateEmailMessage</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Child_Case</name>
        <label>Create New Child Case</label>
        <locationX>798</locationX>
        <locationY>2219</locationY>
        <connector>
            <targetReference>Set_Values_For_Email</targetReference>
        </connector>
        <inputReference>newCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>468</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Is_Case_Owner_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Record</name>
        <label>Get Queue Record</label>
        <locationX>798</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_in_New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Set_Target_Case_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_In_Progress</name>
        <label>Update Case Status In Progress</label>
        <locationX>402</locationX>
        <locationY>1403</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Target_Case_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <start>
        <locationX>837</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Related_To_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedToId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>customNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Email Message Received on Case #{!Get_Case_Record.CaseNumber}
{!bodyText}</text>
    </textTemplates>
    <textTemplates>
        <name>CustomNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Email Message Recevied #{!Get_Case_Record.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Get_Case_Record.Owner:User.Full_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new email is received for case #{!Get_Case_Record.CaseNumber}:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.HtmlBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You,&lt;/p&gt;&lt;p&gt;The TriMech Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailReceivedSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Email Received To Case #{!Get_Case_Record.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>bodyText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>newCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OWDEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>support@trimech.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
