Trimech/force-app/main/default/flows/Event_RTF_Create_Resource_Absence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Resource_Absence_Field_Values</name>
        <label>Assign Resource Absence Field Values</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToCreate.Event_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Calendar Event</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToCreate.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToCreate.Start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToCreate.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToCreate.ResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Service_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_start_and_end_date_the_same</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resource_Absence_Updates</name>
        <label>Assign Resource Absence Updates</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToUpdate.Start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToUpdate.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToUpdate.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToUpdate.ResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Service_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Resource_Absence.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Are_start_and_end_date_the_same</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Extend_End_Date_Time</name>
        <label>Copy 1 of Extend End Date Time</label>
        <locationX>754</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToUpdate.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtendedEndDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Resource_Absence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_All_Day_Times</name>
        <label>Copy 2 of Set All Day Times</label>
        <locationX>1018</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToUpdate.Start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllDayEventStartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToUpdate.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllDayEventEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Resource_Absence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extend_End_Date_Time</name>
        <label>Extend End Date Time</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToCreate.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtendedEndDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Resource_Absence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_All_Day_Times</name>
        <label>Set All Day Times</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToCreate.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllDayEventEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceAbsenceToCreate.Start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllDayEventStartDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Resource_Absence</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_start_and_end_date_the_same</name>
        <label>Are start and end date the same?</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Create_Resource_Absence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_start_and_end_date_time_are_the_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsAllDayEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extend_End_Date_Time</targetReference>
            </connector>
            <label>Yes, start and end date/time are the same</label>
        </rules>
        <rules>
            <name>All_Day_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsAllDayEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_Day_Times</targetReference>
            </connector>
            <label>All Day Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Are_start_and_end_date_the_same</name>
        <label>Copy 2 of Are start and end date the same?</label>
        <locationX>1018</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_Resource_Absence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_start_and_end_date_time_are_the_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsAllDayEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Extend_End_Date_Time</targetReference>
            </connector>
            <label>Yes, start and end date/time are the same</label>
        </rules>
        <rules>
            <name>All_day_event1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsAllDayEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_All_Day_Times</targetReference>
            </connector>
            <label>All day event?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_new_calendar_event</name>
        <label>Is this a new calendar event?</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_Resource_Absence_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_new_calendar_event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource_Absence.Event_ID__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Resource_Absence_Field_Values</targetReference>
            </connector>
            <label>Yes, new calendar event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_a_Service_Resource</name>
        <label>Is User a Service Resource?</label>
        <locationX>1062</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_user_is_a_Service_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Service_Resource</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Resource_Absence</targetReference>
            </connector>
            <label>Yes, user is a Service Resource</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AllDayEventEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.EndDateTime} + 1.20833333</expression>
    </formulas>
    <formulas>
        <name>AllDayEventStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.StartDateTime} + 0.208333333</expression>
    </formulas>
    <formulas>
        <name>ExtendedEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.EndDateTime} + 0.0104166667</expression>
    </formulas>
    <interviewLabel>Event [RTF] - Create Resource Absence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event [RTF] - Create Resource Absence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Resource_Absence</name>
        <label>Create Resource Absence</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Update_Calendar_Event</targetReference>
        </connector>
        <inputReference>ResourceAbsenceToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Service_Resource</name>
        <label>Get Related Service Resource</label>
        <locationX>1062</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_a_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource_Absence</name>
        <label>Get Resource Absence</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_a_new_calendar_event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Calendar_Event</name>
        <label>Update Calendar Event</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Resource_Absence__c</field>
            <value>
                <elementReference>ResourceAbsenceToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resource_Absence</name>
        <label>Update Resource Absence</label>
        <locationX>1018</locationX>
        <locationY>1163</locationY>
        <inputReference>ResourceAbsenceToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>936</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ResourceAbsenceToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>ResourceAbsenceToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
</Flow>
