Trimech/force-app/main/default/flows/Event_RTF_Delete_Resource_Absence_on_Event_Deletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_there_a_RA</name>
        <label>Is there a RA?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_RA_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource_Absence</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Delete_Resource_Absence</targetReference>
            </connector>
            <label>Yes, RA exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Event [RTF] - Delete Resource Absence on Event Deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event [RTF] - Delete Resource Absence on Event Deletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Resource_Absence</name>
        <label>Delete Resource Absence</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>Get_Resource_Absence</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Resource_Absence</name>
        <label>Get Resource Absence</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_RA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Resource_Absence</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
