Trimech/force-app/main/default/flows/Notify_Manager_Urgent_Enterprise_AfterHours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Manager_for_Urgent_Enterprise_Case_After_Hours</name>
        <label>Notify Manager for Urgent Enterprise Case After Hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Notify_Manager_for_Urgent_Enterprise_Case_After_Hours</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notify_Manager_for_Urgent_Enterprise_Case_After_Hours</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Notify Manager Urgent Enterprise AfterHours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Manager Urgent Enterprise AfterHours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>After_Hour_Notification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notify_Manager_for_Urgent_Enterprise_Case_After_Hours</targetReference>
        </connector>
        <filterFormula>AND(
    ISPICKVAL({!$Record.Priority}, &quot;Urgent&quot;),
    TEXT({!$Record.Business_Unit__c}) = &quot;Enterprise&quot;,
    HOUR(TIMEVALUE(NOW())) &gt;= 17,
    {!$Record.After_Hour_Notification__c} = FALSE
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1600</triggerOrder>
</Flow>
