Trimech/force-app/main/default/flows/Opportunity_Screen_Flow_View_Edit_Order_Mgmt_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_End_User_Hardware_Id_String_to_Collection</name>
        <label>Convert End User Hardware Id String to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_End_User_HW_Collection_Variable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>endUsersHWIdsCleaned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_End_User_IDs_to_separated_string</name>
        <label>Convert End User IDs to &apos;;&apos; separated string</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Pre_Existing_Student_Ids</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>endUsersHWDefaultsText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertStringCollectionToCSV</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>HWendUserDefaultString</assignToReference>
            <name>csvString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_End_User_Software_Id_String_to_Collection</name>
        <label>Convert End User Software Id String to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_End_User_SW_Collection_Variable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>endUserIdsCleaned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_Pasport_Owner_Id_String_to_Collection</name>
        <label>Convert Pasport Owner Id String to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Passport_Owner_Collection_Variable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>passportOwnerIdsCleaned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_Passport_Owner_String_Collection_to_separated_values</name>
        <label>Convert Passport Owner String Collection to &apos;;&apos; separated values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assign_vars</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>passportOwnerDefaultsText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertStringCollectionToCSV</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>passportOwnerDefaultString</assignToReference>
            <name>csvString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_Software_End_User_Collecion_to_separated_string</name>
        <label>Convert Software End User Collecion to &apos;;&apos; separated string</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Pre_Existing_End_User_Hardware_Ids</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>endUserDefaultsText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertStringCollectionToCSV</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SWEndUserStringIds</assignToReference>
            <name>csvString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_Student_Id_String_to_Collection</name>
        <label>Convert Student Id String to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Student_Collection_Variable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>studentIdsCleaned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_to_Student_Id_Collection_to_saparated_string</name>
        <label>Convert to Student Id Collection to &apos;;&apos; saparated string</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Pre_Existing_Passport_Owner_Ids</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>studentDefaultsText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertStringCollectionToCSV</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>studentIdString</assignToReference>
            <name>csvString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <assignments>
        <name>Add_Contact_Field_Values_to_Lists</name>
        <label>Add Contact Field Values to Lists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selEndUserHWContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_HW_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selEndUserHWContactNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_HW_Contacts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Contact_Have_Netsuite_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Field_Values_to_Lists2</name>
        <label>Add Contact Field Values to Lists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selStudentContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Student_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selStudentContactNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Student_Contacts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Contact_Have_Netsuite_Id2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Field_Values_to_Lists_Both</name>
        <label>Add Contact Field Values to Lists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selectedContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_SW_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedContactNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_SW_Contacts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Contact_Have_Netsuite_Id_Both</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Netsuite_Id_to_List</name>
        <label>Add Netsuite Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selEndUserHWContactNetsuiteIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_HW_Contacts.celigo_sfnsio__NetSuite_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_End_User_HW_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Netsuite_Id_to_List3</name>
        <label>Add Netsuite Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selStudentContactNetsuiteIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Student_Contacts.celigo_sfnsio__NetSuite_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Student_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Netsuite_Id_to_List_Both</name>
        <label>Add Netsuite Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selectedContactNetsuiteIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_SW_Contacts.celigo_sfnsio__NetSuite_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_End_User_SW_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Primary_Contact_Id_to_Default_Value_Collections</name>
        <label>Add Primary Contact Id to Default Value Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>endUserDefaultsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endUsersHWDefaultsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studentDefaultsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passportOwnerDefaultsText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_Existing_End_User_Software_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_error_flag2</name>
        <label>assign error flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bErrMissingPaymentContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_vars</name>
        <label>assign vars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContactForPaymentAP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Contact_for_Payment_AP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_End_User_Software_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSolidProfContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.SolidProfessor_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSchedulingContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Scheduling_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPassportOwners</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Pasport_Owner_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStudents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Student_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHWusers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_End_User_Hardware_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OM_Edit_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Up_End_Usr_HW_Contact_Ids</name>
        <label>Clean Up End Usr HW Contact Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>endUsersHWIdsCleaned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endUserIdsHWFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_End_User_Hardware_Id_String_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Up_End_Usr_SW_Contact_Ids</name>
        <label>Clean Up End Usr SW Contact Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>endUserIdsCleaned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endUserIdsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_End_User_Software_Id_String_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Up_Passport_Owner_Contact_Ids</name>
        <label>Clean Up Passport Owner Contact Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>passportOwnerIdsCleaned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passportOwnerIdsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Pasport_Owner_Id_String_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Up_Student_Contact_Ids</name>
        <label>Clean Up Student Contact Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>studentIdsCleaned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>studentIdsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Student_Id_String_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Contact_Field_Values_to_Lists</name>
        <label>Add Contact Field Values to Lists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selPassportOwnerContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Passport_Owner_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selPassportOwnerNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Passport_Owner_Contacts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Does_Contact_Have_Netsuite_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Netsuite_Id_to_List</name>
        <label>Add Netsuite Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selPassportOwnerContactNetsuiteIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Passport_Owner_Contacts.celigo_sfnsio__NetSuite_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Passport_Owner_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ACR_Value</name>
        <label>Set ACR Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ACRValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_upload_count_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ACR_Value_False</name>
        <label>Set ACR Value - False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ACRValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_upload_count_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ACR_Value_True</name>
        <label>Set ACR Value - True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ACRValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_upload_count_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_User_HW_Collection_Variable</name>
        <label>Set End User HW Collection Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>endUsersHWDefaultsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_End_User_Hardware_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_End_User_IDs_to_separated_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_User_SW_Collection_Variable</name>
        <label>Set End User SW Collection Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>endUserDefaultsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_End_User_Software_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Software_End_User_Collecion_to_separated_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_flag</name>
        <label>Set error flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bErrHasInactiveProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs_Spec_Sheet_SOW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flag</name>
        <label>Set Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bNeedsSpecSheet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Passport_Owner_Collection_Variable</name>
        <label>Set Passport Owner Collection Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>passportOwnerDefaultsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Pasport_Owner_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Passport_Owner_String_Collection_to_separated_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Student_Collection_Variable</name>
        <label>Set Student Collection Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>studentDefaultsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Student_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_to_Student_Id_Collection_to_saparated_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_upload_count_variables</name>
        <label>Set upload count variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>paymentTypeUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PaymentTypeUpload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>formsUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Forms_Upload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ServicesUpload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vendorPricingDetailsUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Special_Discount_Approval_HW.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalCourseUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AdditionalCourseUpload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Payment_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ACH_EFT_Wire</name>
        <choiceText>ACH/EFT/Wire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACH/EFT/Wire</stringValue>
        </value>
    </choices>
    <choices>
        <name>ALC</name>
        <choiceText>ALC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ALC</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreditCard</name>
        <choiceText>Credit Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmptyChoice</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Hardware_Only</name>
        <choiceText>Hardware Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hardware Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PLC</name>
        <choiceText>PLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>PurchaseOrder</name>
        <choiceText>Purchase Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>SignedQuote</name>
        <choiceText>Signed Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Signed Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Software_and_Hardware</name>
        <choiceText>Software and Hardware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Software and Hardware</stringValue>
        </value>
    </choices>
    <choices>
        <name>Software_Only</name>
        <choiceText>Software Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Software Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>constInsideSalesMgr</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0054V00000FQ5WmQAL</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Errors</name>
        <label>Any Errors?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Have_End_User_Software_Contacts_Been_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fNeedsAnyUpload</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fHasErrors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prompt_For_Errors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ACR_Value</name>
        <label>Check ACR Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_ACR_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ACR Not Null</defaultConnectorLabel>
        <rules>
            <name>ACR_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.ACR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ACR_Value_True</targetReference>
            </connector>
            <label>ACR Null &amp; True</label>
        </rules>
        <rules>
            <name>ACR_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.ACR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ACR_Value_False</targetReference>
            </connector>
            <label>ACR Null &amp;  False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Does_Contact_Have_Netsuite_Id</name>
        <label>Does Contact Have Netsuite Id?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Selected_Passport_Owner_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Netsuite Id</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Has_Netsuite_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Selected_Passport_Owner_Contacts.celigo_sfnsio__NetSuite_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_Netsuite_Id_to_List</targetReference>
            </connector>
            <label>Has Netsuite Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Have_Netsuite_Id</name>
        <label>Does Contact Have Netsuite Id?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Selected_End_User_HW_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Netsuite Id</defaultConnectorLabel>
        <rules>
            <name>Has_Netsuite_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Selected_End_User_HW_Contacts.celigo_sfnsio__NetSuite_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Netsuite_Id_to_List</targetReference>
            </connector>
            <label>Has Netsuite Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Have_Netsuite_Id2</name>
        <label>Does Contact Have Netsuite Id?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Selected_Student_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Netsuite Id</defaultConnectorLabel>
        <rules>
            <name>Has_Netsuite_Id2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Selected_Student_Contacts.celigo_sfnsio__NetSuite_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Netsuite_Id_to_List3</targetReference>
            </connector>
            <label>Has Netsuite Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Have_Netsuite_Id_Both</name>
        <label>Does Contact Have Netsuite Id?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Selected_End_User_SW_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Netsuite Id</defaultConnectorLabel>
        <rules>
            <name>Has_Netsuite_Id_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Selected_End_User_SW_Contacts.celigo_sfnsio__NetSuite_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Netsuite_Id_to_List_Both</targetReference>
            </connector>
            <label>Has Netsuite Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Opp_Have_Primary_Contact</name>
        <label>Does Opp Have Primary Contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pre_Existing_End_User_Software_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Contact</defaultConnectorLabel>
        <rules>
            <name>Has_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Primary_Contact_Id_to_Default_Value_Collections</targetReference>
            </connector>
            <label>Has Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_End_User_Hardware_Contacts_Been_Selected</name>
        <label>Have End User Hardware Contacts Been Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Have_Student_Contacts_Been_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHWusers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHWusers</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_End_User_Hardware_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_End_User_Software_Contacts_Been_Selected</name>
        <label>Have End User Software Contacts Been Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Have_End_User_Hardware_Contacts_Been_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEndUsers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEndUsers</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_End_User_Software_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Passport_Owner_Contacts_Been_Selected</name>
        <label>Have Passport Owner Contacts Been Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPassportOwners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPassportOwners</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Passport_Owner_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Student_Contacts_Been_Selected</name>
        <label>Have Student Contacts Been Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Have_Passport_Owner_Contacts_Been_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStudents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStudents</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Student_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>inactive</name>
        <label>inactive?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Needs_Spec_Sheet_SOW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Products.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_error_flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Payment_Contact</name>
        <label>Missing Payment Contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactForPaymentAP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_error_flag2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Spec_Sheet_SOW</name>
        <label>Needs Spec Sheet / SOW?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Products.Product2.Spec_Sheet_SOW__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_already_sent_to_OM</name>
        <label>Opp already sent to OM?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Does_Opp_Have_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Order Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_a_Sys_Admin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Existing_End_User_Hardware_Ids</name>
        <label>Pre-Existing End User Hardware Ids?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pre_Existing_Student_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.End_User_Ids_hardware__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Up_End_Usr_HW_Contact_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Existing_End_User_Software_Ids</name>
        <label>Pre-Existing End User Software Ids?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pre_Existing_End_User_Hardware_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.End_User_Ids__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Up_End_Usr_SW_Contact_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Existing_Passport_Owner_Ids</name>
        <label>Pre-Existing Passport Owner Ids?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>assign_vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Passport_Owner_Ids__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Up_Passport_Owner_Contact_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Existing_Student_Ids</name>
        <label>Pre-Existing Student Ids?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pre_Existing_Passport_Owner_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Student_Ids__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Up_Student_Contact_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_a_Sys_Admin</name>
        <label>User a Sys Admin?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>BlockEdit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e6g0000027lpb</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Opp_Have_Primary_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>New custom contact lookup component!</description>
    <dynamicChoiceSets>
        <name>AccountRelatedContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DigitalInPersonLocationChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Digital_or_in_person_location_pl__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>softwareOnOrderPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_software_on_this_order__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>endUserIdsFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Opportunity.End_User_Ids__c}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>endUserIdsHWFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Opportunity.End_User_Ids_hardware__c}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fHasErrors</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR({!bErrHasInactiveProducts}, {!bErrMissingPaymentContact}),
true, false)</expression>
    </formulas>
    <formulas>
        <name>fNeedsAdditionalCoursesUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Are_there_additional_courses} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Are_there_additional_courses__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Are_there_additional_courses__c}, &quot;No&quot;)),
{!additionalCourseUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsAnyUpload</name>
        <dataType>Boolean</dataType>
        <expression>OR (
{!fNeedsFormsUpload},
{!fNeedsPaymentTypeUpload},
{!fNeedsServicesUpload},
{!fNeedsVendorPricingDetailsUpload},
{!fNeedsAdditionalCoursesUpload}
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsFormsUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Forms_Both} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Forms__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Forms__c}, &quot;No&quot;)),
{!formsUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsPaymentTypeUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
NOT(ISBLANK({!Payment_Type})),
{!Payment_Type} != &quot;Credit Card&quot;,
OR (ISPICKVAL({!Get_Opportunity.Payment_Type__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Payment_Type__c}, &quot;Credit Card&quot;)),
{!paymentTypeUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsServicesUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Are_services_products_on_this_order} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Are_services_products_on_this_order__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Are_services_products_on_this_order__c}, &quot;No&quot;)),
{!serviceUploadCount} = 0,
{!bNeedsSpecSheet}
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsVendorPricingDetailsUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Vendor_Pricing_Details} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Vendor_Pricing_Details__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Vendor_Pricing_Details__c}, &quot;No&quot;)),
{!vendorPricingDetailsUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>passportOwnerIdsFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Opportunity.Passport_Owner_Ids__c}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>selectedContactIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selectedContactIds}</expression>
    </formulas>
    <formulas>
        <name>selectedContactNamesFormula</name>
        <dataType>String</dataType>
        <expression>{!selectedContactNames}</expression>
    </formulas>
    <formulas>
        <name>selectedContactNetsuiteIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selectedContactNetsuiteIds}</expression>
    </formulas>
    <formulas>
        <name>selEndUserHWContactIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selEndUserHWContactIds}</expression>
    </formulas>
    <formulas>
        <name>selEndUserHWContactNamesFormula</name>
        <dataType>String</dataType>
        <expression>{!selEndUserHWContactNames}</expression>
    </formulas>
    <formulas>
        <name>selEndUserHWContactNetsuiteIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selEndUserHWContactNetsuiteIds}</expression>
    </formulas>
    <formulas>
        <name>selPassportOwnerContactIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selPassportOwnerContactIds}</expression>
    </formulas>
    <formulas>
        <name>selPassportOwnerContactNamesFormula</name>
        <dataType>String</dataType>
        <expression>{!selPassportOwnerNames}</expression>
    </formulas>
    <formulas>
        <name>selPassportOwnerContactNetsuitIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selPassportOwnerContactNetsuiteIds}</expression>
    </formulas>
    <formulas>
        <name>selStudentContactIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selStudentContactIds}</expression>
    </formulas>
    <formulas>
        <name>selStudentContactNamesFormula</name>
        <dataType>String</dataType>
        <expression>{!selStudentContactNames}</expression>
    </formulas>
    <formulas>
        <name>selStudentContactNetsuiteIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selStudentContactNetsuiteIds}</expression>
    </formulas>
    <formulas>
        <name>studentIdsFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Opportunity.Student_Ids__c}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity | Screen Flow | View/Edit Order Management Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Screen Flow | View/Edit Order Mgmt Fields</label>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Errors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_End_User_HW_Contacts</name>
        <label>Loop Through Selected End User HW Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Selected_End_User_Hardware_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Field_Values_to_Lists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Have_Student_Contacts_Been_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_End_User_SW_Contacts</name>
        <label>Loop Through Selected End User SW Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Selected_End_User_Software_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Field_Values_to_Lists_Both</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Have_End_User_Hardware_Contacts_Been_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_Passport_Owner_Contacts</name>
        <label>Loop Through Selected Passport Owner Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Selected_Passport_Owner_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Add_Contact_Field_Values_to_Lists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_Student_Contacts</name>
        <label>Loop Through Selected Student Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Selected_Student_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Field_Values_to_Lists2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Have_Passport_Owner_Contacts_Been_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OM_Record_Detail_View_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_End_User_Hardware_Contacts</name>
        <label>Get Selected End User Hardware Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Selected_End_User_HW_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varHWusers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_End_User_Software_Contacts</name>
        <label>Get Selected End User Software Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Selected_End_User_SW_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varEndUsers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Passport_Owner_Contacts</name>
        <label>Get Selected Passport Owner Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Selected_Passport_Owner_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varPassportOwners</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Student_Contacts</name>
        <label>Get Selected Student Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Selected_Student_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varStudents</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Fields</name>
        <label>Update Opp Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACR__c</field>
            <value>
                <elementReference>ACRValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Notes__c</field>
            <value>
                <elementReference>Additional_Notes_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_hardware_products_on_this_order__c</field>
            <value>
                <elementReference>Are_hardware_products_on_this_order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_services_products_on_this_order__c</field>
            <value>
                <elementReference>Are_services_products_on_this_order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_there_additional_courses__c</field>
            <value>
                <elementReference>Are_there_additional_courses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLOSA_Contact__c</field>
            <value>
                <elementReference>varClosaContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_ID__c</field>
            <value>
                <elementReference>Case_ID_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changing_or_Adding_to_Existing_License__c</field>
            <value>
                <elementReference>Changing_or_Adding_to_Existing_License_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_for_Payment_AP__c</field>
            <value>
                <elementReference>varContactForPaymentAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corp_credits_or_closed_training_on_order__c</field>
            <value>
                <elementReference>Is_Corporate_Credits_or_Closed_Training_on_this_order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coterming_to_Existing_Assets__c</field>
            <value>
                <elementReference>Coterming_to_Existing_Assets_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coterming_to_what_date__c</field>
            <value>
                <elementReference>To_what_date_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Date__c</field>
            <value>
                <elementReference>Course_Date_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Name__c</field>
            <value>
                <elementReference>Course_Name_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digital_or_in_person_location_pl__c</field>
            <value>
                <elementReference>DigitalOrInpersonLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_on_Order__c</field>
            <value>
                <elementReference>Discount_on_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dock_Hours__c</field>
            <value>
                <elementReference>Dock_hours_HW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_this_order_require_ITAR_Compliance__c</field>
            <value>
                <elementReference>Does_this_order_require_ITAR_Compliance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Ids__c</field>
            <value>
                <elementReference>selectedContactIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Ids_hardware__c</field>
            <value>
                <elementReference>selEndUserHWContactIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Names__c</field>
            <value>
                <elementReference>selectedContactNamesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Names_hardware__c</field>
            <value>
                <elementReference>selEndUserHWContactNamesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Netsuite_Ids__c</field>
            <value>
                <elementReference>selectedContactNetsuiteIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Netsuite_Ids_hardware__c</field>
            <value>
                <elementReference>selEndUserHWContactNetsuiteIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forms__c</field>
            <value>
                <elementReference>Forms_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Person_Location__c</field>
            <value>
                <elementReference>In_Person_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_software_on_this_order__c</field>
            <value>
                <elementReference>Is_software_on_this_order2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_student_already_enrolled_as_unpaid__c</field>
            <value>
                <elementReference>Is_the_student_already_enrolled_as_unpaid_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lift_Gate_or_Pallet_Jack_required__c</field>
            <value>
                <elementReference>Lift_Gate_or_Pallet_Jack_required_for_delivery_HW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Owner_Ids__c</field>
            <value>
                <elementReference>selPassportOwnerContactIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Owner_Names__c</field>
            <value>
                <elementReference>selPassportOwnerContactNamesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Owner_Netsuite_Ids__c</field>
            <value>
                <elementReference>selPassportOwnerContactNetsuitIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>Payment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Piracy__c</field>
            <value>
                <elementReference>Piracy_Order_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type_Coupon_Code_Percentage__c</field>
            <value>
                <elementReference>Product_Type_Coupon_Code_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provide_current_SN_we_are_adjusting__c</field>
            <value>
                <elementReference>Provide_current_SN_we_are_adjusting_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduling_Contact__c</field>
            <value>
                <elementReference>varSchedulingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Contact__c</field>
            <value>
                <elementReference>varShippingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_ID__c</field>
            <value>
                <elementReference>Site_ID_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SolidProfessor_Contact__c</field>
            <value>
                <elementReference>VarSolidProfContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Ids__c</field>
            <value>
                <elementReference>selStudentContactIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Names__c</field>
            <value>
                <elementReference>selStudentContactNamesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Netsuite_Ids__c</field>
            <value>
                <elementReference>selStudentContactNetsuiteIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_Description_of_Order__c</field>
            <value>
                <elementReference>Summary_Description_of_Order_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenant__c</field>
            <value>
                <elementReference>Tenant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_in_Serial_Number__c</field>
            <value>
                <elementReference>Trade_In_Serial_Number_HW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_on_PO__c</field>
            <value>
                <elementReference>Training_on_PO_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Pricing_Details__c</field>
            <value>
                <elementReference>Vendor_Pricing_Details</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>BlockEdit</name>
        <label>BlockEdit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Does_Opp_Have_Primary_Contact</targetReference>
        </connector>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 0, 0);&quot;&gt;Only System Administrators can edit this section at this stage of the Opportunity.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OM_Edit_Screen</name>
        <label>OM Edit Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_ACR_Value</targetReference>
        </connector>
        <fields>
            <name>TopButtonBarEdit</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Previous&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>GeneralEdit</name>
            <fieldText>General</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GeneralEdit_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Summary_Description_of_Order_Both</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Summary_Description_of_Order__c</elementReference>
                    </defaultValue>
                    <fieldText>Summary Description of Order:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Payment_Type</name>
                    <choiceReferences>CreditCard</choiceReferences>
                    <choiceReferences>PurchaseOrder</choiceReferences>
                    <choiceReferences>ACH_EFT_Wire</choiceReferences>
                    <choiceReferences>SignedQuote</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Payment_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Must include attachments if choosing Purchase Order, ACH/EFT/Wire or Signed Quote. Credit Card payment option requires the &quot;Contact for Payment/AP Contact&quot; field to be completed.&lt;/span&gt;&amp;nbsp;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PaymentTypeUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Payment Type Attachments:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>PaymentTypeFileIDs</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Payment_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Purchase Order</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Payment_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>ACH/EFT/Wire</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Payment_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Signed Quote</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Contact_For_Payment_AP</name>
                    <extensionName>c:contactLookupFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Contact For Payment / AP:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowMultiselect</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varContactForPaymentAP</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varContactForPaymentAP</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Forms_Both</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Forms__c</elementReference>
                    </defaultValue>
                    <fieldText>Forms:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 196pt;&quot; width=&quot;261&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;261&quot; style=&quot;width: 196pt;&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr height=&quot;64&quot; style=&quot;height: 48pt;&quot;&gt;&lt;td height=&quot;64&quot; class=&quot;xl66&quot; width=&quot;261&quot; style=&quot;padding: 0px; color: black; font-size: 11pt; font-family: Calibri, sans-serif; vertical-align: bottom; height: 48pt; width: 196pt;&quot;&gt;Purchase Order, ACH/EFT/Wire,&lt;br&gt;Signed Quote, Training Contact Spreadsheet, LOA etc&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Forms_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Forms:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>Upload_Forms_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Forms_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Notes_Both</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Additional_Notes__c</elementReference>
                    </defaultValue>
                    <fieldText>Additional Notes:</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 196pt;&quot; width=&quot;261&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;261&quot; style=&quot;width: 196pt;&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr height=&quot;64&quot; style=&quot;height: 48pt;&quot;&gt;&lt;td height=&quot;64&quot; class=&quot;xl66&quot; width=&quot;261&quot; style=&quot;padding: 0px; color: black; font-size: 11pt; font-family: Calibri, sans-serif; vertical-align: bottom; height: 48pt; width: 196pt;&quot;&gt;Please provide additional information that is not already covered in the other fields on this tab.&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SoftwareEdit</name>
            <fieldText>Software</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SoftwareEdit_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_software_on_this_order2</name>
                    <choiceReferences>softwareOnOrderPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Is_software_on_this_order__c</elementReference>
                    </defaultValue>
                    <fieldText>Is software on this order?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>End_User_s</name>
                    <extensionName>c:contactLookupFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>End User(s):</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowMultiselect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>values</name>
                        <value>
                            <elementReference>varEndUsers</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varEndUsers</assignToReference>
                        <name>values</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Site_ID_Both</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Site_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>Site ID:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SolidProfessor_Contact</name>
                    <extensionName>c:contactLookupFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>SolidProfessor Contact:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>VarSolidProfContact</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VarSolidProfContact</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CLOSA_Contact</name>
                    <extensionName>c:contactLookupFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>CLOSA Contact:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varClosaContact</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varClosaContact</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Discount_on_Order</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Discount_on_Order__c</elementReference>
                    </defaultValue>
                    <fieldText>Discount on Order</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Product_Type_Coupon_Code_Percentage</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Product_Type_Coupon_Code_Percentage__c</elementReference>
                    </defaultValue>
                    <fieldText>Product Type + Coupon Code + Percentage:</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34);&quot;&gt;Please add details to align coupons, percentages, and the products together. Include approval name if applicable. Example PLC – PXDECP11514339 – 12% - Sales Manager Name&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Discount_on_Order</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Changing_or_Adding_to_Existing_License_Both</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Changing_or_Adding_to_Existing_License__c</elementReference>
                    </defaultValue>
                    <fieldText>Changing or Adding to Existing License:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Provide_current_SN_we_are_adjusting_Both</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Provide_current_SN_we_are_adjusting__c</elementReference>
                    </defaultValue>
                    <fieldText>Provide current SN we are adjusting:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Changing_or_Adding_to_Existing_License_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Tenant</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Tenant__c</elementReference>
                    </defaultValue>
                    <fieldText>Tenant</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 196pt;&quot; width=&quot;261&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;261&quot; style=&quot;width: 196pt;&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr height=&quot;43&quot; style=&quot;height: 32pt;&quot;&gt;&lt;td height=&quot;43&quot; class=&quot;xl66&quot; width=&quot;261&quot; style=&quot;padding: 0px; color: black; font-size: 11pt; font-family: Calibri, sans-serif; vertical-align: bottom; height: 32pt; width: 196pt;&quot;&gt;Please indicate the existing tenant for 3DX products if applicable.&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Changing_or_Adding_to_Existing_License_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Coterming_to_Existing_Assets_Both</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Coterming_to_Existing_Assets__c</elementReference>
                    </defaultValue>
                    <fieldText>Coterming to Existing Assets:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>To_what_date_Both</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Coterming_to_what_date__c</elementReference>
                    </defaultValue>
                    <fieldText>To what date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Coterming_to_Existing_Assets_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Piracy_Order_Both</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Piracy__c</elementReference>
                    </defaultValue>
                    <fieldText>Piracy Order:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Case_ID_Both</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Case_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>Case ID and Site ID:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Piracy_Order_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_this_order_require_ITAR_Compliance</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Does_this_order_require_ITAR_Compliance__c</elementReference>
                    </defaultValue>
                    <fieldText>Does this order require ITAR Compliance?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ACR</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.ACR__c</elementReference>
                    </defaultValue>
                    <fieldText>ACR Commissionable Renewal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_software_on_this_order2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>TrainingEdit</name>
            <fieldText>Training</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TrainingEdit_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Training_on_PO_Both</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Training_on_PO__c</elementReference>
                    </defaultValue>
                    <fieldText>Are training products on this order?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 196pt;&quot; width=&quot;261&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;261&quot; style=&quot;width: 196pt;&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr height=&quot;43&quot; style=&quot;height: 32pt;&quot;&gt;&lt;td height=&quot;43&quot; class=&quot;xl66&quot; width=&quot;261&quot; style=&quot;padding: 0px; color: black; font-size: 11pt; font-family: Calibri, sans-serif; vertical-align: bottom; height: 32pt; width: 196pt;&quot;&gt;Review and complete training fields&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_Corporate_Credits_or_Closed_Training_on_this_order</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Corp_credits_or_closed_training_on_order__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Corporate Credits or Closed Training on this order?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Scheduling_Contact</name>
                    <extensionName>c:contactLookupFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Scheduling Contact:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varSchedulingContact</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSchedulingContact</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Passport_Owner_s</name>
                    <extensionName>c:contactLookupFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Passport Owner(s):</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowMultiselect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>values</name>
                        <value>
                            <elementReference>varPassportOwners</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varPassportOwners</assignToReference>
                        <name>values</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_the_student_already_enrolled_as_unpaid_Both</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Is_student_already_enrolled_as_unpaid__c</elementReference>
                    </defaultValue>
                    <fieldText>Is the student already enrolled as unpaid?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Course_Name_Both</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Course_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Course Name:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Course_Date_Both</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Course_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Course Date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DigitalOrInpersonLocation</name>
                    <choiceReferences>DigitalInPersonLocationChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Digital_or_in_person_location_pl__c</elementReference>
                    </defaultValue>
                    <fieldText>Digital or in-person location?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>In_Person_Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.In_Person_Location__c</elementReference>
                    </defaultValue>
                    <fieldText>In-Person Location:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>DigitalOrInpersonLocation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>In-Person</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Student_s</name>
                    <extensionName>c:contactLookupFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allowMultiselect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>values</name>
                        <value>
                            <elementReference>varStudents</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Student(s):</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varStudents</assignToReference>
                        <name>values</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_there_additional_courses</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Are_there_additional_courses__c</elementReference>
                    </defaultValue>
                    <fieldText>Are there additional courses?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34);&quot;&gt;Please use the TRAINING ORDER SUBMISSION – MULTIPLE ENROLLMENTS.xls file in the Sales Hub.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AdditionalCourseUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload spreadsheet:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>additionalCourseFileIDs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Training_on_PO_Both</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Are_there_additional_courses</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ServicesEdit</name>
            <fieldText>Services</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ServicesEdit_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_services_products_on_this_order</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Are_services_products_on_this_order__c</elementReference>
                    </defaultValue>
                    <fieldText>Are services products on this order?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 196pt;&quot; width=&quot;261&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;261&quot; style=&quot;width: 196pt;&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr height=&quot;43&quot; style=&quot;height: 32pt;&quot;&gt;&lt;td height=&quot;43&quot; class=&quot;xl65&quot; width=&quot;261&quot; style=&quot;padding: 0px; color: black; font-size: 11pt; font-family: Calibri, sans-serif; vertical-align: bottom; height: 32pt; width: 196pt;&quot;&gt;Review and complete services fields.&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ServicesUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload copy of the spec sheet or SOW if required</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>servicesFileIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_services_products_on_this_order</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>HardwareEdit</name>
            <fieldText>Hardware</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>HardwareEdit_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_hardware_products_on_this_order</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Are_hardware_products_on_this_order__c</elementReference>
                    </defaultValue>
                    <fieldText>Are hardware and related products on this order?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 196pt;&quot; width=&quot;261&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;261&quot; style=&quot;width: 196pt;&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr height=&quot;43&quot; style=&quot;height: 32pt;&quot;&gt;&lt;td height=&quot;43&quot; class=&quot;xl66&quot; width=&quot;261&quot; style=&quot;padding: 0px; color: black; font-size: 11pt; font-family: Calibri, sans-serif; vertical-align: bottom; height: 32pt; width: 196pt;&quot;&gt;Review and complete hardware fields&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>End_User_HW</name>
                    <extensionName>c:contactLookupFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allowMultiselect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>values</name>
                        <value>
                            <elementReference>varHWusers</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>End User(s):</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varHWusers</assignToReference>
                        <name>values</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_hardware_products_on_this_order</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Trade_In_Serial_Number_HW</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Trade_in_Serial_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Trade In Serial Number:</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 196pt;&quot; width=&quot;261&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;261&quot; style=&quot;width: 196pt;&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr height=&quot;43&quot; style=&quot;height: 32pt;&quot;&gt;&lt;td height=&quot;43&quot; class=&quot;xl66&quot; width=&quot;261&quot; style=&quot;padding: 0px; color: black; font-size: 11pt; font-family: Calibri, sans-serif; vertical-align: bottom; height: 32pt; width: 196pt;&quot;&gt;Provide the Serial Number of the model that is being traded in during this sale.&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_hardware_products_on_this_order</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Shipping_Contact_HW</name>
                    <extensionName>c:contactLookupFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varShippingContact</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Shipping Contact:</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varShippingContact</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_hardware_products_on_this_order</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Dock_hours_HW</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Dock_Hours__c</elementReference>
                    </defaultValue>
                    <fieldText>Dock hours:</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 196pt;&quot; width=&quot;261&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;261&quot; style=&quot;width: 196pt;&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr height=&quot;43&quot; style=&quot;height: 32pt;&quot;&gt;&lt;td height=&quot;43&quot; class=&quot;xl66&quot; width=&quot;261&quot; style=&quot;padding: 0px; color: black; font-size: 11pt; font-family: Calibri, sans-serif; vertical-align: bottom; height: 32pt; width: 196pt;&quot;&gt;Indicate the hours the dock open including timezone.&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_hardware_products_on_this_order</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Lift_Gate_or_Pallet_Jack_required_for_delivery_HW</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Lift_Gate_or_Pallet_Jack_required__c</elementReference>
                    </defaultValue>
                    <fieldText>Lift Gate or Pallet Jack required for delivery:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_hardware_products_on_this_order</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Vendor_Pricing_Details</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Vendor_Pricing_Details__c</elementReference>
                    </defaultValue>
                    <fieldText>Vendor Pricing Details:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34);&quot;&gt;Upload any special discount approval pricing emails, or SSYS quotes etc.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_hardware_products_on_this_order</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Special_Discount_Approval_HW</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Special Discount Approval File:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>Special_Discount_File_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Vendor_Pricing_Details</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Are_hardware_products_on_this_order</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OM_Record_Detail_View_Only</name>
        <label>OM Record Detail View Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opp_already_sent_to_OM</targetReference>
        </connector>
        <fields>
            <name>TopButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Edit&quot;,&quot;value&quot;:&quot;Edit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>General</name>
            <fieldText>General</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>General_Section</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Summary_Description_of_Order__c, Payment_Type__c, Contact_for_Payment_AP__c, Contact_for_Payment_Netsuite_ID__c, Forms__c, Additional_Notes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Software</name>
            <fieldText>Software</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Software_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Software_Section</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Is_software_on_this_order__c, End_User_Ids__c, End_User_Names__c, End_User_Netsuite_Ids__c, Site_ID__c, SolidProfessor_Contact__c, SolidProfessor_Contact_NetSuite_ID_IO__c, CLOSA_Contact__c, CLOSA_Contact_Netsuite_ID__c, Discount_on_Order__c, Product_Type_Coupon_Code_Percentage__c, Changing_or_Adding_to_Existing_License__c, Provide_current_SN_we_are_adjusting__c, Tenant__c, Coterming_to_Existing_Assets__c, Coterming_to_what_date__c, Piracy__c, Case_ID__c, Does_this_order_require_ITAR_Compliance__c, ACR__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Training</name>
            <fieldText>Training</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Training_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Training_Section</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Training_on_PO__c, Corp_credits_or_closed_training_on_order__c, Scheduling_Contact__c, Passport_Owner_Ids__c, Passport_Owner_Names__c, Passport_Owner_Netsuite_Ids__c, Is_student_already_enrolled_as_unpaid__c, Course_Name__c, Course_Date__c, Digital_or_in_person_location_pl__c, In_Person_Location__c, Student_Ids__c, Student_Names__c, Student_Netsuite_Ids__c, Are_there_additional_courses__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Services</name>
            <fieldText>Services</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Services_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Services_Section</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Are_services_products_on_this_order__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hardware</name>
            <fieldText>Hardware</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hardware_Section</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Are_hardware_products_on_this_order__c, End_User_Ids_hardware__c, End_User_Names_hardware__c, End_User_Netsuite_Ids_hardware__c, Trade_in_Serial_Number__c, Shipping_Contact__c, Shipping_Contact_Netsuite_ID__c, Dock_Hours__c, Lift_Gate_or_Pallet_Jack_required__c, Vendor_Pricing_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prompt_For_Errors</name>
        <label>Prompt For Errors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Have_End_User_Software_Contacts_Been_Selected</targetReference>
        </connector>
        <fields>
            <name>thevalue</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(251, 5, 5);&quot;&gt;Please fix the following errors before you can send this Opportunity to Order Management. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>fNeedsAnyUpload</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PaymentTypeText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Upload files supporting Payment Type&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fNeedsPaymentTypeUpload</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FormsText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Upload files supporting Forms&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fNeedsFormsUpload</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AdditionalCoursesText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(247, 3, 3);&quot;&gt;Upload files supporting Additional Training Courses&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fNeedsAdditionalCoursesUpload</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ServicesText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Upload files supporting Services&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fNeedsServicesUpload</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VendorPricingDetailsText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Upload files supporting Vendor Pricing Details&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fNeedsVendorPricingDetailsUpload</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MissingPaymentContactText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(247, 3, 3);&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;color: rgb(247, 3, 3);&quot;&gt;Contact for Payment / AP &lt;/strong&gt;&lt;span style=&quot;color: rgb(247, 3, 3);&quot;&gt;field is required when Payment Type is Credit Card. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bErrMissingPaymentContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HasInactiveProductsText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Roboto, sans-serif; font-size: 10pt;&quot;&gt;This Opportunity includes inactive Products. Please remove inactive Products from the Products list.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bErrHasInactiveProducts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ACRValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>additionalCourseFileIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>additionalCourseUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AllContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bErrHasInactiveProducts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bErrMissingPaymentContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bNeedsSpecSheet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>endUserDefaultsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endUserIdsCleaned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endUsersHWDefaultsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endUsersHWIdsCleaned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exceptionFileIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exceptionUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>formsUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>HWendUserDefaultString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>passportOwnerDefaultsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>passportOwnerDefaultString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>passportOwnerIdsCleaned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentTypeFileIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentTypeUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactNetsuiteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selEndUserHWContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selEndUserHWContactNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selEndUserHWContactNetsuiteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selPassportOwnerContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selPassportOwnerContactNetsuiteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selPassportOwnerNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selStudentContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selStudentContactNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selStudentContactNetsuiteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>servicesFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Special_Discount_File_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Strataforce_American_File_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Strataforce_Quote_File_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strataforceAmericanUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>strataforceQuoteUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>studentDefaultsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>studentIdsCleaned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>studentIdString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SWEndUserStringIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Upload_Forms_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClosaContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactForPaymentAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEndUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHWusers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMULTIContactForPaymentAP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPassportOwners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSchedulingContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShippingContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSolidProfContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStudents</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vendorPricingDetailsUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
