Trimech/force-app/main/default/flows/Opportunity_Checks_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Increment_Inactive_Counter</name>
        <label>Increment Inactive Counter</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>InactiveProductsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HasInactiveProducts</name>
        <label>Set HasInactiveProducts</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>bHasInactiveProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_HasIncorrectOppOwner</name>
        <label>Set HasIncorrectOppOwner</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>bHasIncorrectOppOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conInsideSalesManager</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0054V00000FQ5WmQAL</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_There_Inactive_Product_s</name>
        <label>Are There Inactive Product(s)?</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InactiveProductsCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HasInactiveProducts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Opp_Have_Incorrect_Owner</name>
        <label>Does Opp Have Incorrect Owner?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incorrect_Opp_Owner</name>
            <conditionLogic>(1 OR ((2 AND 3) OR (4 AND 5))) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Owner.ManagerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conInsideSalesManager</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Account_Subsidiary__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TriMech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Owner_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Account_Subsidiary__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Javelin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Owner_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.ProductGroup_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HasIncorrectOppOwner</targetReference>
            </connector>
            <label>Incorrect Opp Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Inactive</name>
        <label>Is Product Inactive?</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opp_Products.Product2.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Inactive_Counter</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Checks Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Checks Subflow</label>
    <loops>
        <name>Loop_Through_Opp_Products</name>
        <label>Loop Through Opp Products</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Product_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_There_Inactive_Product_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Opp_Have_Incorrect_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordLookups>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Draft</status>
    <variables>
        <name>bHasInactiveProducts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bHasIncorrectOppOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bHasIncorrectSplitOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InactiveProductsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
