Trimech/force-app/main/default/flows/Opportunity_Assignment_Flow_2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</name>
        <label>Add Current Opp Record to Update Owner Record Collection</label>
        <locationX>4937</locationX>
        <locationY>2450</locationY>
        <assignmentItems>
            <assignToReference>varRecCollUpdateAllOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Assignment_Group_from_Filtered_Matching_PLA</name>
        <label>Get Assignment Group from Filtered Matching PLA</label>
        <locationX>3507</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varAssignmentGroupFromMatchingPLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Filtered_Matching_PLA.Assignment_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Filtered_Matching_PLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</name>
        <label>Set Current Opp Owner to Account Owner in Collection</label>
        <locationX>6456</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Dedicated_Enterprise_Rep</name>
        <label>Set Current Opp Owner to Dedicated Enterprise Rep</label>
        <locationX>1928</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.Dedicated_Enterprise_Rep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Dedicated_Sales_Rep_Hardware</name>
        <label>Set Current Opp Owner to Dedicated Sales Rep Hardware</label>
        <locationX>5136</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.Dedicated_Sales_Rep_Hardware__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Dedicated_Sales_Rep_Software</name>
        <label>Set Current Opp Owner to Dedicated Sales Rep Software</label>
        <locationX>3512</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.Dedicated_Sales_Rep_Software__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Dedicated_SolidCAM_Rep</name>
        <label>Set Current Opp Owner to Dedicated SolidCAM Rep</label>
        <locationX>2720</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.Dedicated_SolidCAM_Rep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_LDR</name>
        <label>Set Current Opp Owner to LDR</label>
        <locationX>440</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Filtered_LDR_Territory_Assignment.Assigned_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Filtered_LDR_Territory_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Sales_Rep_Enterprise</name>
        <label>Set Current Opp Owner to Sales Rep Enterprise</label>
        <locationX>2192</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.Sales_Rep_Enterprise__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Sales_Rep_Hardware_Inside</name>
        <label>Set Current Opp Owner to Sales Rep Hardware Inside</label>
        <locationX>5400</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.Sales_Rep_Hardware_Inside__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Sales_Rep_Hardware_Outside</name>
        <label>Set Current Opp Owner to Sales Rep Hardware Outside</label>
        <locationX>5664</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.Sales_Rep_Hardware_Outside__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Sales_Rep_Software</name>
        <label>Set Current Opp Owner to Sales Rep Software</label>
        <locationX>3776</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.Sales_Rep_Software__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Sales_Rep_SolidCAM</name>
        <label>Set Current Opp Owner to Sales Rep SolidCAM</label>
        <locationX>2984</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.Sales_Rep_SolidCAM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Specialty_HW_Rep</name>
        <label>Set Current Opp Owner to Specialty HW Rep</label>
        <locationX>4480</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Filtered_Specialty_HW_Territory_Assignment.Assigned_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Filtered_Specialty_HW_Territory_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Opp_Owner_to_Specialty_SW_Rep</name>
        <label>Set Current Opp Owner to Specialty SW Rep</label>
        <locationX>1272</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Filtered_Specialty_SW_Territory_Assignment.Assigned_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Opps.Run_Assignment_Rules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Filtered_Specialty_SW_Territory_Assignment</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Check current &quot;Lead Product Category on Opp&quot; exists in &quot;Pardot Lead Assignments&quot; collection</description>
        <name>Filter_current_LPC_exists_in_PLA_collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter current LPC exists in PLA collection</label>
        <locationX>4937</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Filter_current_LPC_exists_in_PLA_collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Pardot_Lead_Assignments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_current_LPC_exists_in_PLA_collection.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Opps.Lead_Product_Category_on_Opp__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_if_Matching_PLA_is_found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_LDR_Territory_Assignment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter LDR Territory Assignment</label>
        <locationX>460</locationX>
        <locationY>1406</locationY>
        <assignNextValueToReference>currentItem_Filter_LDR_Territory_Assignment</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Specialty_and_LDR_Territory_Assignments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_LDR_Territory_Assignment.Account_Field_to_Assign__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>LDR</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_LDR_Territory_Assignment.Territory__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Account_Territory_Record_for_MQL.Territory__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Is_LDR_Match_Found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Specialty_HW_Territory_Assignment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Specialty HW Territory Assignment</label>
        <locationX>4500</locationX>
        <locationY>1514</locationY>
        <assignNextValueToReference>currentItem_Filter_Specialty_SW_Territory_Assignment</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Specialty_and_LDR_Territory_Assignments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Specialty_SW_Territory_Assignment.Account_Field_to_Assign__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Specialty</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Specialty_SW_Territory_Assignment.Territory__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Account_Territory_Record_for_Specialty_HW.Territory__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Specialty_SW_Territory_Assignment.Specialty_Group__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Opps.Specialty_Group_on_Opp__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Specialty_SW_Territory_Assignment.Territory_Product_Group__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varAssignmentGroupFromMatchingPLA</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Is_Specialty_HW_Match_Found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Specialty_SW_Territory_Assignment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Specialty SW Territory Assignment</label>
        <locationX>1292</locationX>
        <locationY>1514</locationY>
        <assignNextValueToReference>currentItem_Filter_Specialty_SW_Territory_Assignment</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Specialty_and_LDR_Territory_Assignments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Specialty_SW_Territory_Assignment.Account_Field_to_Assign__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Specialty</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Specialty_SW_Territory_Assignment.Territory__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Account_Territory_Record_for_Specialty_SW.Territory__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Specialty_SW_Territory_Assignment.Specialty_Group__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Opps.Specialty_Group_on_Opp__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Specialty_SW_Territory_Assignment.Territory_Product_Group__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varAssignmentGroupFromMatchingPLA</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Is_Specialty_SW_Match_Found</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Account_Type_and_Sales_Rep_fields_for_Assignment</name>
        <label>Check Account Type and Sales Rep fields for Assignment</label>
        <locationX>2759</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default to Account Owner</defaultConnectorLabel>
        <rules>
            <name>Specialty_SW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Lead_Sales_Rep_to_Assign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Territory_Record_for_Specialty_SW</targetReference>
            </connector>
            <label>Specialty SW</label>
        </rules>
        <rules>
            <name>Enterprise_Sales_Rep_To_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Lead_Sales_Rep_to_Assign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Dedicated_Enterprise_Rep</targetReference>
            </connector>
            <label>Enterprise Sales Rep To Assign</label>
        </rules>
        <rules>
            <name>SolidCAM_Lead_Product_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Lead_Product_Category_on_Opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SolidCAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Dedicated_SolidCAM_Rep</targetReference>
            </connector>
            <label>SolidCAM Lead Product Category</label>
        </rules>
        <rules>
            <name>Entrepreneur_Dedicated_OR_Others</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrepreneur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Dedicated_Sales_Rep_Software__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Account_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Logo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Account_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Entrepreneur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Dedicated_Sales_Rep_Software__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Opp_Owner_to_Dedicated_Sales_Rep_Software</targetReference>
            </connector>
            <label>Entrepreneur &amp; Dedicated OR Others</label>
        </rules>
        <rules>
            <name>New_Logo_OR_Entrepreneur</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Logo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Sales_Rep_Software__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrepreneur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Sales_Rep_Software__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Opp_Owner_to_Sales_Rep_Software</targetReference>
            </connector>
            <label>New Logo OR Entrepreneur</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Dedicated_Enterprise_Rep</name>
        <label>Check for Dedicated Enterprise Rep</label>
        <locationX>2192</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dedicated_Enterprise_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Dedicated_Enterprise_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Opp_Owner_to_Dedicated_Enterprise_Rep</targetReference>
            </connector>
            <label>Dedicated Enterprise Rep</label>
        </rules>
        <rules>
            <name>Sales_Rep_Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Sales_Rep_Enterprise__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Opp_Owner_to_Sales_Rep_Enterprise</targetReference>
            </connector>
            <label>Sales Rep Enterprise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Dedicated_SolidCAM_Rep</name>
        <label>Check for Dedicated SolidCAM Rep</label>
        <locationX>2984</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dedicated_SolidCAM_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Dedicated_SolidCAM_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Opp_Owner_to_Dedicated_SolidCAM_Rep</targetReference>
            </connector>
            <label>Dedicated SolidCAM Rep</label>
        </rules>
        <rules>
            <name>Sales_Rep_SolidCAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Sales_Rep_SolidCAM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Opp_Owner_to_Sales_Rep_SolidCAM</targetReference>
            </connector>
            <label>Sales Rep SolidCAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_Territory_Record_for_MQL_is_Found</name>
        <label>Check if Account Territory Record for MQL is Found</label>
        <locationX>646</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Territory Record for MQL</defaultConnectorLabel>
        <rules>
            <name>Account_Territory_for_MQL_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Territory_Record_for_MQL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_LDR_Territory_Assignment</targetReference>
            </connector>
            <label>Account Territory for MQL Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_Territory_Record_for_Specialty_HW_is_Found</name>
        <label>Check if Account Territory Record for Specialty HW is Found</label>
        <locationX>4686</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Territory for Specialty HW</defaultConnectorLabel>
        <rules>
            <name>Account_Territory_for_Specialty_HW_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Territory_Record_for_Specialty_HW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Specialty_HW_Territory_Assignment</targetReference>
            </connector>
            <label>Account Territory for Specialty HW Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_Territory_Record_for_Specialty_SW_is_Found</name>
        <label>Check if Account Territory Record for Specialty SW is Found</label>
        <locationX>1478</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Territory for Specialty SW</defaultConnectorLabel>
        <rules>
            <name>Account_Territory_for_Specialty_SW_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Territory_Record_for_Specialty_SW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Specialty_SW_Territory_Assignment</targetReference>
            </connector>
            <label>Account Territory for Specialty SW Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Matching_PLA_is_found</name>
        <label>Check if Matching PLA is found?</label>
        <locationX>4937</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PLA Found</defaultConnectorLabel>
        <rules>
            <name>Matching_PLA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_current_LPC_exists_in_PLA_collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Filtered_Matching_PLA</targetReference>
            </connector>
            <label>Matching PLA Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Campaign_Type_and_Assignment_Group</name>
        <label>Check the Campaign Type and Assignment Group</label>
        <locationX>3419</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Lead_Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Territory_Record_for_MQL</targetReference>
            </connector>
            <label>MQL</label>
        </rules>
        <rules>
            <name>SQL_and_Software</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Lead_Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssignmentGroupFromMatchingPLA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Type_and_Sales_Rep_fields_for_Assignment</targetReference>
            </connector>
            <label>SQL and Software</label>
        </rules>
        <rules>
            <name>SQL_and_Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Lead_Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssignmentGroupFromMatchingPLA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Sales_Rep_to_Assign_and_Sales_Rep_fields_for_Assignment</targetReference>
            </connector>
            <label>SQL and Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Sales_Rep_to_Assign_and_Sales_Rep_fields_for_Assignment</name>
        <label>Check the Sales Rep to Assign and Sales Rep fields for Assignment</label>
        <locationX>5307</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default to Account Owner</defaultConnectorLabel>
        <rules>
            <name>Specialty_HW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Lead_Sales_Rep_to_Assign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Territory_Record_for_Specialty_HW</targetReference>
            </connector>
            <label>Specialty HW</label>
        </rules>
        <rules>
            <name>Dedicated_Hardware_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Dedicated_Sales_Rep_Hardware__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Opp_Owner_to_Dedicated_Sales_Rep_Hardware</targetReference>
            </connector>
            <label>Dedicated Hardware Rep</label>
        </rules>
        <rules>
            <name>Hardware_Inside</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Lead_Sales_Rep_to_Assign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Sales_Rep_Hardware_Inside__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Opp_Owner_to_Sales_Rep_Hardware_Inside</targetReference>
            </connector>
            <label>Hardware Inside</label>
        </rules>
        <rules>
            <name>Hardware_Outside</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Lead_Sales_Rep_to_Assign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outside</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Opps.Account.Sales_Rep_Hardware_Outside__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Opp_Owner_to_Sales_Rep_Hardware_Outside</targetReference>
            </connector>
            <label>Hardware Outside</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is LDR Territory Assignment Match Found?</description>
        <name>Is_LDR_Match_Found</name>
        <label>Is LDR Match Found?</label>
        <locationX>460</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No LDR Match</defaultConnectorLabel>
        <rules>
            <name>LDR_Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_LDR_Territory_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Filtered_LDR_Territory_Assignment</targetReference>
            </connector>
            <label>LDR Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Specialty Hardware Territory Assignment Match Found?</description>
        <name>Is_Specialty_HW_Match_Found</name>
        <label>Is Specialty HW Match Found?</label>
        <locationX>4500</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Specialty HW Match</defaultConnectorLabel>
        <rules>
            <name>Specialty_HW_Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Specialty_HW_Territory_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Filtered_Specialty_HW_Territory_Assignment</targetReference>
            </connector>
            <label>Specialty HW Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Specialty Software Territory Assignment Match Found?</description>
        <name>Is_Specialty_SW_Match_Found</name>
        <label>Is Specialty SW Match Found?</label>
        <locationX>1292</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Current_Opp_Owner_to_Account_Owner_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Specialty SW Match</defaultConnectorLabel>
        <rules>
            <name>Specialty_SW_Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Specialty_SW_Territory_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Filtered_Specialty_SW_Territory_Assignment</targetReference>
            </connector>
            <label>Specialty SW Match Found</label>
        </rules>
    </decisions>
    <description>Using Pardot Lead Assignment record&apos;s Assignment Group value to drive Opp Owner rather than Product Group.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Assignment Flow 2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Assignment Flow 2.0</label>
    <loops>
        <name>Loop_Through_Filtered_LDR_Territory_Assignment</name>
        <label>Loop Through Filtered LDR Territory Assignment</label>
        <locationX>352</locationX>
        <locationY>1622</locationY>
        <collectionReference>Filter_LDR_Territory_Assignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Current_Opp_Owner_to_LDR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Filtered_Matching_PLA</name>
        <label>Loop Through Filtered Matching PLA</label>
        <locationX>3419</locationX>
        <locationY>782</locationY>
        <collectionReference>Filter_current_LPC_exists_in_PLA_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Assignment_Group_from_Filtered_Matching_PLA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_the_Campaign_Type_and_Assignment_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Filtered_Specialty_HW_Territory_Assignment</name>
        <label>Loop Through Filtered Specialty HW Territory Assignment</label>
        <locationX>4392</locationX>
        <locationY>1730</locationY>
        <collectionReference>Filter_Specialty_HW_Territory_Assignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Current_Opp_Owner_to_Specialty_HW_Rep</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Filtered_Specialty_SW_Territory_Assignment</name>
        <label>Loop Through Filtered Specialty SW Territory Assignment</label>
        <locationX>1184</locationX>
        <locationY>1730</locationY>
        <collectionReference>Filter_Specialty_SW_Territory_Assignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Current_Opp_Owner_to_Specialty_SW_Rep</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Current_Opp_Record_to_Update_Owner_Record_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opps</name>
        <label>Loop Through Opps</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_All_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_current_LPC_exists_in_PLA_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Owner_for_All_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Territory_Record_for_MQL</name>
        <label>Get Account Territory Record for MQL</label>
        <locationX>646</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_Territory_Record_for_MQL_is_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Opps.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory_Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssignmentGroupFromMatchingPLA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Territory__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Territory_Record_for_Specialty_HW</name>
        <label>Get Account Territory Record for Specialty HW</label>
        <locationX>4686</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_Territory_Record_for_Specialty_HW_is_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Opps.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory_Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssignmentGroupFromMatchingPLA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Territory__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Territory_Record_for_Specialty_SW</name>
        <label>Get Account Territory Record for Specialty SW</label>
        <locationX>1478</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_Territory_Record_for_Specialty_SW_is_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Opps.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory_Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssignmentGroupFromMatchingPLA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Territory__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opportunities</name>
        <label>Get All Opportunities</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Pardot_Lead_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>oppIdsText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Lead_Product_Category_on_Opp__c</queriedFields>
        <queriedFields>Lead_Campaign_Type__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Run_Assignment_Rules__c</queriedFields>
        <queriedFields>Lead_Sales_Rep_to_Assign__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Specialty_Group_on_Opp__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Pardot_Lead_Assignments</name>
        <label>Get All Pardot Lead Assignments</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Specialty_and_LDR_Territory_Assignments</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pardot_Lead_Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Assignment_Group__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Specialty_and_LDR_Territory_Assignments</name>
        <label>Get All Specialty and LDR Territory Assignments</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Territory_Deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Field_to_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specialty</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Field_to_Assign__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LDR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory_Assignment__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Owner_for_All_Opportunities</name>
        <label>Update Opportunity Owner for All Opportunities</label>
        <locationX>176</locationX>
        <locationY>2642</locationY>
        <inputReference>varRecCollUpdateAllOwners</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Record for Pardot Lead Assignment matching to the current Opportunity</description>
        <name>currentItem_Filter_current_LPC_exists_in_PLA_collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pardot_Lead_Assignment__c</objectType>
    </variables>
    <variables>
        <description>Record for LDR Territory Assignment matching to the current Opportunity</description>
        <name>currentItem_Filter_LDR_Territory_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Specialty_SW_Territory_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
    <variables>
        <name>oppIdsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignmentGroupFromMatchingPLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecCollUpdateAllOwners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
