Trimech/force-app/main/default/flows/Pardot_Lead_Conversion_Sub_Routine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Batch_Convert_Leads</name>
        <label>Batch Convert Leads</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <actionName>LeadConvertInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>batchSize</name>
            <value>
                <elementReference>BatchSize</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadList</name>
            <value>
                <elementReference>vLeadsToConvert</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadConvertInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>vBatchErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vLeadsBatchedBoolean</assignToReference>
            <name>leadBatched</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Lead_to_Conversion_Collection</name>
        <label>Assign Lead to Conversion Collection</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>vLeadsToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matching_PLA</name>
        <label>Assign Matching PLA</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vMatchingPLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_PLAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_PLAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Lead_to_Update_Collection</name>
        <label>Assign Updated Lead to Update Collection</label>
        <locationX>358</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>vLeadsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vUpdatedLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Leads_to_Conversion_Collection</name>
        <label>Assign Updated Leads to Conversion Collection</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>vLeadsToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vLeadsToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conversion_Collection_has_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Lead_to_Conversion_Collection</name>
        <label>Assign Lead to Conversion Collection</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>vLeadsToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Updated_Lead</name>
        <label>Set Updated Lead</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>vUpdatedLead.Lead_Product_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vMatchingPLA.PLA_Product_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUpdatedLead.Lead_Sales_Rep_to_Assign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vMatchingPLA.Sales_Rep_to_Assign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUpdatedLead.Lead_Specialty_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vMatchingPLA.PLA_Specialty_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUpdatedLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Updated_Lead_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Pardot_Lead_Assignment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Pardot Lead Assignment</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_Pardot_Lead_Assignment_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pardot_Lead_Assignments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Pardot_Lead_Assignment_0.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Leads.Lead_Product_Category__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Matching_PLA_Found</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_UQL_Lead</name>
        <label>Check if UQL Lead</label>
        <locationX>820</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Not_UQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Leads.Lead_Product_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Leads.Campaign_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Leads.Lead_Product_of_Interest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Leads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Leads.Campaign_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Pardot_Lead_Assignment</targetReference>
            </connector>
            <label>Not UQL</label>
        </rules>
        <rules>
            <name>UQL_or_Task_Import</name>
            <conditionLogic>1 AND (2 OR (3 AND 4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Leads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Leads.Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Leads.Campaign_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Leads.Task_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Leads.Task_Import_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_to_Conversion_Collection</targetReference>
            </connector>
            <label>UQL or Task Import</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conversion_Collection_has_records</name>
        <label>Conversion Collection has records?</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vLeadsToConvert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Batch_Convert_Leads</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_PLA_Found</name>
        <label>Matching PLA Found?</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Lead_to_Conversion_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Pardot_Lead_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Filtered_PLAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Collection_Has_Records</name>
        <label>Update Collection Has Records?</label>
        <locationX>182</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Conversion_Collection_has_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vLeadsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Leads</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated to send collection of Leads to batch Apex for conversion rather than one by one.</description>
    <environments>Default</environments>
    <formulas>
        <name>BatchSize</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.Lead_Conversion_Batch_Size})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Pardot Lead Conversion Sub-Routine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pardot Lead Conversion Sub-Routine</label>
    <loops>
        <name>Loop_Filtered_PLAs</name>
        <label>Loop Filtered PLAs</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <collectionReference>Filter_Pardot_Lead_Assignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Matching_PLA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Updated_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Leads</name>
        <label>Loop Leads</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>LeadsSelectedRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_UQL_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection_Has_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pardot_Lead_Assignments</name>
        <label>Get Pardot Lead Assignments</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pardot_Lead_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Leads</name>
        <label>Update Leads</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Assign_Updated_Leads_to_Conversion_Collection</targetReference>
        </connector>
        <inputReference>vLeadsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pardot_Lead_Assignments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Pardot_Lead_Assignment_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pardot_Lead_Assignment__c</objectType>
    </variables>
    <variables>
        <name>Leadid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadsSelectedRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vBatchErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadsBatchedBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadsToConvert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vLeadsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vMatchingPLA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pardot_Lead_Assignment__c</objectType>
    </variables>
    <variables>
        <name>vUpdatedLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
