Trimech/force-app/main/default/flows/Pardot_Contact_Multi_Touch_2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Contact_Picklist_Values_to_Combined_Picklist</name>
        <label>Add Contact Picklist Values to Combined Picklist</label>
        <locationX>270</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>ProductOfInterestCombined</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Through_Contact_Product_of_Interest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Product_of_Interest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opp_Picklist_Values_to_Combined_Picklist</name>
        <label>Add Opp Picklist Values to Combined Picklist</label>
        <locationX>270</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>ProductOfInterestCombined</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Through_Opp_Product_of_Interest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opp_Product_of_Interest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_Id</name>
        <label>Assign Campaign Id</label>
        <locationX>677</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Matching_Opp_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_to_Collection_0_0</name>
        <label>Assign Opp to Collection</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>oppCollectionText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_New_Opp_with_Pardot_Fields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Assignment_Flow_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_to_Collection_for_Assignment</name>
        <label>Assign Opp to Collection for Assignment</label>
        <locationX>50</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>oppCollectionText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Lead_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Assignment_Flow_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_to_Matching_Contact_Variable</name>
        <label>Assign Opp to Matching Contact Variable</label>
        <locationX>468</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>MatchingContactOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Roles_on_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_to_NoAssign_Variable</name>
        <label>Assign Opp to NoAssign Variable</label>
        <locationX>248</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>SQLToMQLOpp_NoAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_of_Interest_Variables</name>
        <label>Set Product of Interest Variables</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>ContactProductOfInterest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact.Lead_Product_of_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProductOfInterest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchingContactOpp.Lead_Product_of_Interest_on_Opp__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Product_of_Interest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Type</name>
        <label>Campaign Type?</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Pardot_Lead_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not UQL</defaultConnectorLabel>
        <rules>
            <name>UQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Pardot_Data_Import_to_False_0_0</targetReference>
            </connector>
            <label>UQL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Type_going_from_SQL_to_MQL</name>
        <label>Campaign Type going from SQL to MQL?</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Opportunity.Lead_Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_to_NoAssign_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Qualifies</name>
        <label>Contact Qualifies?</label>
        <locationX>817</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Qualifies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Lead_Product_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Campaign_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Lead_Product_of_Interest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Form_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role?</label>
        <locationX>182</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Should_this_Opp_be_reassigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yesx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingContactOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Role2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Opp_Have_Matching_Contact_Role</name>
        <label>Does Opp Have Matching Contact Role?</label>
        <locationX>600</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Contact_Roles_on_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contact_Roles_on_Opp.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_to_Matching_Contact_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Matching_Pardot_Lead_Assignment</name>
        <label>Is There a Matching Pardot Lead Assignment?</label>
        <locationX>380</locationX>
        <locationY>1979</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pardot_Lead_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_of_Interest_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Matching_Pardot_Lead_Assignment_0</name>
        <label>Is There a Matching Pardot Lead Assignment?</label>
        <locationX>974</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Lead_Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Pardot_Lead_Assignment.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opp_with_Pardot_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Opp_Found</name>
        <label>Matching Opp Found?</label>
        <locationX>677</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Is_There_a_Matching_Pardot_Lead_Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Create New Opp</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Exising_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Type_going_from_SQL_to_MQL</targetReference>
            </connector>
            <label>Yes, Update Exising Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_this_Opp_be_reassigned</name>
        <label>Should this Opp be reassigned?</label>
        <locationX>182</locationX>
        <locationY>3203</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SQLToMQLOpp_NoAssign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_to_Collection_for_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Append existing opp Description with Contact&apos;s Pardot Comments</description>
        <name>formAppendedDescription</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!Get_Contact.pi__comments__c})),
 IF (
       NOT(ISBLANK({!Get_Lead_Opportunity.Description})),
       {!Get_Lead_Opportunity.Description} + &apos;   &apos; + {!Get_Contact.pi__comments__c},
       {!Get_Contact.pi__comments__c}
),
{!Get_Lead_Opportunity.Description}
)</expression>
    </formulas>
    <formulas>
        <name>formAppendedTDNotes</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!formTDNotes})),
 IF (
       NOT(ISBLANK({!Get_Lead_Opportunity.TD_Lead_Notes__c})),
       {!Get_Lead_Opportunity.TD_Lead_Notes__c} + &apos; || &apos; + {!formTDNotes},
       {!formTDNotes}
),
{!Get_Lead_Opportunity.TD_Lead_Notes__c}
)</expression>
    </formulas>
    <formulas>
        <name>formEmployeeReferralName</name>
        <dataType>String</dataType>
        <expression>IF( {!Yes_Update_Exising_Opp},
	IF( NOT(ISBLANK({!Get_Lead_Opportunity.Employee_Referral_Name__c})),
		{!Get_Lead_Opportunity.Employee_Referral_Name__c},
		IF(ISPICKVAL({!Get_Contact.LeadSource}, &quot;Employee Referral&quot;), {!Get_Contact.Employee_Referral_Name__c}, &quot;&quot;)
	),
	IF(ISPICKVAL({!Get_Contact.LeadSource}, &quot;Employee Referral&quot;), {!Get_Contact.Employee_Referral_Name__c}, &quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>formExistingOppLeadSource</name>
        <dataType>String</dataType>
        <expression>IF( AND( NOT(ISPICKVAL({!Get_Lead_Opportunity.LeadSource}, &quot;&quot;)), NOT(ISPICKVAL({!Get_Contact.LeadSource}, &quot;Employee Referral&quot;)) ), TEXT({!Get_Lead_Opportunity.LeadSource}), TEXT({!Get_Contact.LeadSource}) )</expression>
    </formulas>
    <formulas>
        <name>formIncrementedTouchCount</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Get_Lead_Opportunity.Touch_Count__c}), 1, {!Get_Lead_Opportunity.Touch_Count__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formLSCCampaignValue</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!Get_Contact.LSC_Campaign__c})),
 LEFT({!Get_Contact.LSC_Campaign__c}, 255),
 {!Get_Lead_Opportunity.LSC_Campaign__c}
)</expression>
    </formulas>
    <formulas>
        <name>formOppCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>formOppName</name>
        <dataType>String</dataType>
        <expression>&apos;Lead - &apos; + {!Get_Contact.Account.Name} + &apos; - &apos; + TEXT({!Get_Contact.Lead_Product_Category__c}) + &apos; - &apos; + TEXT(DAY({!formToday})) + &apos; &apos; + CASE(MONTH({!formToday}) ,
1, &quot;Jan&quot;,
2, &quot;Feb&quot;,
3, &quot;Mar&quot;,
4, &quot;Apr&quot;,
5, &quot;May&quot;,
6, &quot;Jun&quot;,
7, &quot;Jul&quot;,
8, &quot;Aug&quot;,
9, &quot;Sep&quot;,
10, &quot;Oct&quot;,
11, &quot;Nov&quot;,
12, &quot;Dec&quot;,
&quot;None&quot;) + &apos;, &apos; + TEXT(YEAR({!formToday}))</expression>
    </formulas>
    <formulas>
        <name>formPardotCampaignValue</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!Get_Contact.pi__campaign__c})),
 LEFT({!Get_Contact.pi__campaign__c}, 255),
 {!Get_Lead_Opportunity.Pardot_Campaign__c}
)</expression>
    </formulas>
    <formulas>
        <description>Used for Employee Referrals</description>
        <name>formReferralSource</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Contact.LeadSource}, &quot;Employee Referral&quot;), TEXT({!Get_Contact.Referral_Source__c}), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formTDNotes</name>
        <dataType>String</dataType>
        <expression>IF(
	TEXT({!Get_Contact.Lead_Product_Category__c}) == {!$Label.LPC_Product_Development},
	(&apos;Lead Funding: &apos; + {!Get_Contact.TD_Lead_Funding__c} + &apos; | Lead Inquiry: &apos; + {!Get_Contact.TD_Lead_Inquiry__c} + &apos; | Lead Persona: &apos; + {!Get_Contact.TD_Lead_Persona__c} + &apos; | Lead Product Description: &apos; + {!Get_Contact.TD_Lead_Product_Description__c} + &apos; | Lead Product Stage: &apos; + {!Get_Contact.TD_Lead_Product_Stage__c}),
	&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>formToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formTrainingCourseDate</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Contact.Lead_Product_Category__c}, &quot;Training Course&quot;), {!Get_Contact.Training_Course_Date__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formTrainingCourseLocation</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Contact.Lead_Product_Category__c}, &quot;Training Course&quot;), {!Get_Contact.Training_Course_Location__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formTrainingCourseName</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Contact.Lead_Product_Category__c}, &quot;Training Course&quot;), {!Get_Contact.Training_Course_Name__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Opportunity Name limited to 120 characters</description>
        <name>formTrimmedOppName</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!formOppName}) &gt; 120, LEFT({!formOppName}, 120), {!formOppName})</expression>
    </formulas>
    <interviewLabel>Pardot Contact Multi Touch 2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pardot Contact Multi Touch 2.0</label>
    <loops>
        <name>Loop_Through_Contact_Product_of_Interest</name>
        <label>Loop Through Contact Product of Interest</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <collectionReference>ContactProductOfInterest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Picklist_Values_to_Combined_Picklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Opp_Product_of_Interest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Contact_Roles_on_Opp</name>
        <label>Loop Through Contact Roles on Opp</label>
        <locationX>380</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_Existing_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Opp_Have_Matching_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_There_a_Matching_Pardot_Lead_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opp_Product_of_Interest</name>
        <label>Loop Through Opp Product of Interest</label>
        <locationX>182</locationX>
        <locationY>2495</locationY>
        <collectionReference>OppProductOfInterest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Opp_Picklist_Values_to_Combined_Picklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Existing_Opp_with_PLA_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Role2</name>
        <label>Create Contact Role</label>
        <locationX>50</locationX>
        <locationY>3011</locationY>
        <connector>
            <targetReference>Should_this_Opp_be_reassigned</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Lead_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role_0_0</name>
        <label>Create Contact Role</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Assign_Opp_to_Collection_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_New_Opp_with_Pardot_Fields</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opp_with_Pardot_Fields</name>
        <label>Create New Opp with Pardot Fields</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Create_Contact_Role_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formOppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Contact.pi__comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Referral_Name__c</field>
            <value>
                <elementReference>formEmployeeReferralName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Product__c</field>
            <value>
                <elementReference>Get_Contact.Form_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID_Google_Click_Identification__c</field>
            <value>
                <elementReference>Get_Contact.GCLID_Google_Click_Identification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Analytics_Campaign__c</field>
            <value>
                <elementReference>Get_Contact.pi__utm_campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Analytics_Medium__c</field>
            <value>
                <elementReference>Get_Contact.pi__utm_medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Analytics_Referrer__c</field>
            <value>
                <elementReference>Get_Contact.Google_Analytics_Referrer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Analytics_Source__c</field>
            <value>
                <elementReference>Get_Contact.pi__utm_source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Analytics_Term__c</field>
            <value>
                <elementReference>Get_Contact.pi__utm_term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LSC_Campaign__c</field>
            <value>
                <elementReference>Get_Contact.LSC_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Attended_Trade_Show__c</field>
            <value>
                <elementReference>Get_Contact.Last_Attended_Trade_Show__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Registered_Event__c</field>
            <value>
                <elementReference>Get_Contact.Last_Registered_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Campaign_Type__c</field>
            <value>
                <elementReference>Get_Contact.Campaign_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Product_Category_on_Opp__c</field>
            <value>
                <elementReference>Get_Contact.Lead_Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Product_of_Interest_on_Opp__c</field>
            <value>
                <elementReference>Get_Contact.Lead_Product_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Sales_Rep_to_Assign__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.Sales_Rep_to_Assign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NDA__c</field>
            <value>
                <elementReference>Get_Contact.Send_NDA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formTrimmedOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pardot_Campaign__c</field>
            <value>
                <elementReference>Get_Contact.pi__campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.PLA_Product_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126g000000X4XUAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Source__c</field>
            <value>
                <elementReference>formReferralSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialty_Group_on_Opp__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.PLA_Specialty_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TD_Lead_Notes__c</field>
            <value>
                <elementReference>formTDNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TD_Lead_Score__c</field>
            <value>
                <elementReference>Get_Contact.TD_Lead_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Date__c</field>
            <value>
                <elementReference>formTrainingCourseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Location__c</field>
            <value>
                <elementReference>formTrainingCourseLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Name__c</field>
            <value>
                <elementReference>formTrainingCourseName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>817</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Qualifies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Contact_Roles</name>
        <label>Get Existing Contact Roles</label>
        <locationX>380</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contact_Roles_on_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Opportunity</name>
        <label>Get Lead/Opportunity</label>
        <locationX>677</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Campaign_Id</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 6 AND 7 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Product_Category_on_Opp__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Lead_Product_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Neglected</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dormant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Product_Category_on_Opp__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Training Course</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126g000000X4XUAA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pardot_Lead_Assignment</name>
        <label>Get Pardot Lead Assignment</label>
        <locationX>677</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Lead_Product_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pardot_Lead_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Pardot_Data_Import_to_False_0_0</name>
        <label>Update Contact Pardot Data Import to False</label>
        <locationX>264</locationX>
        <locationY>3863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pardot_Data_Import__c</field>
            <value>
                <stringValue>FALSE</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Opp_with_PLA_Fields</name>
        <label>Update Existing Opp with PLA Fields</label>
        <locationX>182</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>Create_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formAppendedDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Referral_Name__c</field>
            <value>
                <elementReference>formEmployeeReferralName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Product__c</field>
            <value>
                <elementReference>Get_Contact.Form_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID_Google_Click_Identification__c</field>
            <value>
                <elementReference>Get_Contact.GCLID_Google_Click_Identification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Analytics_Campaign__c</field>
            <value>
                <elementReference>Get_Contact.pi__utm_campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Analytics_Medium__c</field>
            <value>
                <elementReference>Get_Contact.pi__utm_medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Analytics_Referrer__c</field>
            <value>
                <elementReference>Get_Contact.Google_Analytics_Referrer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Analytics_Source__c</field>
            <value>
                <elementReference>Get_Contact.pi__utm_source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Analytics_Term__c</field>
            <value>
                <elementReference>Get_Contact.pi__utm_term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LSC_Campaign__c</field>
            <value>
                <elementReference>formLSCCampaignValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Attended_Trade_Show__c</field>
            <value>
                <elementReference>Get_Contact.Last_Attended_Trade_Show__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Registered_Event__c</field>
            <value>
                <elementReference>Get_Contact.Last_Registered_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>formExistingOppLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Campaign_Type__c</field>
            <value>
                <elementReference>Get_Contact.Campaign_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Product_of_Interest_on_Opp__c</field>
            <value>
                <elementReference>ProductOfInterestCombined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Sales_Rep_to_Assign__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.Sales_Rep_to_Assign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NDA__c</field>
            <value>
                <elementReference>Get_Contact.Send_NDA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pardot_Campaign__c</field>
            <value>
                <elementReference>formPardotCampaignValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.PLA_Product_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Source__c</field>
            <value>
                <elementReference>formReferralSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialty_Group_on_Opp__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.PLA_Specialty_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TD_Lead_Notes__c</field>
            <value>
                <elementReference>formAppendedTDNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TD_Lead_Score__c</field>
            <value>
                <elementReference>Get_Contact.TD_Lead_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touch_Count__c</field>
            <value>
                <elementReference>formIncrementedTouchCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Date__c</field>
            <value>
                <elementReference>formTrainingCourseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Location__c</field>
            <value>
                <elementReference>formTrainingCourseLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Name__c</field>
            <value>
                <elementReference>formTrainingCourseName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>691</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Opportunity_Assignment_Flow_2_0</name>
        <label>Opportunity Assignment Flow 2.0</label>
        <locationX>677</locationX>
        <locationY>3671</locationY>
        <connector>
            <targetReference>Update_Contact_Pardot_Data_Import_to_False_0_0</targetReference>
        </connector>
        <flowName>Opportunity_Assignment_Flow_2_0</flowName>
        <inputAssignments>
            <name>oppIdsText</name>
            <value>
                <elementReference>oppCollectionText</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CombinedProductOfInterest</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactProductOfInterest</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingContactOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NoMatchingContactOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppCollectionText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppProductOfInterest</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductOfInterestCombined</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SQLToMQLOpp_NoAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
