Trimech/force-app/main/default/flows/Proposal_Line_Item_Stamp_Fields_from_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_CAD_Product_Purchase_Price</name>
        <label>Set CAD Product Purchase Price</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ProductPurchasePrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CADProductPurchasePrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_Fields_from_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Purchase_Price_from_Product</name>
        <label>Set Product Purchase Price from Product</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ProductPurchasePrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Purchase_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_Fields_from_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_USD_Product_Purchase_Price</name>
        <label>Set USD Product Purchase Price</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ProductPurchasePrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>USDProductPurchasePrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_Fields_from_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Currencies_Match</name>
        <label>Do Currencies Match?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>USD_or_CAD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product2.CurrencyIsoCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Purchase_Price_from_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>USD_or_CAD</name>
        <label>USD or CAD?</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Stamp_Fields_from_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_USD_Product_Purchase_Price</targetReference>
            </connector>
            <label>USD</label>
        </rules>
        <rules>
            <name>CAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CAD_Product_Purchase_Price</targetReference>
            </connector>
            <label>CAD</label>
        </rules>
    </decisions>
    <formulas>
        <name>CADProductPurchasePrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Product2.Purchase_Price__c} * CURRENCYRATE(&quot;CAD&quot;)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>USDProductPurchasePrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Product2.Purchase_Price__c} * (1/CURRENCYRATE(&quot;CAD&quot;))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Proposal Line Item | Stamp Fields from Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal Line Item | Stamp Fields from Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Stamp_Fields_from_Product</name>
        <label>Stamp Fields from Product</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Commission__c</field>
            <value>
                <elementReference>$Record.Product2.Commissionable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Item_Description__c</field>
            <value>
                <elementReference>$Record.Product2.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>$Record.Product2.Corresponding_Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Purchase_Price__c</field>
            <value>
                <elementReference>ProductPurchasePrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Discount_Percent__c</field>
            <value>
                <elementReference>$Record.Product2.Discount_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Do_Currencies_Match</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>ProductPurchasePrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
