Trimech/force-app/main/default/flows/Questionnaire_Navigation_Buttons.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Direct_to_New_Flow</name>
        <label>Direct to New Flow</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>create_button_clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>button_create_clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Create_Questionnaire</targetReference>
            </connector>
            <label>create button clicked</label>
        </rules>
        <rules>
            <name>update_button_clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>button_update_clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Update_Questionnaire</targetReference>
            </connector>
            <label>update button clicked</label>
        </rules>
    </decisions>
    <interviewLabel>Questionnaire Navigation Buttons {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Questionnaire Navigation Buttons</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>profile_buttons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>question_count</assignToReference>
            <field>Client_Profile_Question_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>profile_buttons</name>
        <label>profile_buttons</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Direct_to_New_Flow</targetReference>
        </connector>
        <fields>
            <name>button_create_profile</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fire</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Client Profile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isLEX</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>button_create_clicked</assignToReference>
                <name>fire</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>question_count</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>button_update_profile</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fire</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Update Client Profile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isLEX</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>button_update_clicked</assignToReference>
                <name>fire</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>question_count</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flow_Create_Questionnaire</name>
        <label>Flow: Create Questionnaire</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <flowName>Create_Questionnaire</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Update_Questionnaire</name>
        <label>Flow: Update Questionnaire</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <flowName>Update_Questionnaire</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>button_create_clicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>button_update_clicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>question_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
