Trimech/force-app/main/default/flows/Service_Appointment_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Service_Appoinment_Parent</name>
        <label>Check : Service Appoinment Parent</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order</targetReference>
            </connector>
            <label>Is Work Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>StatusValue</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Status}) = &apos;Scheduled&apos; || TEXT({!$Record.Status}) = &apos;Dispatched&apos; ,&apos;In Progress&apos;,TEXT({!$Record.Status})  )</expression>
    </formulas>
    <interviewLabel>Service Appointment : After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment : After Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Work Order</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>WorkOrderRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Service_Appoinment_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
