Trimech/force-app/main/default/flows/Support_Portal_User_Provisioning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_To_UserSObject</name>
        <label>Assign To UserSObject</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>var_userSObject.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_foundProfileId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_need_a_permissionSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_the_User_Id</name>
        <label>Get the User Id</label>
        <locationX>226</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>var_permissionSetAssignment.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_userSObject.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Permission_Set_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Permission_Set_Assignment</name>
        <label>Populate Permission Set Assignment</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>var_permissionSetAssignment.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_selectedCommunity.tom_woods__Permission_Set_Name_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_up_the_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_User_to_True</name>
        <label>Set Existing User to True</label>
        <locationX>292</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_existingUsersExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UserSObject_null</name>
        <label>Set UserSObject null</label>
        <locationX>600</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_userSObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Community_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Disable_Portal_Access</name>
        <label>Disable Portal Access?</label>
        <locationX>292</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Select_Community_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ViewUserButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disable Portal Access</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_create_permission_set_assignment</name>
        <label>Do we create permission set assignment</label>
        <locationX>446</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>update_existing_user_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dont Create Permission Set</defaultConnectorLabel>
        <rules>
            <name>Permission_Set_assignment_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_permissionSetAssignment.PermissionSetId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_permissionSetAssignment.PermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_existing_permission_set_assignment</targetReference>
            </connector>
            <label>Permission Set assignment populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_need_a_permissionSet</name>
        <label>Do we need a permissionSet</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Set_up_the_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PermissionSet not populated</defaultConnectorLabel>
        <rules>
            <name>PermissionSet_Populated_and_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_selectedCommunity.tom_woods__Permission_Set_Name_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_selectedCommunity.tom_woods__Permission_Set_Name_Id__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0PS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Permission_Set_Assignment</targetReference>
            </connector>
            <label>PermissionSet Populated and Id</label>
        </rules>
        <rules>
            <name>PermissionSet_Populated_and_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_selectedCommunity.tom_woods__Permission_Set_Name_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Permission_Set_Id</targetReference>
            </connector>
            <label>PermissionSet Populated and Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_there_existing_users</name>
        <label>is there existing users</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_UserSObject_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no existing users</defaultConnectorLabel>
        <rules>
            <name>existing_users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_userSObject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_User_to_True</targetReference>
            </connector>
            <label>existing users</label>
        </rules>
    </decisions>
    <decisions>
        <name>PermissionSet_Exists</name>
        <label>PermissionSet Exists</label>
        <locationX>138</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>Get_the_User_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesnt Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_permissionSetAssignment.PermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_existingPermissionSetAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_existing_user_list</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProfileId_Check</name>
        <label>ProfileId Check</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Get_Profile_By_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lookup ProfileId</defaultConnectorLabel>
        <rules>
            <name>Community_Setup_has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_selectedCommunity.tom_woods__Community_Profile_Name_Id__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProfileById</targetReference>
            </connector>
            <label>Community Setup has Id</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>var_communitySetupOptions</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>tom_woods__Community_Setup__mdt</object>
        <outputAssignments>
            <assignToReference>var_selectedCommunity.MasterLabel</assignToReference>
            <field>MasterLabel</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_selectedCommunity.tom_woods__Community_Profile_Name_Id__c</assignToReference>
            <field>tom_woods__Community_Profile_Name_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_selectedCommunity.tom_woods__Permission_Set_Name_Id__c</assignToReference>
            <field>tom_woods__Permission_Set_Name_Id__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Support Portal User Provisioning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Portal User Provisioning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Permission_Set_Assignment</name>
        <label>Create Permission Set Assignment</label>
        <locationX>226</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>update_existing_user_list</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_error_screen</targetReference>
        </faultConnector>
        <inputReference>var_permissionSetAssignment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_existing_permission_set_assignment</name>
        <label>get existing permission set assignment</label>
        <locationX>138</locationX>
        <locationY>2186</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PermissionSet_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_userSObject.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_permissionSetAssignment.PermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>var_existingPermissionSetAssignment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Existing_Users</name>
        <label>get Existing Users</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_there_existing_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>var_userSObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>IsPortalEnabled</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Id</name>
        <label>Get Permission Set Id</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_up_the_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_selectedCommunity.tom_woods__Permission_Set_Name_Id__c</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>var_permissionSetAssignment.PermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_By_Name</name>
        <label>Get Profile By Name</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_UserSObject</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_selectedCommunity.tom_woods__Community_Profile_Name_Id__c</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>var_foundProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_foundProfileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProfileById</name>
        <label>GetProfileById</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_UserSObject</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_selectedCommunity.tom_woods__Community_Profile_Name_Id__c</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>var_foundProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_foundProfileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>update_existing_user_list</name>
        <label>update existing user list</label>
        <locationX>446</locationX>
        <locationY>3026</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>User_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>var_listExistingUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>160</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_userSObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPortalEnabled</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Flow_error_screen</name>
        <label>Flow error screen</label>
        <locationX>490</locationX>
        <locationY>2618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>flowscreenError</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>flowscreenError</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>flowerrormessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error Message: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: courier;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Community_Screen</name>
        <label>Select Community Screen</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProfileId_Check</targetReference>
        </connector>
        <fields>
            <name>Select_a_Community</name>
            <choiceReferences>var_communitySetupOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Support Portal User Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_up_the_User</name>
        <label>Set up the User</label>
        <locationX>446</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_we_create_permission_set_assignment</targetReference>
        </connector>
        <fields>
            <name>UserSetUp</name>
            <extensionName>c:flowCommunityUserSetup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>profileId</name>
                <value>
                    <elementReference>var_userSObject.ProfileId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>profileName</name>
                <value>
                    <elementReference>var_foundProfileName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>var_userSObject.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectProfileName</name>
                <value>
                    <elementReference>Select_a_Community</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_userSObject.Id</assignToReference>
                <name>userId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Created</name>
        <label>User Created</label>
        <locationX>292</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Disable_Portal_Access</targetReference>
        </connector>
        <fields>
            <name>userCreatedText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;User has successfully been created &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>View_User_Screen</name>
            <extensionName>tom_woods:FS_Community_View_User</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>var_userSObject.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ViewUserButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Disable Portal Access&quot;,&quot;value&quot;:&quot;Disable Portal Access&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Change Access Level&quot;,&quot;value&quot;:&quot;Change Access Level&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>tom_woods__Flow_Community_User_Setup</sourceTemplate>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Existing_Users</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_communitySetupRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tom_woods__Community_Setup__mdt</objectType>
    </variables>
    <variables>
        <name>var_existingPermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>var_existingUsersExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_foundProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_foundProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_listExistingUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Holds the permissionsetAssignment to be created</description>
        <name>var_permissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>var_profileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_selectedCommunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tom_woods__Community_Setup__mdt</objectType>
    </variables>
    <variables>
        <name>var_selectedCommunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_tempAttribute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tom_woods__Community_Setup__mdt</objectType>
    </variables>
    <variables>
        <name>var_userSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
