Trimech/force-app/main/default/flows/Survey_Response_After_Insert_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Comma_separated_values_to_String_Collection_Action_1</name>
        <label>Convert Comma-separated-values to String Collection Action 1</label>
        <locationX>798</locationX>
        <locationY>4019</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>UserAlias</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Survey_Escalation_Email</name>
        <label>Send Survey Escalation Email</label>
        <locationX>666</locationX>
        <locationY>4751</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecepientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OWDEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SurveyEscalationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>surveyEscalationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>GetSurveyCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Survey_Escalation_Email_To_Chris</name>
        <label>Send Survey Escalation Email To Chris</label>
        <locationX>314</locationX>
        <locationY>3803</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecepientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OWDEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SurveyEscalationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>surveyEscalationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>GetSurveyCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Survey_Escalation_Email_To_Justin</name>
        <label>Send Survey Escalation Email To Justin</label>
        <locationX>50</locationX>
        <locationY>3803</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecepientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OWDEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SurveyEscalationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>surveyEscalationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>GetSurveyCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Account_Subject_Records</name>
        <label>Add Account Subject Records</label>
        <locationX>1037</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>ListSurveySubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newSubjectRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_List_Of_Survey_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Subject_Records</name>
        <label>Add Contact Subject Records</label>
        <locationX>1037</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>ListSurveySubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newSubjectRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recepient</name>
        <label>Add Recepient</label>
        <locationX>666</locationX>
        <locationY>4643</locationY>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,adam.harte-maxwell@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Survey_Escalation_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Subject_Records</name>
        <label>Add Subject Records</label>
        <locationX>1191</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ListSurveySubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newSubjectRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Case_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Recepient</name>
        <label>Set Recepient</label>
        <locationX>314</locationX>
        <locationY>3695</locationY>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSurveyCase.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckToAddComma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>chris.briand@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,adam.harte-maxwell@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Survey_Escalation_Email_To_Chris</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hardware_OWD</name>
        <label>Set Hardware OWD</label>
        <locationX>391</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>printersupport@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Poor_Satisfaction_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Question_Response_Values</name>
        <label>Set : Question Response Values</label>
        <locationX>1078</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>getResponseScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Survey_Question_Response.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalQuestions</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Survey_Question_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recepient2</name>
        <label>Set Recepient</label>
        <locationX>50</locationX>
        <locationY>3695</locationY>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSurveyCase.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckToAddComma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>justin.williams@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,adam.harte-maxwell@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Survey_Escalation_Email_To_Justin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recepient_Ids</name>
        <label>Set : Recepient Ids</label>
        <locationX>754</locationX>
        <locationY>4451</locationY>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckToAddComma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_Recepient_Id.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Recepient_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_String_for_Alias</name>
        <label>Set : String for Alias</label>
        <locationX>798</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>UserAlias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Mapping.Product_Line_User_Group__r.Director_Alias__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserAlias</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserAlias</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_Mapping.Product_Line_User_Group__r.Manager_Alias__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Comma_separated_values_to_String_Collection_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_subject_Id</name>
        <label>Set subject Id</label>
        <locationX>1653</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>newSubjectRecord.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subject_Record.SubjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Survey_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_For_Account_Subject</name>
        <label>Set Values For Account Subject</label>
        <locationX>1037</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>newSubjectRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubjectRecord.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubjectRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invitation.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubjectRecord.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Subject_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_For_Contact_Subject</name>
        <label>Set Values For Contact Subject</label>
        <locationX>1037</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>newSubjectRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubjectRecord.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubjectRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invitation.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubjectRecord.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_Subject_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_For_Subject</name>
        <label>Set Values For Subject</label>
        <locationX>1191</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>newSubjectRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubjectRecord.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subject_Record.SubjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubjectRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invitation.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubjectRecord.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Subject_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Id</name>
        <label>Check Account Id</label>
        <locationX>1169</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Check_List_Of_Survey_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_For_Account_Subject</targetReference>
            </connector>
            <label>Account Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chcek_Users</name>
        <label>Chcek : Users</label>
        <locationX>798</locationX>
        <locationY>4235</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Users</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Recepient_Id</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_ID</name>
        <label>Check: Case ID</label>
        <locationX>1323</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Check_List_Of_Survey_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newSubjectRecord.SubjectId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Is Case Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Id</name>
        <label>Check Contact Id</label>
        <locationX>1169</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Account_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_For_Contact_Subject</targetReference>
            </connector>
            <label>Contact Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_new_response</name>
        <label>Check for new response</label>
        <locationX>1488</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_subject_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Subject_is_null</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Poor_Satisfaction</name>
        <label>Check For Poor Satisfaction</label>
        <locationX>990</locationX>
        <locationY>3071</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Poor_Satisfaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PoorSatisfaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSurveyCase</targetReference>
            </connector>
            <label>Poor Satisfaction</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_Of_Survey_Records</name>
        <label>Check List Of Survey Records</label>
        <locationX>1323</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Check_Survey_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SurveyRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListSurveySubject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Subject</targetReference>
            </connector>
            <label>SurveyRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Mapping</name>
        <label>Check Product Mapping</label>
        <locationX>996</locationX>
        <locationY>3803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_String_for_Alias</targetReference>
            </connector>
            <label>Product Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subject_is_null</name>
        <label>Check : Subject is null</label>
        <locationX>1323</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Case_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subject_Record.SubjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_For_Subject</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Survey_Completed</name>
        <label>Check : Survey Completed</label>
        <locationX>1488</locationX>
        <locationY>2447</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Survey_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Subject_Record.SubjectEntityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Survey_Completed</targetReference>
            </connector>
            <label>Survey Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Poor_Satisfaction_Email</name>
        <label>Poor Satisfaction Email</label>
        <locationX>523</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Mapping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_To_Justin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetSurveyCase.Owner:User.UserRole.ParentRole.ParentRole.ParentRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applications_Support_Manager_Group_5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSurveyCase.Owner:User.UserRole.ParentRole.ParentRole.ParentRole.ParentRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applications_Support_Manager_Group_5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recepient2</targetReference>
            </connector>
            <label>Send To Justin</label>
        </rules>
        <rules>
            <name>Send_To_Chris</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetSurveyCase.Owner:User.UserRole.ParentRole.ParentRole.ParentRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applications_Support_Manager_Groups_1_2_3_4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSurveyCase.Owner:User.UserRole.ParentRole.ParentRole.ParentRole.ParentRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applications_Support_Manager_Groups_1_2_3_4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Recepient</targetReference>
            </connector>
            <label>Send To Chris</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_OWD_Email</name>
        <label>Set OWD Email</label>
        <locationX>523</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Poor_Satisfaction_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application</defaultConnectorLabel>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSurveyCase.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hardware_OWD</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckToAddComma</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!RecepientEmails}),&apos;&apos;, &apos;,&apos;)</expression>
    </formulas>
    <formulas>
        <name>isNewVariable</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>PoorSatisfaction</name>
        <dataType>Boolean</dataType>
        <expression>{!getResponseScore}/{!totalQuestions} &lt; 3</expression>
    </formulas>
    <interviewLabel>Survey Response : After Insert and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Response : After Insert and Update</label>
    <loops>
        <name>Collect_Recepient_Id</name>
        <label>Collect Recepient Id</label>
        <locationX>666</locationX>
        <locationY>4343</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Recepient_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Recepient</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Survey_Question_Response</name>
        <label>Loop Survey Question Response</label>
        <locationX>990</locationX>
        <locationY>2771</locationY>
        <collectionReference>Get_Survey_Question_Response</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Question_Response_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_For_Poor_Satisfaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey_Subject</name>
        <label>Create Survey Subject</label>
        <locationX>1191</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Check_Survey_Completed</targetReference>
        </connector>
        <inputReference>ListSurveySubject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>1169</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newSubjectRecord.SubjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Mapping</name>
        <label>Get Product Mapping</label>
        <locationX>996</locationX>
        <locationY>3695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Product_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSurveyCase.Issue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subject_Record</name>
        <label>Get Subject Record</label>
        <locationX>1488</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_new_response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyInvitationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InvitationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubjectEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveySubject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Question_Response</name>
        <label>Get Survey Question Response</label>
        <locationX>990</locationX>
        <locationY>2663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Survey_Question_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Datatype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Number</stringValue>
            </value>
        </filters>
        <filters>
            <field>NumberValue</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyQuestionResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>798</locationX>
        <locationY>4127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chcek_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>In</operator>
            <value>
                <elementReference>Convert_Comma_separated_values_to_String_Collection_Action_1.stringCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSurveyCase</name>
        <label>GetSurveyCase</label>
        <locationX>523</locationX>
        <locationY>3179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_OWD_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subject_Record.SubjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Survey_Completed</name>
        <label>Update Survey Completed</label>
        <locationX>990</locationX>
        <locationY>2555</locationY>
        <connector>
            <targetReference>Get_Survey_Question_Response</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Survey_Question_Response</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newSubjectRecord.SubjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1362</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Subject_Record</targetReference>
        </connector>
        <object>SurveyResponse</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>surveyEscalationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Case #{!GetSurveyCase.CaseNumber} assigned to {!GetSurveyCase.Owner:User.Full_Name__c} has Poor Satisfaction from customer,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please have a look into it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;The TriMech Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SurveyEscalationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Poor Customer Satisfaction In Case #{!GetSurveyCase.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>getResponseScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ListSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>newSubjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>OWDEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>support@trimech.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecepientEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserAlias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
