Trimech/force-app/main/default/flows/Update_Product_License_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_License_Type_ALC</name>
        <label>Assign License Type = ALC</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ALC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_ALC_R</name>
        <label>Assign License Type = ALC-R</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ALC-R</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_ASC</name>
        <label>Assign License Type = ASC</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ASC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_ASC_R</name>
        <label>Assign License Type = ASC-R</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ASC-R</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_PLC</name>
        <label>Assign License Type = PLC</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PLC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_PSC</name>
        <label>Assign License Type = PSC</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PSC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_QLC</name>
        <label>Assign License Type = QLC</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QLC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_QLC_R</name>
        <label>Assign License Type = QLC-R</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QLC-R</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_QSC</name>
        <label>Assign License Type = QSC</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QSC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_QSC_R</name>
        <label>Assign License Type = QSC-R</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QSC-R</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_YLC</name>
        <label>Assign License Type = YLC</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YLC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_YLC_R</name>
        <label>Assign License Type = YLC-R</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YLC-R</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_YSC</name>
        <label>Assign License Type = YSC</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YSC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Type_YSC_R</name>
        <label>Assign License Type = YSC-R</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varLicenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YSC-R</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_License_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Category_Field</name>
        <label>Check Category Field</label>
        <locationX>1898</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>ALC_R</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal : ALC-R</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_ALC_R</targetReference>
            </connector>
            <label>ALC-R</label>
        </rules>
        <rules>
            <name>ALC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial : ALC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_ALC</targetReference>
            </connector>
            <label>ALC</label>
        </rules>
        <rules>
            <name>ASC_R</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal : ASC-R</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_ASC_R</targetReference>
            </connector>
            <label>ASC-R</label>
        </rules>
        <rules>
            <name>ASC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial : ASC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_ASC</targetReference>
            </connector>
            <label>ASC</label>
        </rules>
        <rules>
            <name>PLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software : PLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_PLC</targetReference>
            </connector>
            <label>PLC</label>
        </rules>
        <rules>
            <name>PSC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software : PSC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_PSC</targetReference>
            </connector>
            <label>PSC</label>
        </rules>
        <rules>
            <name>QLC_R</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal : QLC-R</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_QLC_R</targetReference>
            </connector>
            <label>QLC-R</label>
        </rules>
        <rules>
            <name>QLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software : QLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_QLC</targetReference>
            </connector>
            <label>QLC</label>
        </rules>
        <rules>
            <name>QSC_R</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal : QSC-R</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_QSC_R</targetReference>
            </connector>
            <label>QSC-R</label>
        </rules>
        <rules>
            <name>QSC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial : QSC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software : QSC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_QSC</targetReference>
            </connector>
            <label>QSC</label>
        </rules>
        <rules>
            <name>YLC_R</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal : YLC-R</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_YLC_R</targetReference>
            </connector>
            <label>YLC-R</label>
        </rules>
        <rules>
            <name>YLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software : YLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_YLC</targetReference>
            </connector>
            <label>YLC</label>
        </rules>
        <rules>
            <name>YSC_R</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal : YSC-R</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_YSC_R</targetReference>
            </connector>
            <label>YSC-R</label>
        </rules>
        <rules>
            <name>YSC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software : YSC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_License_Type_YSC</targetReference>
            </connector>
            <label>YSC</label>
        </rules>
    </decisions>
    <description>Update Product License Type based on Category field</description>
    <environments>Default</environments>
    <interviewLabel>Update Product License Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product License Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Product_License_Type</name>
        <label>Update Product License Type</label>
        <locationX>1898</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>License_Type__c</field>
            <value>
                <elementReference>varLicenseType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Category_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varLicenseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
