force-app/main/default/flows/Accept_Proposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Accept Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accept Proposal</label>
    <loops>
        <name>Loop_Proposal_Line_Items</name>
        <label>Loop Proposal Line Items</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_Proposal_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Opportunity_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Line_Item</name>
        <label>Create Opportunity Line Item</label>
        <locationX>264</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Loop_Proposal_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission__c</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.Commission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Description__c</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.Line_Item_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Proposal_Record.Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price__c</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.Product_Purchase_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.SortOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Discount_Percent__c</field>
            <value>
                <elementReference>Loop_Proposal_Line_Items.Vendor_Discount_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Current_Line_Items</name>
        <label>Delete Current Line Items</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Get_Proposal_Line_Items</targetReference>
        </connector>
        <inputReference>Get_Opportunity_Line_Items</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Current_Line_Items</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposal_Line_Items</name>
        <label>Get Proposal Line Items</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Proposal_Line_Items</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proposal_Record.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposal_Record</name>
        <label>Get Proposal Record</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Primary_Proposal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Quote</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Send to Order Management</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Primary_Proposal</name>
        <label>Update Opportunity Primary Proposal</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Status_of_Other_Proposals</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Proposal_Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Proposal__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_of_Other_Proposals</name>
        <label>Update Status of Other Proposals</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <startElementReference>Get_Proposal_Record</startElementReference>
    <status>Active</status>
</Flow>
