force-app/main/default/flows/Business_Unit_Update_Post_Go_Live_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>BusinessUnitVar</name>
        <dataType>String</dataType>
        <expression>IF(
        TEXT({!Get_Product_Mapping.Product_Line_User_Group__r.Type__c}) = &quot;Applications&quot;,
        &quot;Applications&quot;,
        IF(
            TEXT({!Get_Product_Mapping.Product_Line_User_Group__r.Type__c}) = &quot;Hardware&quot;,
            &quot;Hardware&quot;,
            IF(
                TEXT({!Get_Product_Mapping.Product_Line_User_Group__r.Type__c}) = &quot;Enterprise&quot;,
                &quot;Enterprise&quot;,
                &quot;&quot;
            )
        )
    )</expression>
    </formulas>
    <interviewLabel>Business Unit Update (Post Go Live Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Unit Update (Post Go Live Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Mapping</name>
        <label>Get Product Mapping</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Business_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Issue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_Unit</name>
        <label>Update Business Unit</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>BusinessUnitVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Mapping</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
