force-app/main/default/flows/Case_Escalation_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Escalation_Email</name>
        <label>Case Escalation Email</label>
        <locationX>182</locationX>
        <locationY>1835</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Case_Escalated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecepientsEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OWDEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>escalationEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>escalationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Convert_Manager_Alias</name>
        <label>Convert Manager Alias</label>
        <locationX>336</locationX>
        <locationY>803</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Service_Managers</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>Get_Related_Product_Mapping.Product_Line_User_Group__r.Manager_Alias__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Hardware_Support_Email</name>
        <label>Set Hardware Support Email</label>
        <locationX>50</locationX>
        <locationY>1643</locationY>
        <assignmentItems>
            <assignToReference>OWDEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>printersupport@trimech.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Escalation_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_High</name>
        <label>Set Priority High</label>
        <locationX>781</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>casePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EscalationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An Enterprise case is assigned to agent and not responded to within 4 business hours, priority is high</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_Low</name>
        <label>Set Priority Low</label>
        <locationX>1309</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>casePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EscalationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An Enterprise case is assigned to agent and not responded to within 16 business hours, priority is low</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_Medium</name>
        <label>Set Priority Medium</label>
        <locationX>1045</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>casePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EscalationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An Enterprise case is assigned to agent and not responded to within 8 business hours, priority is medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_Urgent</name>
        <label>Set Priority Urgent/ Message</label>
        <locationX>517</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>casePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EscalationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An Enterprise case is assigned and not responded to within 2 business hours by support agent, priority is urgent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Email_Address</name>
        <label>Store Email Address</label>
        <locationX>270</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>RecepientsEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckToAddComma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientsEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Store_User_Emails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_User_Emails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check: Case Status</label>
        <locationX>781</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Not_Picked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>casePriority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Product_Mapping</targetReference>
            </connector>
            <label>Case Not Picked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Users_Present</name>
        <label>Check : Users Present</label>
        <locationX>336</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Users</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_User_Emails</targetReference>
            </connector>
            <label>Is Null False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_For_Enterprise</name>
        <label>Send Email For Enterprise</label>
        <locationX>545</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enterprise_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Product_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Product_Mapping.Product_Line_User_Group__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Manager_Alias</targetReference>
            </connector>
            <label>Enterprise Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_OWD_Email</name>
        <label>Set OWD Email</label>
        <locationX>182</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Case_Escalation_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application</defaultConnectorLabel>
        <rules>
            <name>HArdware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D Printers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hardware_Support_Email</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckToAddComma</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!RecepientsEmail}),&apos;&apos;, &apos;,&apos;)</expression>
    </formulas>
    <interviewLabel>Case : Escalation Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : Escalation Scheduled Flow</label>
    <loops>
        <name>Store_User_Emails</name>
        <label>Store User Emails</label>
        <locationX>182</locationX>
        <locationY>1235</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Email_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_OWD_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Product_Mapping</name>
        <label>Get Related Product Mapping</label>
        <locationX>545</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_For_Enterprise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Issue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Managers</name>
        <label>Get Service Managers</label>
        <locationX>336</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>336</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Users_Present</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>In</operator>
            <value>
                <elementReference>Convert_Manager_Alias.stringCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Managers.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Escalated</name>
        <label>Update Case Escalated</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>655</locationX>
        <locationY>0</locationY>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Case_Urgent_Priority</name>
            <connector>
                <targetReference>Set_Priority_Urgent</targetReference>
            </connector>
            <label>Case Urgent Priority</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Case_High_Priority</name>
            <connector>
                <targetReference>Set_Priority_High</targetReference>
            </connector>
            <label>Case High Priority</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Case_Medium_Priority</name>
            <connector>
                <targetReference>Set_Priority_Medium</targetReference>
            </connector>
            <label>Case Medium Priority</label>
            <offsetNumber>8</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Caes_Low_Priorty</name>
            <connector>
                <targetReference>Set_Priority_Low</targetReference>
            </connector>
            <label>Caes Low Priorty</label>
            <offsetNumber>16</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>escalationEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Automated : {!EscalationMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;The TriMech Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>escalationEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Escalated Case number : {!$Record.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>casePriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EscalationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OWDEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>support@trimech.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecepientsEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Owner:User.Email</elementReference>
        </value>
    </variables>
</Flow>
