force-app/main/default/flows/Case_RT_AS_Delete_PSR_when_Case_is_Reopened.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>PSR_Record_Found</name>
        <label>PSR Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSR_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PSR_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PSR_Record</targetReference>
            </connector>
            <label>PSR Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case [RT][AS] - Delete PSR when Case is Reopened {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case [RT][AS] - Delete PSR when Case is Reopened</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>This will stop omni-channel from getting triggered when the case is re-opened.</description>
        <name>Delete_PSR_Record</name>
        <label>Delete PSR Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_PSR_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_PSR_Record</name>
        <label>Get PSR Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PSR_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PendingServiceRouting</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PSR_Record</targetReference>
        </connector>
        <filterFormula>AND(
ISCHANGED({!$Record.Status}),
OR(
TEXT({!$Record__Prior.Status}) = &quot;IDLE&quot;,
TEXT({!$Record__Prior.Status}) = &quot;Quoted&quot;,
TEXT({!$Record__Prior.Status}) = &quot;Closed&quot;
)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
