force-app/main/default/flows/Clone_Opportunity_with_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varNewOpportunityId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Each_Active_OLI_to_Record_Collection</name>
        <label>Add Each Active OLI to Record Collection</label>
        <locationX>402</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varRecCollActiveOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OLI_to_check_for_Inactive_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLI_to_check_for_Inactive_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varContactId</name>
        <label>Assign varContactId</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Primary_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_InactiveOLICounter_for_each_Inactive_OLI</name>
        <label>Increment InactiveOLICounter for each Inactive OLI</label>
        <locationX>798</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varInactiveOLICounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollInactiveProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OLI_to_check_for_Inactive_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollInactiveProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>||||</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLI_to_check_for_Inactive_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_New_Opp_ID_Empty_Line_Id</name>
        <label>Update New Opp ID, Empty Line Id</label>
        <locationX>534</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_OLI_to_check_for_Inactive_Products.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OLI_to_check_for_Inactive_Products.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Each_Active_OLI_to_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_New_Opp_ID_Empty_Line_Id_Cloned_OLI</name>
        <label>Update New Opp ID, Empty Line Id, Cloned OLI</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_OLI_to_check_for_Inactive_Products.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OLI_to_check_for_Inactive_Products.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OLI_to_check_for_Inactive_Products.Cloned_OLI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Each_Active_OLI_to_Record_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceNewContact</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Create New Contact&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewContact</stringValue>
        </value>
    </choices>
    <constants>
        <name>conRecordTypeLead</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0126g000000X4XUAA0</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Copy_Opportunity_Line_Items_with_Existing_Line_Descriptions_box</name>
        <label>Check for Copy Opportunity Line Items with Existing Line Descriptions box</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Update_New_Opp_ID_Empty_Line_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unchecked</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_Opportunity_Line_Items_with_Existing_Line_Descriptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Opp_ID_Empty_Line_Id_Cloned_OLI</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Current_Item_is_Active</name>
        <label>Check if Current Item is Active</label>
        <locationX>600</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Increment_InactiveOLICounter_for_each_Inactive_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current Item is Inactive</defaultConnectorLabel>
        <rules>
            <name>Current_Item_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OLI_to_check_for_Inactive_Products.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Copy_Opportunity_Line_Items_with_Existing_Line_Descriptions_box</targetReference>
            </connector>
            <label>Current Item is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_New_Contact</name>
        <label>Check if New Contact</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_varContactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Contact</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Primary_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceNewContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact</targetReference>
            </connector>
            <label>Yes, New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_varInactiveOLICounter_is_Zero</name>
        <label>Check if varInactiveOLICounter is Zero</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Inactive_Opportunity_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Zero</defaultConnectorLabel>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInactiveOLICounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Line_Items</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoiceSetContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formDisplayInactiveProducts</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
	SUBSTITUTE( 
		SUBSTITUTE( 
			SUBSTITUTE({!varCollInactiveProducts}, &quot;,||||,&quot;, &quot;&lt;br&gt;&lt;/br&gt;&quot;)
		, &quot;,||||&quot;, &quot;&quot;)
	, &quot;[&quot;, &quot;&quot;)
, &quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaEndOfMonth</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR( {!$Flow.CurrentDate} ),1,31),MONTH( {!$Flow.CurrentDate} ) -1 )</expression>
    </formulas>
    <formulas>
        <name>formulaOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Record.Account.Name} + &quot; - New Lead&quot;</expression>
    </formulas>
    <interviewLabel>Clone Opportunity with Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Opportunity with Products</label>
    <loops>
        <name>Loop_OLI_to_check_for_Inactive_Products</name>
        <label>Loop OLI to check for Inactive Products</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Current_Item_is_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_varInactiveOLICounter_is_Zero</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignRecordIdToReference>varNewOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Primary_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Expected_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Opportunity_Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Department__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.End_User_Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Opportunity_Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Opportunity_Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.Product_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>conRecordTypeLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Opportunity_Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Line_Items</name>
        <label>Create Opportunity Line Items</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <inputReference>varRecCollActiveOLIs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Primary_Contact_Role</name>
        <label>Create Primary Contact Role</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varNewOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OLI_to_check_for_Inactive_Products</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Category_Product__c</queriedFields>
        <queriedFields>Commission__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Line_Description__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product_Category__c</queriedFields>
        <queriedFields>Product_Category_Solidworks_Report__c</queriedFields>
        <queriedFields>Product_Item_Type__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Profit_Margin__c</queriedFields>
        <queriedFields>Purchase_Price__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>SortOrder</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Vendor_Discount_Percent__c</queriedFields>
        <sortField>SortOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Opportunity_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <screens>
        <name>Inactive_Opportunity_Line_Items</name>
        <label>Inactive Opportunity Line Items</label>
        <locationX>270</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opportunity_Line_Items</targetReference>
        </connector>
        <fields>
            <name>InactiveOLIAlert</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;{!varInactiveOLICounter} &lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;Opportunity Line Items on the existing opportunity are Inactive. They will not be added to the Cloned Opportunity.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InactiveProductsList</name>
            <fieldText>&lt;p&gt;{!formDisplayInactiveProducts}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Opportunity_Details</name>
        <label>New Opportunity Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_New_Contact</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>formulaOpportunityName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Name cannot be longer than 120 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Opportunity_Name}) &lt;= 120</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Expected_Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formulaEndOfMonth</elementReference>
            </defaultValue>
            <fieldText>Expected Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Close Date cannot be in the past.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Expected_Close_Date} &gt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Select_Primary_Contact</name>
            <choiceReferences>choiceNewContact</choiceReferences>
            <choiceReferences>recChoiceSetContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Primary Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the email in proper format like you@example.com&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Enter email address in proper format&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_Opportunity_Line_Items_with_Existing_Line_Descriptions</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Copy Opportunity Line Items with Existing Line Descriptions</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Check&lt;/span&gt; this box only if you changed the Line Description on the previous Opportunity Line Items&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Opportunity_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollInactiveProducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInactiveOLICounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecCollActiveOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
