force-app/main/default/flows/Copy_Proposal_Send_to_Oppportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_new_proposal</name>
        <label>Redirect to new proposal</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varNewProposalId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_New_Values</name>
        <label>Assign New Values</label>
        <locationX>402</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Loop_Proposal_Line_Items.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Proposal_Line_Items.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewProposalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Proposal_Line_Items.OpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Proposal_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Variable</name>
        <label>Assign Opportunity Variable</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Proposal_Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_differentopportunity</name>
        <choiceText>Select another opportunity to clone proposal to</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>another</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_sameopp</name>
        <choiceText>Clone to same opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>same</stringValue>
        </value>
    </choices>
    <decisions>
        <name>direction_of_clone</name>
        <label>direction of clone</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>same_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>select_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>same</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Variable</targetReference>
            </connector>
            <label>same opportunity</label>
        </rules>
        <rules>
            <name>another_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>select_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>another</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Opportunity_Screen_0</targetReference>
            </connector>
            <label>another opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary</name>
        <label>Is Primary?</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_new_proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_as_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary</targetReference>
            </connector>
            <label>Selected as Primary</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formula_expdate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR( {!$Flow.CurrentDate} ),1,31),MONTH( {!$Flow.CurrentDate} ) -1 )</expression>
    </formulas>
    <formulas>
        <name>formula_proposalname</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Record.Name} &amp; &quot; - Quote&quot;</expression>
    </formulas>
    <interviewLabel>Copy Proposal - Send to Oppportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Proposal - Send to Oppportunity</label>
    <loops>
        <name>Loop_Proposal_Line_Items</name>
        <label>Loop Proposal Line Items</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <collectionReference>Get_Proposal_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Primary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Proposal</name>
        <label>Create New Proposal</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>varNewProposalId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Proposal_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>varAccBillCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>varAccBillZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>varAccBillState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>varAccBillStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Opportunity_Record.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Proposal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Proposal_Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>varAccShipCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingName</field>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>varAccShipZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>varAccShipState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>varAccShipStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms__c</field>
            <value>
                <elementReference>varSelectedTerm</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Proposal_Line_Item</name>
        <label>Create New Proposal Line Item</label>
        <locationX>402</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Loop_Proposal_Line_Items</targetReference>
        </connector>
        <inputReference>Loop_Proposal_Line_Items</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Proposal_Inputs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccBillCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccBillZip</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccBillState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccBillStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccShipCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccShipZip</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccShipState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccShipStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountTerms</assignToReference>
            <field>Terms__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposal_Line_Items</name>
        <label>Get Proposal Line Items</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Selection</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposal_Record</name>
        <label>Get Proposal Record</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Proposal_Line_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
    </recordLookups>
    <screens>
        <name>New_Proposal_Inputs</name>
        <label>New Proposal Inputs</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Proposal</targetReference>
        </connector>
        <fields>
            <name>Proposal_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>formula_proposalname</elementReference>
            </defaultValue>
            <fieldText>Proposal Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiration_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formula_expdate</elementReference>
            </defaultValue>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>choice_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>payment_terms</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Terms__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Terms</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varAccountTerms</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedTerm</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>set_as_primary</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>primary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Set as Primary Proposal?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primary</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Selection</name>
        <label>Opportunity Selection</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>direction_of_clone</targetReference>
        </connector>
        <fields>
            <name>select_action</name>
            <choiceReferences>choice_sameopp</choiceReferences>
            <choiceReferences>choice_differentopportunity</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_sameopp</defaultSelectedChoiceReference>
            <fieldText>Select one</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Opportunity_Screen_0</name>
        <label>Select Opportunity Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Opportunity_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OpportunityId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opportunityId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Proposal_Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Set_Primary</name>
        <label>Set Primary</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Redirect_to_new_proposal</targetReference>
        </connector>
        <flowName>Select_Primary_Proposal_Proposal</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varNewProposalId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>opportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>primary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccBillCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccBillState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccBillStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccBillZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccShipCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccShipState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccShipStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccShipZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewProposalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
