force-app/main/default/flows/Create_Tasks_From_Pardot_Imports.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_for_errors_encountered</name>
        <label>Send Email for errors encountered</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>consErrorEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>consErrorEmailRecipientId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>consErrorEmailRecipientId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>tina.harpalani@trimech.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>consErrorEmailSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Encountered error for Create Tasks From Pardot Flow</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Contact_is_for_Task_Import</name>
        <label>Check if Contact is for Task Import</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>formulaRecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaRecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Task_Import_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Owner_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Task_Owner_Id_Found</name>
        <label>Check if Task Owner Id Found</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Task_Owner_Id_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Owner_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Follow_Up</targetReference>
            </connector>
            <label>Task Owner Id is Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaCalculatedActivityDueDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.Task_Due_Date__c}), TODAY() + 2, {!$Record.Task_Due_Date__c})</expression>
    </formulas>
    <formulas>
        <name>formulaRecordIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>formulaTaskSubject</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Task_Subject__c}), &quot;Follow up call for &quot; + {!$Record.FirstName} + &quot; &quot; + {!$Record.LastName}, {!$Record.Task_Subject__c})</expression>
    </formulas>
    <interviewLabel>Create Tasks From Pardot Imports {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tasks From Pardot Imports</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_Follow_Up</name>
        <label>Create Task for Follow Up</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <faultConnector>
            <targetReference>Send_Email_for_errors_encountered</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formulaCalculatedActivityDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Task_Owner_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formulaTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Task_Owner_Id</name>
        <label>Get Task Owner Id</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Task_Owner_Id_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Email_for_errors_encountered</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Task_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>Check_if_Contact_is_for_Task_Import</startElementReference>
    <status>Active</status>
</Flow>
