force-app/main/default/flows/Create_Questionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commit</name>
        <label>Commit</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <actionName>c:commitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Loop_Question_Templates</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Create Questionnaire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Questionnaire</label>
    <loops>
        <name>Loop_Question_Templates</name>
        <label>Loop Question Templates</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_All_Question_Templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Redirect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Question</name>
        <label>Create Question</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Commit</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Template__c</field>
            <value>
                <elementReference>Loop_Question_Templates.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <elementReference>Loop_Question_Templates.Question__c</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Profile_Question__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Question_Templates</name>
        <label>Get All Question Templates</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Question_Templates</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Question_Template__c</object>
    </recordLookups>
    <startElementReference>Get_All_Question_Templates</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
