force-app/main/default/flows/Create_Proposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Commit_Create_Proposal_Line_Item</name>
        <label>Commit Create Proposal Line Item</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <actionName>c:commitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Update_Proposal</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>Commit_Update_Proposal</name>
        <label>Commit Update Proposal</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <actionName>c:commitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varProposalId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Proposal_Line_Item_into_Record_Collection</name>
        <label>Add Proposal Line Item into Record Collection</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varRecColProposalLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecSingleProposalLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values from Current Opportunity Line Item to new Proposal Line Item</description>
        <name>Assign_values_from_Current_Opp_Line_Item_to_new_Prop_Line_Item</name>
        <label>Assign values from Current Opp Line Item to new Prop Line Item</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProposalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.Line_Item_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Line_Items.Line_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.Opportunity_Line_Item_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Line_Items.Line_Item_Id_18__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Line_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.Product_Purchase_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Line_Items.Purchase_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.OpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.aies__CustomSortOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Line_Items.SortOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecSingleProposalLineItem.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Line_Items.SortOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Proposal_Line_Item_into_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ActiveChecker_to_True_for_Inactive_Products</name>
        <label>Set ActiveChecker to True for Inactive Products</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varActiveChecker</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLI_to_check_for_Inactive_Products</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Draft</name>
        <choiceText>Draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_In_Review</name>
        <choiceText>In Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Review</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Current_Item_is_Active</name>
        <label>Check if Current Item is Active</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_ActiveChecker_to_True_for_Inactive_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current Item is Inctive</defaultConnectorLabel>
        <rules>
            <name>Current_Item_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OLI_to_check_for_Inactive_Products.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_OLI_to_check_for_Inactive_Products</targetReference>
            </connector>
            <label>Current Item is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_All_Products_are_Active</name>
        <label>If All Products are Active</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Inactive_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One or more Products are Inactive</defaultConnectorLabel>
        <rules>
            <name>All_Products_are_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveChecker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proposal_Create_Input</targetReference>
            </connector>
            <label>All Products are Active</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_forecast</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Forecast_Type__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Terms</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Terms__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formula_EOM</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR( {!$Flow.CurrentDate} ),1,31),MONTH( {!$Flow.CurrentDate} ) -1 )</expression>
    </formulas>
    <formulas>
        <name>formula_proposalname</name>
        <dataType>String</dataType>
        <expression>&quot;Quote for &quot; &amp; {!Get_Opportunity_Record.Name}</expression>
    </formulas>
    <interviewLabel>Create Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Proposal</label>
    <loops>
        <name>Loop_OLI_to_check_for_Inactive_Products</name>
        <label>Loop OLI to check for Inactive Products</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>colOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Current_Item_is_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_All_Products_are_Active</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunity_Line_Items</name>
        <label>Loop Opportunity Line Items</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <collectionReference>colOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_from_Current_Opp_Line_Item_to_new_Prop_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Proposal_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Proposal</name>
        <label>Create Proposal</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignRecordIdToReference>varProposalId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Opportunity_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>varAccountBillCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>Get_Opportunity_Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>varAccountBillZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>varAccountBillState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>varAccountBillStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Opportunity_Record.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Opportunity_Record.Primary_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Proposal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Opportunity_Record.Primary_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>varAccountShipCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingName</field>
            <value>
                <elementReference>Get_Opportunity_Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>varAccountShipZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>varAccountShipState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>varAccountShipStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms__c</field>
            <value>
                <elementReference>varSelectedTerms</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Proposal_Line_Item</name>
        <label>Create Proposal Line Item</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Commit_Create_Proposal_Line_Item</targetReference>
        </connector>
        <inputReference>varRecColProposalLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OLI_to_check_for_Inactive_Products</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountBillCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountBillZip</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountBillState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountBillStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountShipCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountShipZip</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountShipState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountShipStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountTerms</assignToReference>
            <field>Terms__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>colOppLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Line_Description__c</queriedFields>
        <queriedFields>Purchase_Price__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Line_Item_Id_18__c</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>SortOrder</queriedFields>
        <sortField>SortOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Proposal</name>
        <label>Update Proposal</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Commit_Update_Proposal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProposalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVA_SFCLOUD__Calculate_Tax__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Inactive_Products</name>
        <label>Inactive Products</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InactiveMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;One or more Products are Inactive! Please remove any Inactive Product and &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;use an alternate Active Product.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Proposal_Create_Input</name>
        <label>Proposal Create Input</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sort_the_Opp_Line_Items_by_SortOrder_field</targetReference>
        </connector>
        <fields>
            <name>Proposal_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>formula_proposalname</elementReference>
            </defaultValue>
            <fieldText>Proposal Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiration_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formula_EOM</elementReference>
            </defaultValue>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>choice_Draft</choiceReferences>
            <choiceReferences>choice_In_Review</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_Draft</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PaymentTerms</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Terms__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Terms</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varAccountTerms</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedTerms</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Opportunity_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountBillCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountBillState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountBillStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountBillZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountShipCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountShipState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountShipStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountShipZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Net 30</stringValue>
        </value>
    </variables>
    <variables>
        <name>varActiveChecker</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varProposalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecColProposalLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varRecSingleProposalLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varSelectedTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
