force-app/main/default/flows/Display_Flow_on_Login.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_Dismiss_Message_Checkbox_is_Unchecked</name>
        <label>Check if Dismiss Message Checkbox is Unchecked</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Checked</defaultConnectorLabel>
        <rules>
            <name>Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Dismiss_Login_Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TriMech_Salesforce</targetReference>
            </connector>
            <label>Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Dismiss_Login_Message_Checked_on_Screen</name>
        <label>Is Dismiss Login Message Checked on Screen</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_have_read_this_message_and_don_t_want_to_see_it_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dismiss_Message_Checkbox_on_User_Record</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <interviewLabel>Display Flow on Login {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Flow on Login</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Dismiss_Message_Checkbox_on_User_Record</name>
        <label>Update Dismiss Message Checkbox on User Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dismiss_Login_Message__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>TriMech_Salesforce</name>
        <label>TriMech Salesforce</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Dismiss_Login_Message_Checked_on_Screen</targetReference>
        </connector>
        <fields>
            <name>Display_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;{!$Label.Login_Message_for_Flow}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_have_read_this_message_and_don_t_want_to_see_it_again</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I have read this message and don&apos;t want to see it again</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Check_if_Dismiss_Message_Checkbox_is_Unchecked</startElementReference>
    <status>Active</status>
</Flow>
