force-app/main/default/flows/Find_Territory_Assignments_by_Zip_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collection_of_Territory_Assignments</name>
        <label>Add to Collection of Territory Assignments</label>
        <locationX>675</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>colAllTerritoryAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Territory_Assignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Territory_Zip_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Territory_Assignment_Collection</name>
        <label>Clear Territory Assignment Collection</label>
        <locationX>110</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>colAllTerritoryAssignments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colEmptyTerritoryAssignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Zip_Code</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>No_Territory_Assignments</name>
        <label>No Territory Assignments</label>
        <locationX>442</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Sort_the_Territory_Assignments_by_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_assignments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colAllTerritoryAssignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>no_assignments_screen</targetReference>
            </connector>
            <label>No assignments</label>
        </rules>
    </decisions>
    <interviewLabel>Find Territory Assignments by Zip Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Territory Assignments by Zip Code</label>
    <loops>
        <name>Loop_Territory_Zip_Codes</name>
        <label>Loop Territory-Zip Codes</label>
        <locationX>516</locationX>
        <locationY>212</locationY>
        <collectionReference>Get_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Territory_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>No_Territory_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Territories</name>
        <label>Get Territories</label>
        <locationX>349</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Territory_Zip_Codes</targetReference>
        </connector>
        <filters>
            <field>Zip_Code_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varZipCodeRecordId</elementReference>
            </value>
        </filters>
        <object>Territory_Zip_Code__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Assignments</name>
        <label>Get Territory Assignments</label>
        <locationX>696</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_Collection_of_Territory_Assignments</targetReference>
        </connector>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Territory_Zip_Codes.Territory__c</elementReference>
            </value>
        </filters>
        <object>Territory_Assignment__c</object>
    </recordLookups>
    <screens>
        <name>no_assignments_screen</name>
        <label>no_assignments_screen</label>
        <locationX>321</locationX>
        <locationY>364</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Zip_Code</targetReference>
        </connector>
        <fields>
            <name>no_assignments_info</name>
            <fieldText>&lt;p&gt;This zip code is not assigned to any territories.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Zip_Code</name>
        <label>Search Zip Code</label>
        <locationX>176</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Territories</targetReference>
        </connector>
        <fields>
            <name>Zip_Code_Search_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Zip_Code_Record__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Zip Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Territory_Zip_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varZipCodeRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Territory_Assignments</name>
        <label>Territory Assignments</label>
        <locationX>369</locationX>
        <locationY>569</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_Territory_Assignment_Collection</targetReference>
        </connector>
        <fields>
            <name>Territory_Assignments_List</name>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Territory_Name__c, Territory_Region__c, Territory_Product_Group__c, Assigned_User_Name__c, Assigned_Role__c, Specialty_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colAllTerritoryAssignments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Territory Assignments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Territory_Name__c:Territory, Territory_Region__c:Region, Territory_Product_Group__c: Product Group, Assigned_User_Name__c: Assigned User, Assigned_Role__c: Role</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Search_Zip_Code</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAllTerritoryAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
    <variables>
        <name>colEmptyTerritoryAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
    <variables>
        <name>colTerritories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varZipCodeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
