force-app/main/default/flows/Lead_Assignment_Process_Flow1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Existing_Opportunity</name>
        <label>Existing Opportunity?</label>
        <locationX>540</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingOppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingOppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunty</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_No_Account</name>
        <label>Has No Account</label>
        <locationX>302</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Find_Open_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_No_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Contact No Account</label>
        </rules>
    </decisions>
    <description>Added pause (now) element after Create Account subflow to close transaction and (hopefully) avoid row lock errors.</description>
    <formulas>
        <name>formula_expectedclosedate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <name>formula_oppname</name>
        <dataType>String</dataType>
        <expression>&quot;Lead - &quot; &amp; {!varAccountName}</expression>
    </formulas>
    <formulas>
        <name>formula_waittime_2min</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (58/1440)</expression>
    </formulas>
    <interviewLabel>Lead Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Assignment Process Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Roles</name>
        <label>Create Contact Roles</label>
        <locationX>883</locationX>
        <locationY>635</locationY>
        <connector>
            <targetReference>Update_Lead_Assignment1</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Lead_Assignment.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunty</name>
        <label>Create Opportunty</label>
        <locationX>544</locationX>
        <locationY>636</locationY>
        <assignRecordIdToReference>NewOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Lead_Assignment.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formula_expectedclosedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Lead_Assignment.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Assignment_Process__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_oppname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAccountOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group__c</field>
            <value>
                <elementReference>Get_Lead_Assignment.Product_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Interest__c</field>
            <value>
                <elementReference>Get_Lead_Assignment.Product_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Lead_Id__c</field>
            <value>
                <elementReference>Get_Lead_Assignment.Vendor_Lead_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Open_Opportunities</name>
        <label>Find Open Opportunities</label>
        <locationX>412</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Opportunity</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Assignment.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Assignment.Product_Group__c</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>ExistingOppId</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>402</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_from_Contact</name>
        <label>Get Account from Contact</label>
        <locationX>211</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_No_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>300</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_from_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Assignment.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Assignment</name>
        <label>Get Lead Assignment</label>
        <locationX>95</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Lead_Assignment_Process__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>833</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Lead_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Assignment</name>
        <label>Update Lead Assignment</label>
        <locationX>710</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>ExistingOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead_Assignment_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Assignment1</name>
        <label>Update Lead Assignment</label>
        <locationX>1060</locationX>
        <locationY>635</locationY>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead_Assignment_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Assignment_Account</name>
        <label>Update Lead Assignment Account</label>
        <locationX>298</locationX>
        <locationY>644</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead_Assignment_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Lead_Assignment</name>
        <label>Update Opportunity Lead Assignment</label>
        <locationX>980</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Assignment_Process__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>1129</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>1208</locationX>
        <locationY>635</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Assignment.Task_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Assignment_Process__c</field>
            <value>
                <elementReference>Get_Lead_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Get_Lead_Assignment</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Assign_Opportunity</name>
        <label>Assign Opportunity</label>
        <locationX>714</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Create_Contact_Roles</targetReference>
        </connector>
        <flowName>Opportunity_Assignment_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>146</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Close_Transaction</targetReference>
        </connector>
        <flowName>Create_Account_for_Contact_with_Generic_Email</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Lead_Assignment.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <name>varNewAccountId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ExistingOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <waits>
        <name>Close_Transaction</name>
        <label>Close Transaction</label>
        <locationX>148</locationX>
        <locationY>769</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Now</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Lead_Assignment_Account</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Now</label>
        </waitEvents>
    </waits>
</Flow>
