force-app/main/default/flows/List_View_Pardot_Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>List View Pardot Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pardot Lead Conversion - List View</label>
    <loops>
        <name>Send_Leads_to_Sub_Routine</name>
        <label>Send Leads to Sub-Routine</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>LeadsSelectedRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sub_Routine</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Send_Leads_to_Sub_Routine</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Sub_Routine</name>
        <label>Sub-Routine</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Send_Leads_to_Sub_Routine</targetReference>
        </connector>
        <flowName>Pardot_Lead_Conversion_Sub_Routine</flowName>
        <inputAssignments>
            <name>Leadid</name>
            <value>
                <elementReference>Send_Leads_to_Sub_Routine.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>LeadsSelectedRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
