force-app/main/default/flows/Opportunity_Checks_before_Closing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Inactive_OLI_Counter</name>
        <label>Set Inactive OLI Counter</label>
        <locationX>468</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>varInactiveOLICounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs_to_check_for_Inactive_Products</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conCountryCanada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores User ID of Inside Sales Manager - John Salvatierra (0054V00000FQ5WmQAL)</description>
        <name>conInsideSalesManager</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0054V00000FQ5WmQAL</stringValue>
        </value>
    </constants>
    <constants>
        <name>conSubsidiaryJavelin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Javelin</stringValue>
        </value>
    </constants>
    <constants>
        <name>conSubsidiaryTriMech</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TriMech</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Inactive_OLI_Counter_Value</name>
        <label>Check for Inactive OLI Counter Value</label>
        <locationX>380</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Throw_Error_for_Inactive_Opportunity_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive OLI</defaultConnectorLabel>
        <rules>
            <name>Zero_Inactive_OLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInactiveOLICounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Owner_is_from_Account_Subsidiary</targetReference>
            </connector>
            <label>Zero Inactive OLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Current_Item_is_Active</name>
        <label>Check if Current Item is Active</label>
        <locationX>600</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Loop_OLIs_to_check_for_Inactive_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current Item is Active</defaultConnectorLabel>
        <rules>
            <name>Current_Item_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OLIs_to_check_for_Inactive_Products.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inactive_OLI_Counter</targetReference>
            </connector>
            <label>Current Item is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Owner_is_from_Account_Subsidiary</name>
        <label>Check if Owner is from Account Subsidiary</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Update_the_Checkboxes_as_FALSE_and_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner belongs to Account Subsidiary</defaultConnectorLabel>
        <rules>
            <name>Non_Subsidiary_Owner</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Record.Account_Subsidiary__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>conSubsidiaryTriMech</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp_Record.Owner_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conCountryCanada</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp_Record.Account_Subsidiary__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>conSubsidiaryJavelin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp_Record.Owner_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>conCountryCanada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Throw_Error_for_Incorrect_Opp_Owner</targetReference>
            </connector>
            <label>Non-Subsidiary Owner</label>
        </rules>
    </decisions>
    <description>Checks for Inactive Opp Line Item; Opp Owner and Opp Split Owner before letting the Opportunity Stage be set to &quot;Send to Order Management&quot; or &quot;Closed Won&quot;</description>
    <interviewLabel>Opportunity Checks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Checks before Closing</label>
    <loops>
        <name>Loop_OLIs_to_check_for_Inactive_Products</name>
        <label>Loop OLIs to check for Inactive Products</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <collectionReference>varRecColOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Current_Item_is_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Inactive_OLI_Counter_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Record</name>
        <label>Get Opp Record</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OLIs_to_check_for_Inactive_Products</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varRecColOppLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <sortField>SortOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Throw_Error_for_Inactive_Opportunity_Line_Item</name>
        <label>Throw Error for Inactive Opportunity Line Item</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>Inactive_OLI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Throw_Error_for_Incorrect_Opp_Owner</name>
        <label>Throw Error for Incorrect Opp Owner</label>
        <locationX>50</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>Incorrect_Opp_Owner__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Checkboxes_as_FALSE_and_Record_Type</name>
        <label>Update the Checkboxes as FALSE and Record Type</label>
        <locationX>314</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>Inactive_OLI__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorrect_Opp_Owner__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record__Prior.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Get_Opp_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>varInactiveOLICounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Counts the number of Opp Split owned by ISR</description>
        <name>varOppSplitCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRecColOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
