force-app/main/default/flows/Opportunity_Button_Send_to_Order_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Variable_Changing_Existing_License</name>
        <label>Set Variable Changing Existing License</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>bMissingChangingExistingLicense</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Payment_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_End_User</name>
        <label>Set Variable End User</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>bMissingEndUsersSoftware</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Changing_Existing_License</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_Missing_CaseID</name>
        <label>Set Variable Missing CaseID</label>
        <locationX>50</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>bMissingCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Checks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_Missing_Payment_Contact</name>
        <label>Set Variable Missing Payment Contact</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>bMissingPaymentContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_SN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_Missing_SN</name>
        <label>Set Variable Missing SN</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>bMissingSN</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Case_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_Payment_Type</name>
        <label>Set Variable</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>bMissingPaymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_End_Users_Software</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_Summary</name>
        <label>Set Variable</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>bMissingSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Payment_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Missing_Case_ID</name>
        <label>Missing Case ID?</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Opp_Checks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Is_software_on_this_order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Piracy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Case_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable_Missing_CaseID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Changing_Existing_License</name>
        <label>Missing Changing Existing License</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Missing_Payment_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Changing_or_Adding_to_Existing_License__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Is_software_on_this_order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable_Changing_Existing_License</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_End_Users_Software</name>
        <label>Missing End Users Software?</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Missing_Changing_Existing_License</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Is_software_on_this_order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.End_User_Ids__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable_End_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Payment_Contact</name>
        <label>Missing Payment Contact?</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Missing_SN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Contact_for_Payment_AP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable_Missing_Payment_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Payment_Type</name>
        <label>Missing Payment Type?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Missing_End_Users_Software</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Payment_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable_Payment_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_SN</name>
        <label>Missing SN?</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Missing_Case_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Is_software_on_this_order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Changing_or_Adding_to_Existing_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Provide_current_SN_we_are_adjusting__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable_Missing_SN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Summary</name>
        <label>Missing Summary?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Missing_Payment_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Summary_Description_of_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable_Summary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Checks</name>
        <label>Opp Checks</label>
        <locationX>182</locationX>
        <locationY>2450</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Checks_Subflow.bHasIncorrectOppOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Checks_Subflow.bHasIncorrectSplitOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Checks_Subflow.bHasInactiveProducts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bMissingSummary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bMissingPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bMissingEndUsersSoftware</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bMissingChangingExistingLicense</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bMissingCaseID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bMissingSN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bMissingPaymentContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <description>Button on Opportunity that checks order management fields and and if all data has been verified, changes stage to &quot;Send to Order Management&quot;.</description>
    <interviewLabel>Opportunity | Button | Send to Order Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Button | Send to Order Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Checks_Subflow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Stage</name>
        <label>Update Opp Stage</label>
        <locationX>314</locationX>
        <locationY>2558</locationY>
        <connector>
            <targetReference>Done_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Send to Order Management</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Done_Screen</name>
        <label>Done Screen</label>
        <locationX>314</locationX>
        <locationY>2666</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoneText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(8, 8, 8);&quot;&gt;Thank you! Your Opportunity Stage has been changed to &lt;/span&gt;&lt;strong style=&quot;color: rgb(8, 8, 8);&quot;&gt;Send to Order Management&lt;/strong&gt;&lt;span style=&quot;color: rgb(8, 8, 8);&quot;&gt;.&lt;/span&gt;&lt;strong style=&quot;color: rgb(250, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>2558</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 0, 0);&quot;&gt;Please fix the following errors before you can send this Opportunity to Order Management.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Incorrect_Owner_Text</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; color: rgb(244, 5, 5); font-family: Roboto, sans-serif; font-size: 10pt;&quot;&gt;Owner is either an Inside Sales Rep or not part of the Account Subsidiary, please change the Owner to be the Client Exec from the Account&apos;s Subsidiary.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Incorrect_Split_Owner_Text</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;Please check the Opportunity Splits; the GP must not be split with an Inside Sales Rep (TDR). Please update to only list the appropriate Client Exec in the Opportunity Splits tab.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inactive_Products_Text</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Roboto, sans-serif; font-size: 10pt;&quot;&gt;This Opportunity includes inactive Products. Please remove inactive Products from the Products list.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Missing_Summary_Text</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Roboto, sans-serif; font-size: 10pt;&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Roboto, sans-serif; font-size: 10pt;&quot;&gt;Summary Description of Order&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Roboto, sans-serif; font-size: 10pt;&quot;&gt; field is required. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Missing_Payment_Type_Text</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;Payment Type&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt; field is required. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Missing_EndUser_Software_Text</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;End User(s) &lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;field is required when software is on the order.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Missing_Changing_Existing_License_Text</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;Changing or Adding to Existing License &lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;field is required when software is on the order.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MissingPaymentContactText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(247, 3, 3);&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;color: rgb(247, 3, 3);&quot;&gt;Contact for Payment / AP &lt;/strong&gt;&lt;span style=&quot;color: rgb(247, 3, 3);&quot;&gt;field is required when Payment Type is Credit Card. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MissingSNText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;color: rgb(247, 2, 2);&quot;&gt;Provide current SN we are adjusting&lt;/strong&gt;&lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt; field is required when changing or adding to an existing license. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MIssingCaseIDText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(251, 0, 0);&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;color: rgb(251, 0, 0);&quot;&gt;Case ID and Site ID&lt;/strong&gt;&lt;span style=&quot;color: rgb(251, 0, 0);&quot;&gt; field is required when there is a Piracy Order. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Opportunity_Checks_Subflow</name>
        <label>Opportunity Checks Subflow</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Missing_Summary</targetReference>
        </connector>
        <flowName>Opportunity_Checks_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>bMissingCaseID</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bMissingChangingExistingLicense</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bMissingEndUsersSoftware</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bMissingPaymentContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bMissingPaymentType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bMissingSN</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bMissingSummary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
