force-app/main/default/flows/Opportunity_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Hardware_Assignment_Rules</name>
        <label>Hardware Assignment Rules</label>
        <locationX>211</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Set_Opp_Owner_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Status_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROSPECT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_Hardware_Outside</targetReference>
            </connector>
            <label>Account Status Prospect</label>
        </rules>
        <rules>
            <name>Dedicated_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Dedicated_Hardware__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_Hardware_Inside</targetReference>
            </connector>
            <label>Dedicated Account</label>
        </rules>
        <rules>
            <name>Campaign_SQL_Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Primary_Campaign_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_Hardware_Outside</targetReference>
            </connector>
            <label>Campaign SQL</label>
        </rules>
        <rules>
            <name>Campaign_MQL_Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Primary_Campaign_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_Hardware_Inside</targetReference>
            </connector>
            <label>Campaign MQL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Group</name>
        <label>Product Group</label>
        <locationX>504</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Set_Opp_Owner_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Software</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Product_Group__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Software_Assignment_Rules</targetReference>
            </connector>
            <label>Software</label>
        </rules>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Product_Group__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hardware_Assignment_Rules</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>Software_Assignment_Rules</name>
        <label>Software Assignment Rules</label>
        <locationX>848</locationX>
        <locationY>759</locationY>
        <defaultConnector>
            <targetReference>Set_Opp_Owner_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Status_Prospect_Software</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROSPECT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_Software_Outside</targetReference>
            </connector>
            <label>Account Status Prospect</label>
        </rules>
        <rules>
            <name>Dedicated_Outside</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Dedicated_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_Software_Outside</targetReference>
            </connector>
            <label>Dedicated Outside</label>
        </rules>
        <rules>
            <name>Dedicated_Inside</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Inside_Sales_Dedicated_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_Software_Inside</targetReference>
            </connector>
            <label>Dedicated Inside</label>
        </rules>
        <rules>
            <name>Campaign_SQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Primary_Campaign_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_Software_Outside</targetReference>
            </connector>
            <label>Campaign SQL</label>
        </rules>
        <rules>
            <name>Campaign_MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Primary_Campaign_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_Software_Inside</targetReference>
            </connector>
            <label>Campaign MQL</label>
        </rules>
    </decisions>
    <formulas>
        <name>RepHardwareInside</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Account.Sales_Rep_Hardware_Inside__c}),{!Get_Account.OwnerId},{!Get_Account.Sales_Rep_Hardware_Inside__c})</expression>
    </formulas>
    <formulas>
        <name>RepHardwareOutside</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Account.Sales_Rep_Hardware_Outside__c}),{!Get_Account.OwnerId},{!Get_Account.Sales_Rep_Hardware_Outside__c})</expression>
    </formulas>
    <formulas>
        <name>RepSoftwareInside</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Account.Sales_Rep_Software_Inside__c}),{!Get_Account.OwnerId},{!Get_Account.Sales_Rep_Software_Inside__c})</expression>
    </formulas>
    <formulas>
        <name>RepSoftwareOutside</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Account.Sales_Rep_Software__c}),{!Get_Account.OwnerId},{!Get_Account.Sales_Rep_Software__c})</expression>
    </formulas>
    <interviewLabel>Opportunity Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>512</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>510</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordUpdates>
        <name>Set_Opp_Owner_Account_Owner</name>
        <label>Set Opp Owner - Account Owner</label>
        <locationX>517</locationX>
        <locationY>756</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Assignment_Rules__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opp_Owner_Hardware_Inside</name>
        <label>Set Opp Owner - Hardware Inside</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RepHardwareInside</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Assignment_Rules__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opp_Owner_Hardware_Outside</name>
        <label>Set Opp Owner - Hardware Outside</label>
        <locationX>394</locationX>
        <locationY>1067</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RepHardwareOutside</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Assignment_Rules__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opp_Owner_Software_Inside</name>
        <label>Set Opp Owner - Software Inside</label>
        <locationX>645</locationX>
        <locationY>1076</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RepSoftwareInside</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Assignment_Rules__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opp_Owner_Software_Outside</name>
        <label>Set Opp Owner - Software Outside</label>
        <locationX>1057</locationX>
        <locationY>1070</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RepSoftwareOutside</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Run_Assignment_Rules__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
