force-app/main/default/flows/Opportunity_Screen_Flow_View_Edit_Order_Mgmt_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_End_User_Hardware_Id_String_to_Collection</name>
        <label>Convert End User Hardware Id String to Collection</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_End_User_HW_Collection_Variable</targetReference>
        </connector>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>endUsersHWIdsCleaned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_End_User_Software_Id_String_to_Collection</name>
        <label>Convert End User Software Id String to Collection</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_End_User_SW_Collection_Variable</targetReference>
        </connector>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>endUserIdsCleaned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_Student_Id_String_to_Collection</name>
        <label>Convert Student Id String to Collection</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Student_Collection_Variable</targetReference>
        </connector>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>studentIdsCleaned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Contact_Field_Values_to_Lists</name>
        <label>Add Contact Field Values to Lists</label>
        <locationX>402</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>selEndUserHWContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_HW_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selEndUserHWContactNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_HW_Contacts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Contact_Have_Netsuite_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Field_Values_to_Lists2</name>
        <label>Add Contact Field Values to Lists</label>
        <locationX>402</locationX>
        <locationY>4346</locationY>
        <assignmentItems>
            <assignToReference>selStudentContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Student_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selStudentContactNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Student_Contacts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Contact_Have_Netsuite_Id2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Field_Values_to_Lists_Both</name>
        <label>Add Contact Field Values to Lists</label>
        <locationX>402</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>selectedContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_SW_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedContactNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_SW_Contacts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Contact_Have_Netsuite_Id_Both</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Netsuite_Id_to_List</name>
        <label>Add Netsuite Id to List</label>
        <locationX>270</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>selEndUserHWContactNetsuiteIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_HW_Contacts.celigo_sfnsio__NetSuite_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_End_User_HW_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Netsuite_Id_to_List3</name>
        <label>Add Netsuite Id to List</label>
        <locationX>270</locationX>
        <locationY>4562</locationY>
        <assignmentItems>
            <assignToReference>selStudentContactNetsuiteIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Student_Contacts.celigo_sfnsio__NetSuite_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Student_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Netsuite_Id_to_List_Both</name>
        <label>Add Netsuite Id to List</label>
        <locationX>270</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>selectedContactNetsuiteIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_End_User_SW_Contacts.celigo_sfnsio__NetSuite_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_End_User_SW_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Primary_Contact_Id_to_Default_Value_Collections</name>
        <label>Add Primary Contact Id to Default Value Collections</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>endUserDefaultsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endUsersHWDefaultsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studentDefaultsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_Existing_End_User_Software_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Up_End_Usr_HW_Contact_Ids</name>
        <label>Clean Up End Usr HW Contact Ids</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>endUsersHWIdsCleaned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endUserIdsHWFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_End_User_Hardware_Id_String_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Up_End_Usr_SW_Contact_Ids</name>
        <label>Clean Up End Usr SW Contact Ids</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>endUserIdsCleaned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endUserIdsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_End_User_Software_Id_String_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Up_Student_Contact_Ids</name>
        <label>Clean Up Student Contact Ids</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>studentIdsCleaned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>studentIdsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Student_Id_String_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_User_HW_Collection_Variable</name>
        <label>Set End User HW Collection Variable</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>endUsersHWDefaultsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_End_User_Hardware_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_Existing_Student_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_User_SW_Collection_Variable</name>
        <label>Set End User SW Collection Variable</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>endUserDefaultsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_End_User_Software_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_Existing_End_User_Hardware_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Student_Collection_Variable</name>
        <label>Set Student Collection Variable</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>studentDefaultsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Student_Id_String_to_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OM_Edit_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_upload_count_variables</name>
        <label>Set upload count variables</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>paymentTypeUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PaymentTypeUpload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientPOUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Client_PO_File_HW.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exceptionUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ITAR_Upload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>formsUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Forms_Upload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ServicesUpload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>specialDiscountUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Special_Discount_Approval_HW.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strataforceAmericanUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Strataforce_Quote_with_American_Reseller_File_HW.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strataforceQuoteUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Strataforce_Quote_File_HW.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalCourseUploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AdditionalCourseUpload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Uploads_Required</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ACH_EFT_Wire</name>
        <choiceText>ACH/EFT/Wire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACH/EFT/Wire</stringValue>
        </value>
    </choices>
    <choices>
        <name>ALC</name>
        <choiceText>ALC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ALC</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreditCard</name>
        <choiceText>Credit Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hardware_Only</name>
        <choiceText>Hardware Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hardware Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PLC</name>
        <choiceText>PLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PLC</stringValue>
        </value>
    </choices>
    <choices>
        <name>PurchaseOrder</name>
        <choiceText>Purchase Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>SignedQuote</name>
        <choiceText>Signed Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Signed Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Software_and_Hardware</name>
        <choiceText>Software and Hardware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Software and Hardware</stringValue>
        </value>
    </choices>
    <choices>
        <name>Software_Only</name>
        <choiceText>Software Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Software Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Contact_Have_Netsuite_Id</name>
        <label>Does Contact Have Netsuite Id?</label>
        <locationX>402</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Selected_End_User_HW_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Netsuite Id</defaultConnectorLabel>
        <rules>
            <name>Has_Netsuite_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Selected_End_User_HW_Contacts.celigo_sfnsio__NetSuite_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Netsuite_Id_to_List</targetReference>
            </connector>
            <label>Has Netsuite Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Have_Netsuite_Id2</name>
        <label>Does Contact Have Netsuite Id?</label>
        <locationX>402</locationX>
        <locationY>4454</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Selected_Student_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Netsuite Id</defaultConnectorLabel>
        <rules>
            <name>Has_Netsuite_Id2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Selected_Student_Contacts.celigo_sfnsio__NetSuite_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Netsuite_Id_to_List3</targetReference>
            </connector>
            <label>Has Netsuite Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Have_Netsuite_Id_Both</name>
        <label>Does Contact Have Netsuite Id?</label>
        <locationX>402</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Selected_End_User_SW_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Netsuite Id</defaultConnectorLabel>
        <rules>
            <name>Has_Netsuite_Id_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Selected_End_User_SW_Contacts.celigo_sfnsio__NetSuite_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Netsuite_Id_to_List_Both</targetReference>
            </connector>
            <label>Has Netsuite Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Opp_Have_Primary_Contact</name>
        <label>Does Opp Have Primary Contact?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Pre_Existing_End_User_Software_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Contact</defaultConnectorLabel>
        <rules>
            <name>Has_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Primary_Contact_Id_to_Default_Value_Collections</targetReference>
            </connector>
            <label>Has Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Existing_End_User_Hardware_Ids</name>
        <label>Pre-Existing End User Hardware Ids?</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Pre_Existing_Student_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.End_User_Ids_hardware__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Up_End_Usr_HW_Contact_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Existing_End_User_Software_Ids</name>
        <label>Pre-Existing End User Software Ids?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Pre_Existing_End_User_Hardware_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.End_User_Ids__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Up_End_Usr_SW_Contact_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Existing_Student_Ids</name>
        <label>Pre-Existing Student Ids?</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>OM_Edit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Student_Ids__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Up_Student_Contact_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Uploads_Required</name>
        <label>Uploads Required?</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_End_User_Software_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fNeedsAnyUpload</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prompt_For_File_Upload</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LetterOfAuthorizationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Letter_of_Authorization_LOA__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>softwareOnOrderPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_software_on_this_order__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>endUserIdsFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Opportunity.End_User_Ids__c}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>endUserIdsHWFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Opportunity.End_User_Ids_hardware__c}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fNeedsAdditionalCoursesUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Are_there_additional_courses} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Are_there_additional_courses__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Are_there_additional_courses__c}, &quot;No&quot;)),
{!additionalCourseUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsAnyUpload</name>
        <dataType>Boolean</dataType>
        <expression>OR (
{!fNeedsClientPOUpload},
{!fNeedsExceptionUpload},
{!fNeedsFormsUpload},
{!fNeedsPaymentTypeUpload},
{!fNeedsServicesUpload},
{!fNeedsSpecialDiscountUpload},
{!fNeedsStrataforceAmericanUpload},
{!fNeedsStrataforceQuoteUpload},
{!fNeedsAdditionalCoursesUpload}
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsClientPOUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Client_PO_attached_HW} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Client_PO_attached__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Client_PO_attached__c}, &quot;No&quot;)),
{!clientPOUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsExceptionUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Does_this_order_require_ITAR_Compliance} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Does_this_order_require_ITAR_Compliance__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Does_this_order_require_ITAR_Compliance__c}, &quot;No&quot;)),
{!exceptionUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsFormsUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Forms_Both} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Forms__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Forms__c}, &quot;No&quot;)),
{!formsUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsPaymentTypeUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
NOT(ISBLANK({!Payment_Type})),
{!Payment_Type} != &quot;Credit Card&quot;,
OR (ISPICKVAL({!Get_Opportunity.Payment_Type__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Payment_Type__c}, &quot;Credit Card&quot;)),
{!paymentTypeUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsServicesUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Are_services_products_on_this_order} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Are_services_products_on_this_order__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Are_services_products_on_this_order__c}, &quot;No&quot;)),
{!serviceUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsSpecialDiscountUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Special_Discount_Approval_email_HW} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Special_Discount_Approval_email_attached__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Special_Discount_Approval_email_attached__c}, &quot;No&quot;)),
{!specialDiscountUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsStrataforceAmericanUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Strataforce_Quote_with_American_Reseller_pricing_HW} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Strataforce_Quote_with_American_Reseller__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Strataforce_Quote_with_American_Reseller__c}, &quot;No&quot;)),
{!strataforceAmericanUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsStrataforceQuoteUpload</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!Strataforce_Quote_HW} = &quot;Yes&quot;,
OR (ISPICKVAL({!Get_Opportunity.Strataforce_Quote_attached__c}, &quot;&quot;), ISPICKVAL({!Get_Opportunity.Strataforce_Quote_attached__c}, &quot;No&quot;)),
{!strataforceQuoteUploadCount} = 0
)</expression>
    </formulas>
    <formulas>
        <name>fPaymentTypeDefault</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Opportunity.Payment_Type__c})), &quot;Credit Card&quot;, TEXT({!Get_Opportunity.Payment_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>selectContactNamesFormula</name>
        <dataType>String</dataType>
        <expression>{!selectedContactNames}</expression>
    </formulas>
    <formulas>
        <name>selectedContactIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selectedContactIds}</expression>
    </formulas>
    <formulas>
        <name>selectedContactNetsuiteIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selectedContactNetsuiteIds}</expression>
    </formulas>
    <formulas>
        <name>selEndUserHWContactIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selEndUserHWContactIds}</expression>
    </formulas>
    <formulas>
        <name>selEndUserHWContactNamesFormula</name>
        <dataType>String</dataType>
        <expression>{!selEndUserHWContactNames}</expression>
    </formulas>
    <formulas>
        <name>selEndUserHWContactNetsuiteIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selEndUserHWContactNetsuiteIds}</expression>
    </formulas>
    <formulas>
        <name>selStudentContactIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selStudentContactIds}</expression>
    </formulas>
    <formulas>
        <name>selStudentContactNamesFormula</name>
        <dataType>String</dataType>
        <expression>{!selStudentContactNames}</expression>
    </formulas>
    <formulas>
        <name>selStudentContactNetsuiteIdsFormula</name>
        <dataType>String</dataType>
        <expression>{!selStudentContactNetsuiteIds}</expression>
    </formulas>
    <formulas>
        <name>studentIdsFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Get_Opportunity.Student_Ids__c}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity | Screen Flow | View/Edit Order Management Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Screen Flow | View/Edit Order Mgmt Fields</label>
    <loops>
        <name>Loop_Through_Selected_End_User_HW_Contacts</name>
        <label>Loop Through Selected End User HW Contacts</label>
        <locationX>182</locationX>
        <locationY>3530</locationY>
        <collectionReference>Get_Selected_End_User_Hardware_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Field_Values_to_Lists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Selected_Student_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_End_User_SW_Contacts</name>
        <label>Loop Through Selected End User SW Contacts</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <collectionReference>Get_Selected_End_User_Software_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Field_Values_to_Lists_Both</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Selected_End_User_Hardware_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_Student_Contacts</name>
        <label>Loop Through Selected Student Contacts</label>
        <locationX>182</locationX>
        <locationY>4238</locationY>
        <collectionReference>Get_Selected_Student_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Field_Values_to_Lists2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OM_Record_Detail_View_Only</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_End_User_Hardware_Contacts</name>
        <label>Get Selected End User Hardware Contacts</label>
        <locationX>182</locationX>
        <locationY>3422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Selected_End_User_HW_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>End_Users_Hardware.recordIds</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_End_User_Software_Contacts</name>
        <label>Get Selected End User Software Contacts</label>
        <locationX>182</locationX>
        <locationY>2714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Selected_End_User_SW_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>End_User_Both.recordIds</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Student_Contacts</name>
        <label>Get Selected Student Contacts</label>
        <locationX>182</locationX>
        <locationY>4130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Selected_Student_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Students.recordIds</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Fields</name>
        <label>Update Opp Fields</label>
        <locationX>182</locationX>
        <locationY>4838</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Notes__c</field>
            <value>
                <elementReference>Additional_Notes_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_hardware_products_on_this_order__c</field>
            <value>
                <elementReference>Are_hardware_products_on_this_order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_services_products_on_this_order__c</field>
            <value>
                <elementReference>Are_services_products_on_this_order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_there_additional_courses__c</field>
            <value>
                <elementReference>Are_there_additional_courses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLOSA_Contact__c</field>
            <value>
                <elementReference>CLOSAContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_ID__c</field>
            <value>
                <elementReference>Case_ID_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changing_or_Adding_to_Existing_License__c</field>
            <value>
                <elementReference>Changing_or_Adding_to_Existing_License_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_PO_attached__c</field>
            <value>
                <elementReference>Client_PO_attached_HW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_for_Payment_AP__c</field>
            <value>
                <elementReference>ContactForPayment.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coterming_to_Existing_Assets__c</field>
            <value>
                <elementReference>Coterming_to_Existing_Assets_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coterming_to_what_date__c</field>
            <value>
                <elementReference>To_what_date_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Date__c</field>
            <value>
                <elementReference>Course_Date_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Name__c</field>
            <value>
                <elementReference>Course_Name_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digital_or_in_person_location__c</field>
            <value>
                <elementReference>Digital_or_in_person_location_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dock_Hours__c</field>
            <value>
                <elementReference>Dock_hours_HW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_this_order_require_ITAR_Compliance__c</field>
            <value>
                <elementReference>Does_this_order_require_ITAR_Compliance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Ids__c</field>
            <value>
                <elementReference>selectedContactIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Ids_hardware__c</field>
            <value>
                <elementReference>selEndUserHWContactIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Names__c</field>
            <value>
                <elementReference>selectContactNamesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Names_hardware__c</field>
            <value>
                <elementReference>selEndUserHWContactNamesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Netsuite_Ids__c</field>
            <value>
                <elementReference>selectedContactNetsuiteIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Netsuite_Ids_hardware__c</field>
            <value>
                <elementReference>selEndUserHWContactNetsuiteIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forms__c</field>
            <value>
                <elementReference>Forms_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_software_on_this_order__c</field>
            <value>
                <elementReference>Is_software_on_this_order2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_student_already_enrolled_as_unpaid__c</field>
            <value>
                <elementReference>Is_the_student_already_enrolled_as_unpaid_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Letter_of_Authorization_LOA__c</field>
            <value>
                <elementReference>Letter_of_Authorization_LOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lift_Gate_or_Pallet_Jack_required__c</field>
            <value>
                <elementReference>Lift_Gate_or_Pallet_Jack_required_for_delivery_HW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO__c</field>
            <value>
                <elementReference>PO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>Payment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Piracy__c</field>
            <value>
                <elementReference>Piracy_Order_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type_Coupon_Code_Percentage__c</field>
            <value>
                <elementReference>Product_Type_Coupon_Code_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provide_current_SN_we_are_adjusting__c</field>
            <value>
                <elementReference>Provide_current_SN_we_are_adjusting_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Contact__c</field>
            <value>
                <elementReference>Shipping_Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_ID__c</field>
            <value>
                <elementReference>Site_ID_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Discount_Approval_email_attached__c</field>
            <value>
                <elementReference>Special_Discount_Approval_email_HW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strataforce_Quote_attached__c</field>
            <value>
                <elementReference>Strataforce_Quote_HW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strataforce_Quote_with_American_Reseller__c</field>
            <value>
                <elementReference>Strataforce_Quote_with_American_Reseller_pricing_HW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Ids__c</field>
            <value>
                <elementReference>selStudentContactIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Names__c</field>
            <value>
                <elementReference>selStudentContactNamesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Netsuite_Ids__c</field>
            <value>
                <elementReference>selStudentContactNetsuiteIdsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_Description_of_Order__c</field>
            <value>
                <elementReference>Summary_Description_of_Order_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenant__c</field>
            <value>
                <elementReference>Tenant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_in_Serial_Number__c</field>
            <value>
                <elementReference>Trade_In_Serial_Number_HW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_on_PO__c</field>
            <value>
                <elementReference>Training_on_PO_Both</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>OM_Edit_Screen</name>
        <label>OM Edit Screen</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_upload_count_variables</targetReference>
        </connector>
        <fields>
            <name>TopButtonBarEdit</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Previous&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GeneralEdit</name>
            <fieldText>General</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SoftwareEdit</name>
            <fieldText>Software</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TrainingEdit</name>
            <fieldText>Training</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ServicesEdit</name>
            <fieldText>Services</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HardwareEdit</name>
            <fieldText>Hardware</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OM_Record_Detail_View_Only</name>
        <label>OM Record Detail View Only</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_Opp_Have_Primary_Contact</targetReference>
        </connector>
        <fields>
            <name>TopButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Edit&quot;,&quot;value&quot;:&quot;Edit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>General</name>
            <fieldText>General</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Software</name>
            <fieldText>Software</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Training</name>
            <fieldText>Training</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Services</name>
            <fieldText>Services</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Hardware</name>
            <fieldText>Hardware</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prompt_For_File_Upload</name>
        <label>Prompt For File Upload</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_End_User_Software_Contacts</targetReference>
        </connector>
        <fields>
            <name>thevalue</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(251, 5, 5);&quot;&gt;Please go back and upload files to support the following data:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PaymentTypeText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Payment Type&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientPOText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Client PO&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormsText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Forms&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ITARComplianceText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;ITAR Compliance&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AdditionalCoursesText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(247, 3, 3);&quot;&gt;Additional Training Courses&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServicesText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Services&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpecialDiscountText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Special Discount&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StrataforceQuoteText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Strataforce Quote&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StrataforceAmericanText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;Strataforce Quote with American Reseller&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Draft</status>
    <variables>
        <name>additionalCourseFileIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>additionalCourseUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Client_PO_File_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientPOUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>endUserDefaultsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endUserIdsCleaned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endUsersHWDefaultsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endUsersHWIdsCleaned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exceptionFileIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exceptionUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>formsUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PaymentTypeFileIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentTypeUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactNetsuiteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selEndUserHWContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selEndUserHWContactNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selEndUserHWContactNetsuiteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selStudentContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selStudentContactNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selStudentContactNetsuiteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>servicesFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Special_Discount_File_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>specialDiscountUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Strataforce_American_File_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Strataforce_Quote_File_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strataforceAmericanUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>strataforceQuoteUploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>studentDefaultsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>studentIdsCleaned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Upload_Forms_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
