force-app/main/default/flows/Pardot_Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Lead_to_Collection</name>
        <label>Assign Lead to Collection</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Leads_To_Convert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Lead_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sub_Routine</targetReference>
        </connector>
    </assignments>
    <description>Sending collection of Leads to conversion subroutine instead of one by one</description>
    <environments>Default</environments>
    <interviewLabel>Pardot Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pardot Lead Conversion - Lead Record Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_ID</name>
        <label>Get Lead ID</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Sub_Routine</name>
        <label>Lead Conversion Sub-Routine</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <flowName>Pardot_Lead_Conversion_Sub_Routine</flowName>
        <inputAssignments>
            <name>LeadsSelectedRecs</name>
            <value>
                <elementReference>Leads_To_Convert</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Leads_To_Convert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>OppFromApex</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppIdsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
