force-app/main/default/flows/Pardot_Contact_Multi_Touch_2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Contact_Picklist_Values_to_Combined_Picklist</name>
        <label>Add Contact Picklist Values to Combined Picklist</label>
        <locationX>270</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>ProductOfInterestCombined</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Through_Contact_Product_of_Interest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Product_of_Interest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opp_Picklist_Values_to_Combined_Picklist</name>
        <label>Add Opp Picklist Values to Combined Picklist</label>
        <locationX>270</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>ProductOfInterestCombined</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Through_Opp_Product_of_Interest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opp_Product_of_Interest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_to_Collection_0_0</name>
        <label>Assign Opp to Collection</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>oppCollectionText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_New_Opp_with_Pardot_Fields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Assignment_Flow_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_to_Collection_for_Assignment</name>
        <label>Assign Opp to Collection for Assignment</label>
        <locationX>50</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>oppCollectionText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Assignment_Flow_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_to_Matching_Contact_Variable</name>
        <label>Assign Opp to Matching Contact Variable</label>
        <locationX>468</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>MatchingContactOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Roles_on_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_to_NoAssign_Variable</name>
        <label>Assign Opp to NoAssign Variable</label>
        <locationX>248</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SQLToMQLOpp_NoAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_of_Interest_Variables</name>
        <label>Set Product of Interest Variables</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>ContactProductOfInterest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Lead_Product_of_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProductOfInterest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchingContactOpp.Lead_Product_of_Interest_on_Opp__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contact_Product_of_Interest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Type</name>
        <label>Campaign Type?</label>
        <locationX>264</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Pardot_Lead_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not UQL</defaultConnectorLabel>
        <rules>
            <name>UQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Pardot_Data_Import_to_False_0_0</targetReference>
            </connector>
            <label>UQL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Type_going_from_SQL_to_MQL</name>
        <label>Campaign Type going from SQL to MQL?</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Lead_Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_to_NoAssign_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role?</label>
        <locationX>182</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Should_this_Opp_be_reassigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yesx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingContactOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Role2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Opp_Have_Matching_Contact_Role</name>
        <label>Does Opp Have Matching Contact Role?</label>
        <locationX>600</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Contact_Roles_on_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contact_Roles_on_Opp.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_to_Matching_Contact_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Matching_Pardot_Lead_Assignment</name>
        <label>Is There a Matching Pardot Lead Assignment?</label>
        <locationX>380</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pardot_Lead_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_of_Interest_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Matching_Pardot_Lead_Assignment_0</name>
        <label>Is There a Matching Pardot Lead Assignment?</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Pardot_Lead_Assignment.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opp_with_Pardot_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Opp_Found</name>
        <label>Matching Opp Found?</label>
        <locationX>677</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_There_a_Matching_Pardot_Lead_Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Create New Opp</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Exising_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Type_going_from_SQL_to_MQL</targetReference>
            </connector>
            <label>Yes, Update Exising Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_this_Opp_be_reassigned</name>
        <label>Should this Opp be reassigned?</label>
        <locationX>182</locationX>
        <locationY>2879</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SQLToMQLOpp_NoAssign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_to_Collection_for_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>Append existing opp Description with Contact&apos;s Pardot Comments</description>
        <name>AppendedDescription</name>
        <dataType>String</dataType>
        <expression>IF(
     NOT(ISBLANK({!$Record.pi__comments__c})), 
     IF (
           NOT(ISBLANK({!Get_Opportunity.Description})), 
           {!Get_Opportunity.Description} + &apos;   &apos; + {!$Record.pi__comments__c}, 
           {!$Record.pi__comments__c}
    ),
   {!Get_Opportunity.Description}
)</expression>
    </formulas>
    <formulas>
        <name>ExistingOppLeadSource</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISPICKVAL({!Get_Opportunity.LeadSource, &quot;&quot;})), TEXT({!Get_Opportunity.LeadSource}), TEXT({!$Record.LeadSource}))</expression>
    </formulas>
    <formulas>
        <name>formOppName</name>
        <dataType>String</dataType>
        <expression>&apos;Lead - &apos; + {!$Record.Account.Name} + &apos; - &apos; + TEXT({!$Record.Lead_Product_Category__c}) + &apos; - &apos; + TEXT(DAY({!Today})) + &apos; &apos; + CASE(MONTH({!Today}) ,
1, &quot;Jan&quot;,
2, &quot;Feb&quot;,
3, &quot;Mar&quot;,
4, &quot;Apr&quot;,
5, &quot;May&quot;,
6, &quot;Jun&quot;,
7, &quot;Jul&quot;,
8, &quot;Aug&quot;,
9, &quot;Sep&quot;,
10, &quot;Oct&quot;,
11, &quot;Nov&quot;,
12, &quot;Dec&quot;,
&quot;None&quot;) + &apos;, &apos; + TEXT(YEAR({!Today}))</expression>
    </formulas>
    <formulas>
        <description>Opportunity Name limited to 120 characters</description>
        <name>formTrimmedOppName</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!formOppName}) &gt; 120, LEFT({!formOppName}, 120), {!formOppName})</expression>
    </formulas>
    <formulas>
        <name>LSCCampaignValue</name>
        <dataType>String</dataType>
        <expression>IF(
     NOT(ISBLANK({!$Record.LSC_Campaign__c})), 
     LEFT({!$Record.LSC_Campaign__c}, 255),
     {!Get_Opportunity.LSC_Campaign__c}
)</expression>
    </formulas>
    <formulas>
        <name>OppCloseDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>PardotCampaignValue</name>
        <dataType>String</dataType>
        <expression>IF(
     NOT(ISBLANK({!$Record.pi__campaign__c})), 
     LEFT({!$Record.pi__campaign__c}, 255),
     {!Get_Opportunity.Pardot_Campaign__c}
)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Pardot Contact Multi Touch 2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pardot Contact Multi Touch 2.0</label>
    <loops>
        <name>Loop_Through_Contact_Product_of_Interest</name>
        <label>Loop Through Contact Product of Interest</label>
        <locationX>182</locationX>
        <locationY>1871</locationY>
        <collectionReference>ContactProductOfInterest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Picklist_Values_to_Combined_Picklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Opp_Product_of_Interest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Contact_Roles_on_Opp</name>
        <label>Loop Through Contact Roles on Opp</label>
        <locationX>380</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_Existing_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Opp_Have_Matching_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_There_a_Matching_Pardot_Lead_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opp_Product_of_Interest</name>
        <label>Loop Through Opp Product of Interest</label>
        <locationX>182</locationX>
        <locationY>2171</locationY>
        <collectionReference>OppProductOfInterest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Opp_Picklist_Values_to_Combined_Picklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Existing_Opp_with_PLA_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Role2</name>
        <label>Create Contact Role</label>
        <locationX>50</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Should_this_Opp_be_reassigned</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role_0_0</name>
        <label>Create Contact Role</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Assign_Opp_to_Collection_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_New_Opp_with_Pardot_Fields</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opp_with_Pardot_Fields</name>
        <label>Create New Opp with Pardot Fields</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Create_Contact_Role_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.pi__comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID_Google_Click_Identification__c</field>
            <value>
                <elementReference>$Record.GCLID_Google_Click_Identification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LSC_Campaign__c</field>
            <value>
                <elementReference>$Record.LSC_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Attended_Trade_Show__c</field>
            <value>
                <elementReference>$Record.Last_Attended_Trade_Show__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Registered_Event__c</field>
            <value>
                <elementReference>$Record.Last_Registered_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Campaign_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Product_Category_on_Opp__c</field>
            <value>
                <elementReference>$Record.Lead_Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Product_of_Interest_on_Opp__c</field>
            <value>
                <elementReference>$Record.Lead_Product_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Sales_Rep_to_Assign__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.Sales_Rep_to_Assign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formTrimmedOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pardot_Campaign__c</field>
            <value>
                <elementReference>$Record.pi__campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.PLA_Product_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126g000000X4XUAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialty_Group_on_Opp__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.PLA_Specialty_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Date__c</field>
            <value>
                <elementReference>$Record.Training_Course_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Location__c</field>
            <value>
                <elementReference>$Record.Training_Course_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Name__c</field>
            <value>
                <elementReference>$Record.Training_Course_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Contact_Roles</name>
        <label>Get Existing Contact Roles</label>
        <locationX>380</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contact_Roles_on_Opp</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>677</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Opp_Found</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Product_Category_on_Opp__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Product_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Neglected</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dormant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Product_Category_on_Opp__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Training Course</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Pardot_Lead_Assignment</name>
        <label>Get Pardot Lead Assignment</label>
        <locationX>677</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Product_Category__c</elementReference>
            </value>
        </filters>
        <object>Pardot_Lead_Assignment__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Pardot_Data_Import_to_False_0_0</name>
        <label>Update Contact Pardot Data Import to False</label>
        <locationX>264</locationX>
        <locationY>3539</locationY>
        <inputAssignments>
            <field>Pardot_Data_Import__c</field>
            <value>
                <stringValue>FALSE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Opp_with_PLA_Fields</name>
        <label>Update Existing Opp with PLA Fields</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Create_Contact_Role</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AppendedDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID_Google_Click_Identification__c</field>
            <value>
                <elementReference>$Record.GCLID_Google_Click_Identification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LSC_Campaign__c</field>
            <value>
                <elementReference>LSCCampaignValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Attended_Trade_Show__c</field>
            <value>
                <elementReference>$Record.Last_Attended_Trade_Show__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Registered_Event__c</field>
            <value>
                <elementReference>$Record.Last_Registered_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>ExistingOppLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Campaign_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Product_of_Interest_on_Opp__c</field>
            <value>
                <elementReference>ProductOfInterestCombined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Sales_Rep_to_Assign__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.Sales_Rep_to_Assign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pardot_Campaign__c</field>
            <value>
                <elementReference>PardotCampaignValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.PLA_Product_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialty_Group_on_Opp__c</field>
            <value>
                <elementReference>Get_Pardot_Lead_Assignment.PLA_Specialty_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Date__c</field>
            <value>
                <elementReference>$Record.Training_Course_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Location__c</field>
            <value>
                <elementReference>$Record.Training_Course_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Course_Name__c</field>
            <value>
                <elementReference>$Record.Training_Course_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Campaign_Type</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Opportunity_Assignment_Flow_2_0</name>
        <label>Opportunity Assignment Flow 2.0</label>
        <locationX>677</locationX>
        <locationY>3347</locationY>
        <connector>
            <targetReference>Update_Contact_Pardot_Data_Import_to_False_0_0</targetReference>
        </connector>
        <flowName>Opportunity_Assignment_Flow_2_0</flowName>
        <inputAssignments>
            <name>oppIdsText</name>
            <value>
                <elementReference>oppCollectionText</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CombinedProductOfInterest</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactProductOfInterest</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingContactOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NoMatchingContactOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppCollectionText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppProductOfInterest</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductOfInterestCombined</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SQLToMQLOpp_NoAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
