force-app/main/default/flows/Profile_Update_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Count_Profile_Questions</name>
        <label>Count Profile Questions</label>
        <locationX>534</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>ActiveProfileQuestionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Questions_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Questions</name>
        <label>Count Questions</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ActiveQuestionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Questions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Question_Profile_Question</name>
        <label>Active Question &gt; Profile Question</label>
        <locationX>446</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Profile_Up_to_Date_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Needs_to_be_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveQuestionCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ActiveProfileQuestionCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Profile_Screen</targetReference>
            </connector>
            <label>Needs to be updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Profile</name>
        <label>Has Profile</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Question_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Profile</defaultConnectorLabel>
        <rules>
            <name>Create_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingQuestionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Create_Profile</targetReference>
            </connector>
            <label>Create Profile</label>
        </rules>
    </decisions>
    <interviewLabel>Profile Update Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Profile Update Alert</label>
    <loops>
        <name>Loop_Questions</name>
        <label>Loop Questions</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Active_Question_Count</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Active_Profile_Questions_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Questions_on_Account</name>
        <label>Loop Questions on Account</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Active_Profile_Questions_on_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Profile_Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Question_Profile_Question</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Active_Profile_Questions_on_Account</name>
        <label>Get Active Profile Questions on Account</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Questions_on_Account</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Client_Profile_Question__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Question_Count</name>
        <label>Get Active Question Count</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Questions</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Question_Template__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Question_Count</name>
        <label>Get Existing Question Count</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Profile</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ExistingQuestionCount</assignToReference>
            <field>Client_Profile_Question_Count__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Profile_Up_to_Date_Screen</name>
        <label>Profile Up to Date Screen</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>alert_up_to_date</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This profile is up to date.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Create_Profile</name>
        <label>Screen_Create_Profile</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Create_Questionnaire</targetReference>
        </connector>
        <fields>
            <name>Screen_Create_Profile_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Profile_Screen</name>
        <label>Update Profile Screen</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_Update_Questionnaire</targetReference>
        </connector>
        <fields>
            <name>alert_to_update</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(208, 0, 0);&quot;&gt;! &lt;/span&gt;&lt;i style=&quot;font-size: 14px; color: rgb(208, 0, 0);&quot;&gt;This profile needs to be updated.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_Profile_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Existing_Question_Count</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Call_Create_Questionnaire</name>
        <label>Call Create Questionnaire</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <flowName>Create_Questionnaire</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Update_Questionnaire</name>
        <label>Call Update Questionnaire</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <flowName>Update_Questionnaire</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ActiveProfileQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ActiveQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExistingQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
