force-app/main/default/flows/Replace_Territory_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Batch_Apex</name>
        <label>Call Batch Apex</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <actionName>RecreateAccountTerritoriesInvocable</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>taList</name>
            <value>
                <elementReference>selected_territory_assignments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>Select_User</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Current_Item_to_Record_Collection_for_Updates</name>
        <label>Add Current Item to Record Collection for Updates</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recColVarAssignedUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Territory_Assignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Territory_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_User_to_Collection</name>
        <label>Assign Selected User to Collection</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>SelectedUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Batch_Apex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Assigned_User_Values</name>
        <label>Assign the Assigned User Values</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_Territory_Assignments.Assigned_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Assignee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Item_to_Record_Collection_for_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UnselectedUser_to_True</name>
        <label>Set UnselectedUser to True</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varUnselectedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Territory_Assignment_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>selectuser</name>
        <choiceText>&lt;i&gt;-- Select User -- &lt;/i&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_if_the_New_Assignee_is_selected_or_not</name>
        <label>Check if the New Assignee is selected or not</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Territory_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Assignee is Selected</defaultConnectorLabel>
        <rules>
            <name>New_Assignee_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Assignee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UnselectedUser_to_True</targetReference>
            </connector>
            <label>New Assignee Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Territory_Assignments</name>
        <label>Has Territory Assignments</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Assignments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Territory_Assignment_Records</targetReference>
            </connector>
            <label>Has Assignments</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_uesrs_lesscurrentuser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e6g000002bcra</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Select_User</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Replace Territory Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Replace Territory Assignments</label>
    <loops>
        <name>Loop_Territory_Assignments</name>
        <label>Loop Territory Assignments</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <collectionReference>selected_territory_assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_Assigned_User_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Assigned_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Territory_Assignments</name>
        <label>Get Territory Assignments</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Territory_Assignments</targetReference>
        </connector>
        <filters>
            <field>Assigned_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_User</elementReference>
            </value>
        </filters>
        <object>Territory_Assignment__c</object>
        <sortField>Territory_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assigned_User</name>
        <label>Update Assigned User</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Assign_Selected_User_to_Collection</targetReference>
        </connector>
        <inputReference>recColVarAssignedUsers</inputReference>
    </recordUpdates>
    <screens>
        <name>No_Assignments</name>
        <label>No Assignments</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_User_to_Replace</targetReference>
        </connector>
        <fields>
            <name>no_assignments_user</name>
            <fieldText>&lt;p&gt;{!Select_User} has no territory assignments.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Territory_Assignment_Records</name>
        <label>Select Territory Assignment Records</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_the_New_Assignee_is_selected_or_not</targetReference>
        </connector>
        <fields>
            <name>New_Assignee</name>
            <choiceReferences>selectuser</choiceReferences>
            <choiceReferences>choice_users</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>selectuser</defaultSelectedChoiceReference>
            <fieldText>New Assignee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please Select the New Assignee!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TerritoryAssignmentList</name>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Territory_Name__c, Account_Field_to_Assign__c </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Territory_Assignments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Territory_Name__c: Territory, Account_Field_to_Assign__c:Field Assignment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>Get_Territory_Assignments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Territory Assignments</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_territory_assignments</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_User_to_Replace</name>
        <label>Select User to Replace</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Territory_Assignments</targetReference>
        </connector>
        <fields>
            <name>Select_User</name>
            <choiceReferences>selectuser</choiceReferences>
            <choiceReferences>choice_users</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>selectuser</defaultSelectedChoiceReference>
            <fieldText>Select User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_User_to_Replace</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAccountsToRecreateTerritories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Collection Variable for Territory Assignment - Assigned User field</description>
        <name>recColVarAssignedUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
    <variables>
        <name>selected_territory_assignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Assignment__c</objectType>
    </variables>
    <variables>
        <name>SelectedUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUnselectedUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
