force-app/main/default/flows/Replace_Task_to_Fire_Lead_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_new_task</name>
        <label>Redirect to new task</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newTaskId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_New_Task_Id</name>
        <label>Assign New Task Id</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newTaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Old_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record_Variable</name>
        <label>Update Record Variable</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Record.sfCampaignId_confirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7014V000002hCH8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Replacement_Task</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>choice_campaign</name>
        <dataType>String</dataType>
        <displayField>Name_and_Id__c</displayField>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varSelectedCampaign</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formula_comments</name>
        <dataType>String</dataType>
        <expression>{!Get_Task_Record.Description} &amp; BR() &amp;
&quot;sfCampaignId: &quot; &amp; {!varSelectedCampaign}</expression>
    </formulas>
    <interviewLabel>Replace Task to Fire Lead Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Replace Task to Fire Lead Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Replacement_Task</name>
        <label>Create Replacement Task</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_New_Task_Id</targetReference>
        </connector>
        <inputReference>Get_Task_Record</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Task</name>
        <label>Delete Old Task</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Redirect_to_new_task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Task_Record</name>
        <label>Get Task Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Variable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordLookups>
    <screens>
        <name>Select_Campaign</name>
        <label>Select Campaign</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Task_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Campaign_to_Apply</name>
            <choiceReferences>choice_campaign</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Campaign to Apply</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Campaign</startElementReference>
    <status>Active</status>
    <variables>
        <name>newTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
