force-app/main/default/flows/Screen_for_Pardot_Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Requery_Lead_Records</name>
        <label>Requery Lead Records</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>GetRecordsIn</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lead_Conversion_Subroutine</targetReference>
        </connector>
        <inputParameters>
            <name>outputFieldNames</name>
            <value>
                <stringValue>Id,PostalCode,pi__campaign__c,Company,Lead_Product_Category__c,Campaign_Type__c,Country,Lead_Sales_Rep_to_Assign__c,Training_Course_Date__c,Training_Course_Location__c,Training_Course_Name__c,Last_Registered_Event__c,Last_Attended_Trade_Show__c,LSC_Campaign__c,LeadSource,Lead_Product_of_Interest__c,pi__comments__c,GCLID_Google_Click_Identification__c,Status,IsConverted,Description,Email,FirstName,LastName,Lead_Product_Group__c,Lead_Specialty_Group__c,Submission_Count__c,City,State,Street,Latitude,Longitude,Task_Import_Date_Time__c,Task_Owner__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outputObject</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceMethod</name>
            <value>
                <stringValue>Collection</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceObject</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>LeadsSelectedRecs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceValueCollection</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storeFieldsMethod</name>
            <value>
                <stringValue>Choose</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Updated_Lead_to_Collection</name>
        <label>Assign Updated Lead to Collection</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>vLeadToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Lead_IDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLeadToUpdate.Auto_Assign_Opp_After_Conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLeadsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vLeadToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lead_IDs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Leads_Selected</name>
        <label>Leads Selected?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Passing collection of selected records to conversion subroutine. Marking records so they will be auto-assigned after conversion.</description>
    <formulas>
        <name>fResultText</name>
        <dataType>String</dataType>
        <expression>IF (NOT({!Lead_Conversion_Subroutine.vLeadsBatchedBoolean}), {!Lead_Conversion_Subroutine.vBatchErrorMessage}, &quot;Leads were batched successfully and may take a few minutes to convert.&quot;) + &quot; Click Finish to go back to Leads List.&quot;</expression>
    </formulas>
    <interviewLabel>Screen for Pardot Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen for Pardot Lead Conversion</label>
    <loops>
        <name>Loop_Lead_IDs</name>
        <label>Loop Lead IDs</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Updated_Lead_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Auto_Assign_Flag_on_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Auto_Assign_Flag_on_Leads</name>
        <label>Update Auto Assign Flag on Leads</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Requery_Lead_Records</targetReference>
        </connector>
        <inputReference>colLeadsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>ConfirmScreen</name>
        <label>ConfirmScreen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Lead_IDs</targetReference>
        </connector>
        <fields>
            <name>ConfirmText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure you want to convert selected Leads? &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 5, 5);&quot;&gt;You must select at least one Lead. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_FInished</name>
        <label>Flow FInished</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowFinished</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!fResultText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Leads_Selected</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Lead_Conversion_Subroutine</name>
        <label>Lead Conversion Subroutine</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Flow_FInished</targetReference>
        </connector>
        <flowName>Pardot_Lead_Conversion_Sub_Routine</flowName>
        <inputAssignments>
            <name>LeadsSelectedRecs</name>
            <value>
                <elementReference>Requery_Lead_Records.outputCollection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colLeadsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadsSelectedRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vLeadToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
