force-app/main/default/flows/ServiceAppointment_RTF_Create_Update_Calendar_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Calendar_Event_Field_Values</name>
        <label>Assign Calendar Event Field Values</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSL__GanttLabel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.IsRecurrence2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.ActivityDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Calendar_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Calendar_Event_Field_Values_to_Update</name>
        <label>Assign Calendar Event Field Values to Update</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSL__GanttLabel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendar_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.ActivityDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalendarEventToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Calendar_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Event_Id_blank</name>
        <label>Set Event Id blank</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Event_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Does_Calendar_Event_Exist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status_Changed_To_Scheduled</name>
        <label>Check Status Changed To Scheduled</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Does_Calendar_Event_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Event_Id_blank</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Calendar_Event_Exist</name>
        <label>Does Calendar Event Exist?</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Get_Calendar_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_event_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_ID__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Calendar_Event_Field_Values</targetReference>
            </connector>
            <label>No, event does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SA_Cancelled</name>
        <label>Is SA Cancelled?</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SA_is_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Calendar_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Calendar_Event</targetReference>
            </connector>
            <label>Yes, SA is Cancelled</label>
        </rules>
        <rules>
            <name>Calendar_Event_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Calendar_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Calendar_Event_Field_Values_to_Update</targetReference>
            </connector>
            <label>Calendar Event Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DurationInMinutes</name>
        <dataType>Number</dataType>
        <expression>({!$Record.SchedStartTime} - {!$Record.SchedEndTime}) *24 *60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ServiceAppointment [RTF] - Create/Update Calendar Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ServiceAppointment [RTF] - Create/Update Calendar Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Calendar_Event</name>
        <label>Create Calendar Event</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <inputReference>CalendarEventToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Calendar_Event</name>
        <label>Delete Calendar Event</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <inputReference>Get_Calendar_Event</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Calendar_Event</name>
        <label>Get Calendar Event</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_SA_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Calendar_Event</name>
        <label>Update Calendar Event</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <inputReference>CalendarEventToCreate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Event_ID__c</field>
            <value>
                <elementReference>CalendarEventToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_Changed_To_Scheduled</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR 4</filterLogic>
        <filters>
            <field>SchedStartTime</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CalendarEventToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
