force-app/main/default/flows/Service_Appointment_SCRN_Add_Additional_Service_Resource_to_SA_Clone_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Unavailable_Service_Resources_to_List</name>
        <label>Add Unavailable Service Resources to List</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>UnavailableServiceResourceIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Conflicting_Resource_Absences.ResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conflicting_Resource_Absences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Unavaliable_Service_Resource_to_List1</name>
        <label>Add Unavaliable Service Resource to List</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>UnavailableServiceResourceIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Conflicting_Service_Appointments.FSSK__FSK_Assigned_Service_Resource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conflicting_Service_Appointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Service_Appointment_Fields</name>
        <label>Assign New Service Appointment Fields</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentToCreate.AppointmentNumber</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentToCreate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentToCreate.FSSK__FSK_Assigned_Service_Resource__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentToCreate.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentToCreate.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentToCreate.Event_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Service Appointment [SCRN] - Add Additional Service Resource to SA (Clone SA) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment [SCRN] - Add Additional Service Resource to SA (Clone SA)</label>
    <loops>
        <name>Conflicting_Resource_Absences</name>
        <label>Conflicting Resource Absences</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Conflicting_Resource_Absences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Unavailable_Service_Resources_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Available_Service_Resources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Conflicting_Service_Appointments</name>
        <label>Conflicting Service Appointments</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Conflicting_Service_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Unavaliable_Service_Resource_to_List1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Conflicting_Resource_Absences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assigned_Resource</name>
        <label>Create Assigned Resource</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>ServiceAppointmentToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>SelectedServiceResource.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Update_SA_Status</targetReference>
        </connector>
        <inputReference>ServiceAppointmentToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Available_Service_Resources</name>
        <label>Get Available Service Resources</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_A_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>UnavailableServiceResourceIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ResourceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conflicting_Resource_Absences</name>
        <label>Get Conflicting Resource Absences</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conflicting_Resource_Absences</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Start</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>recordId.SchedStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>recordId.SchedEndTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>End</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>recordId.SchedStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>End</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>recordId.SchedEndTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conflicting_Service_Appointments</name>
        <label>Get Conflicting Service Appointments</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conflicting_Service_Appointments</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>SchedStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>recordId.SchedStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>recordId.SchedEndTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>recordId.SchedStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>recordId.SchedEndTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_Status</name>
        <label>Update SA Status</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Create_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentToCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>recordId.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>recordId.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Select_A_Service_Resource</name>
        <label>Select A Service Resource</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Service_Appointment_Fields</targetReference>
        </connector>
        <fields>
            <name>AvailableServiceResourcesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceResource</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Available Service Resources</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Available_Service_Resources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-72dd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedServiceResource</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conflicting_Service_Appointments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recordId44</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>UnavailableServiceResourceIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
