force-app/main/default/flows/Submit_To_Order_Management_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Records</name>
        <label>Assign Records</label>
        <locationX>659</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>Content_Document_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Update_Records</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_success</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Submit_To_Order_Management</name>
        <label>Submit To Order Management?</label>
        <locationX>382</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Order_Submission_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Submit_to_Order_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Order Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Submit_to_Order_Management_Screen</targetReference>
            </connector>
            <label>Stage is Submit to Order Management</label>
        </rules>
    </decisions>
    <description>Screen Flow form to submit Orders to Order Management</description>
    <dynamicChoiceSets>
        <name>DeliveryRequirements</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Delivery_Requirements__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Piracy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Piracy__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stage1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Training</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Training_on_PO__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Submit To Order Management Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit To Order Management Screen Flow</label>
    <loops>
        <name>Loop_Update_Records</name>
        <label>Loop Update Records</label>
        <locationX>1231</locationX>
        <locationY>341</locationY>
        <collectionReference>Content_Document_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Record_Contact</name>
        <label>Get Record Contact</label>
        <locationX>233</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_To_Order_Management</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records.Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records.Primary_Contact_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>60</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email</name>
        <label>Update Email</label>
        <locationX>879</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>Loop_Update_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>770</locationX>
        <locationY>136</locationY>
        <connector>
            <targetReference>Update_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CHIT_Info__c</field>
            <value>
                <elementReference>CHIT_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Requirements__c</field>
            <value>
                <elementReference>Delivery_Requirements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Approved_By__c</field>
            <value>
                <elementReference>Discount_Approved_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dock_Hours__c</field>
            <value>
                <elementReference>Dock_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Management_Note__c</field>
            <value>
                <elementReference>Order_Management_Note1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO__c</field>
            <value>
                <elementReference>PO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Piracy__c</field>
            <value>
                <elementReference>Piracy1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Contact_Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSYS_Salesforce_Proposal_Number__c</field>
            <value>
                <elementReference>SSYY_Salesforce_Proposal_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Send to Order Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_on_PO__c</field>
            <value>
                <elementReference>Training_on_PO</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Cannot_Submit_to_Order_Management_Screen</name>
        <label>Cannot_Submit to Order Management Screen</label>
        <locationX>525</locationX>
        <locationY>132</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Do_not_resubmit_Order</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Hi {!$User.FirstName},&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This record has been submitted to &lt;span style=&quot;color: rgb(5, 5, 5);&quot;&gt;Order Management.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(234, 16, 16); font-size: 14px;&quot;&gt;You cannot re-submit the same order.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(9, 208, 29);&quot;&gt;If you need to edit this record, please contact your System Administrator.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(9, 208, 29);&quot;&gt;Thank you&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1159</locationX>
        <locationY>133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Faultmessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;An error occurred while submitting this order. Please read the details below&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(199, 24, 24);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(19, 202, 68); font-size: 14px;&quot;&gt;Please reach out to your System Administrator if you need to modify this record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_success</name>
        <label>Message success</label>
        <locationX>433</locationX>
        <locationY>448</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(20, 208, 80); font-size: 18px;&quot;&gt;Order Submitted Succesfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Submission_Form</name>
        <label>Order Submission Form</label>
        <locationX>617</locationX>
        <locationY>259</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Please fill out all necessary fields. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;The order will not be submitted if there is missing information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PO</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Records.PO__c</elementReference>
            </defaultValue>
            <fieldText>PO#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SSYY_Salesforce_Proposal_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Records.SSYS_Salesforce_Proposal_Number__c</elementReference>
            </defaultValue>
            <fieldText>SSYS Salesforce Proposal Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CHIT_Info</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Records.CHIT_Info__c</elementReference>
            </defaultValue>
            <fieldText>CHIT Info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Discount_Approved_by</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Records.Discount_Approved_By__c</elementReference>
            </defaultValue>
            <fieldText>Discount Approved by:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Primary_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Records.Primary_Contact__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Records.Primary_Contact__r.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_on_PO</name>
            <choiceReferences>Training</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Records.Training_on_PO__c</elementReference>
            </defaultValue>
            <fieldText>Training on PO</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Piracy1</name>
            <choiceReferences>Piracy</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Records.Piracy__c</elementReference>
            </defaultValue>
            <fieldText>Piracy</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Order_Management_Note1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Records.Order_Management_Note__c</elementReference>
            </defaultValue>
            <fieldText>Order Management Note</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_Requirements</name>
            <choiceReferences>DeliveryRequirements</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Records.Delivery_Requirements__c</elementReference>
            </defaultValue>
            <fieldText>Delivery Requirements</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dock_Hours</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Records.Dock_Hours__c</elementReference>
            </defaultValue>
            <fieldText>Dock Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upload_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>Content_Document_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>File_Format_OutPut</assignToReference>
                <name>accept</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Content_Document_Id</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>File_Upload_Label.Id</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>Content_Document_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_Format_OutPut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_Upload_Label</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
