force-app/main/default/flows/Update_Questionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commit_Action</name>
        <label>Commit Action</label>
        <locationX>264</locationX>
        <locationY>1094</locationY>
        <actionName>c:commitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Loop_Remaining_Question_Templates</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Account</name>
        <label>Redirect to Account</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Remove_Question_Template_from_Collection</name>
        <label>Remove Question Template from Collection</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Question_Templates</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Get_Corresponding_Question_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Questions</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Questionnaire</label>
    <loops>
        <name>Loop_Existing_Questions</name>
        <label>Loop Existing Questions</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_All_Existing_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Corresponding_Question_Template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Remaining_Question_Templates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Remaining_Question_Templates</name>
        <label>Loop Remaining Question Templates</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <collectionReference>Get_All_Question_Templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Redirect_to_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Question</name>
        <label>Create Question</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Commit_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Template__c</field>
            <value>
                <elementReference>Loop_Remaining_Question_Templates.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <elementReference>Loop_Remaining_Question_Templates.Question__c</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Profile_Question__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Existing_Questions</name>
        <label>Get All Existing Questions</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Questions</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Client_Profile_Question__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Question_Templates</name>
        <label>Get All Question Templates</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Existing_Questions</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Question_Template__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Corresponding_Question_Template</name>
        <label>Get Corresponding Question Template</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Question_Template_from_Collection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Existing_Questions.Question_Template__c</elementReference>
            </value>
        </filters>
        <object>Question_Template__c</object>
    </recordLookups>
    <startElementReference>Get_All_Question_Templates</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
